article.address-card
  div.address-card__wrapper
    div.address-card__item
      p.address-card__title Рабочие дни:
      p.address-card__text пнд, втр, срд
    div.address-card__item
      p.address-card__title Время: 
      p.address-card__text 09:55 - 17:55
    div.address-card__item
      p.address-card__title Телефон: 
      p.address-card__text
        a(href="tel:79255556677") +7 (925) 555 66 77
    div.address-card__item
      p.address-card__title Е-мейл: 
      p.address-card__text
        a(href="mailto:kawabanga@splinter.ru") kawabanga@splinter.ru

  div.address-card__footer
    div.address-card__links 
      p.address-card__text
        a(href="#").address-card__action Редактировать
      p.address-card__text
        a(href="#" data-id="45").address-card__action Удалить
