@import 'src/utils/utils';

.OrganizationProvider {
  @include zero;
  display: grid;
  row-gap: 15px;

  .Heading {
    margin-bottom: 15px;

    @media(max-width: $phone) {
      margin-bottom: 0;
    }
  }

  &__button {
    margin-top: 15px;
    padding-right: 15px;
    padding-left: 15px;

    @media(max-width: $phone) {
      margin-top: 5px;
    }
  }

  &__delete {
    @include zero;
    display: flex;
    max-width: 400px;
    flex-direction: column;
    align-items: center;
  }

  &__delete-navigation {
    @include zero;
    display: flex;
    column-gap: 10px;
  }

  &__question {
    @include zero;
    display: block;
    width: 60px;
    height: 60px;
  }

  &__delete-text {
    @include DТекст16inter-reg;
    @include zero;
    margin-bottom: 20px;
    text-align: center;
    color: $dark-blue-1;

    @media(max-width: $phone) {
      margin-top: 10px;
      margin-bottom: 15px;
    }
  }
}