article.question-card
  div.question-card__wrapper
    div.question-card__head 
      span.question-card__name Афанасьев Евангелий
      time(datetime='14-03-2022').question-card__date 14.03.2022
    div.question-card__main
      p.question-card__text Базовый класса премиум для производства, как классического так и крафтовых сортов пива. Этот солод произведен из отборного пивоваренного ячменя выведенного лучшими селекционерами Европы, отличительной особенностью является более высокая температура сушки, но короткая по времени. Эта особенность придает пиву тонкий карамельный вкус и легкий привкус хлебной корочки, а также увеличивает цветность пива. 
      div.question-card__slider
        div.swiper
          ul.swiper-wrapper.question-card__list
            li.swiper-slide.question-card__item
              img(src="./assets/images/promo-picture-1.jpeg" width='70' height='70' alt="")
            li.swiper-slide.question-card__item
              img(src="./assets/images/promo-picture-2.jpeg" width='70' height='70' alt="")
            li.swiper-slide.question-card__item
              img(src="./assets/images/item-background-1.jpg" width='70' height='70' alt="")
            li.swiper-slide.question-card__item
              img(src="./assets/images/item-background-2.jpg" width='70' height='70' alt="")
            li.swiper-slide.question-card__item
              img(src="./assets/images/promo-picture-3.jpeg" width='70' height='70' alt="")
            li.swiper-slide.question-card__item
              img(src="./assets/images/promo-picture-4.jpeg" width='70' height='70' alt="")
            li.swiper-slide.question-card__item
              img(src="./assets/images/promo-picture-6.jpeg" width='70' height='70' alt="")
            li.swiper-slide.question-card__item
              img(src="./assets/images/item-background-3.jpg" width='70' height='70' alt="")
            li.swiper-slide.question-card__item
              img(src="./assets/images/item-background-4.jpg" width='70' height='70' alt="")
        div.question-card__slider-buttons
          button(type='button' aria-label='Предыдущий слайд.').question-card__slider-button.question-card__slider-button--prev ←
          button(type='button' aria-label='Следующий слайд.').question-card__slider-button.question-card__slider-button--next →

article.question-card
  div.question-card__wrapper
    div.question-card__head 
      span.question-card__name Сергеев Евгений
      time(datetime='16-03-2022').question-card__date 16.03.2022
    div.question-card__main
      p.question-card__text Как уже неоднократно упомянуто, некоторые особенности внутренней политики могут быть ассоциативно распределены по отраслям. С учётом сложившейся международной обстановки, семантический разбор внешних противодействий предоставляет широкие возможности для поставленных обществом задач.

article.question-card
  div.question-card__wrapper
    div.question-card__head 
      span.question-card__name Карпов Владислав
      time(datetime='14-03-2022').question-card__date 14.03.2022
    div.question-card__main
      p.question-card__text Таким образом, высокотехнологичная концепция общественного уклада позволяет выполнить важные задания по разработке прогресса профессионального сообщества. Для современного мира курс на социально-ориентированный национальный проект предоставляет широкие возможности для соответствующих условий активизации.
      div.question-card__slider
        div.swiper
          ul.swiper-wrapper.question-card__list
            li.swiper-slide.question-card__item
              img(src="./assets/images/promo-picture-3.jpeg" width='70' height='70' alt="")
            li.swiper-slide.question-card__item
              img(src="./assets/images/promo-picture-4.jpeg" width='70' height='70' alt="")
            li.swiper-slide.question-card__item
              img(src="./assets/images/item-background-4.jpg" width='70' height='70' alt="")
        div.question-card__slider-buttons
          button(type='button' aria-label='Предыдущий слайд.').question-card__slider-button.question-card__slider-button--prev ←
          button(type='button' aria-label='Следующий слайд.').question-card__slider-button.question-card__slider-button--next →

article.question-card
  div.question-card__wrapper
    div.question-card__head 
      span.question-card__name Сергеев Евгений
      time(datetime='16-03-2022').question-card__date 15.03.2022
    div.question-card__main
      p.question-card__text Как уже неоднократно упомянуто, некоторые особенности внутренней политики могут быть ассоциативно распределены по отраслям. С учётом сложившейся международной обстановки, семантический разбор внешних противодействий предоставляет широкие возможности для поставленных обществом задач.
  div.question-card__wrapper.question-card__wrapper--admin
    div.question-card__head 
      span.question-card__name Ответ администрации
      time(datetime='16-03-2022').question-card__date 16.03.2022
    div.question-card__main
      p.question-card__text Господа, сложившаяся структура организации предопределяет высокую востребованность направлений прогрессивного развития. Следует отметить, что убеждённость некоторых оппонентов представляет собой интересный эксперимент проверки инновационных методов управления процессами.