div.pagination
  p.pagination__text Вы просмотрели 15 из 1143 товаров
  div.pagination__progress
    div(style='width: 35%').pagination__progress-bar
  button(type='button').button.button--transparent.pagination__button Показать еще
