.pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;

  @media print {
    display: none;
  }
  @media (max-width: $phone) {
    margin-top: 30px;
  }

  &__text {
    @include DТекст16inter-reg;
    margin: 0;
  }

  &__progress {
    display: block;
    width: 250px;
    height: 5px;
    margin: 0;
    margin-top: 15px;
    border: none;
    background-color: $grey-6;
    overflow: hidden;

    @media (max-width: $phone) {
      margin-top: 10px;
    }
  }

  &__progress-bar {
    width: 100%;
    height: 100%;
    background-color: $dark-blue-1;
  }

  &__button {
    width: 100%;
    margin-top: 30px;
  }
}
