.services {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;

    @media (max-width: $desktop) {
      grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    }

    @media (max-width: $phone) {
      column-gap: 20px;
      row-gap: 25px;
    }
  }
}
