include ../service-card/service-card

section.services
  div.container 
    div.services__wrapper
      +service-card({
        src: './assets/images/image-18.jpg',
        title: 'Новая парадигма реальности: жизнь прекрасна',
        text: 'Очевидцы сообщают, что слышали ласковый перезвон вертикали власти!',
      })
      +service-card({
        title: 'Главные СМИ предупреждают: небо темнеет',
        text: 'Неподкупность государственных СМИ оказалась ошибочной',
      })
      +service-card({
        src: './assets/images/image-19.jpg',
        title: 'Смешно, но парад бытовой техники оказался началом великой войны',
        text: 'Нынче никто не может себе позволить инициировать шопот бессменных лидеров',
      })
      +service-card({
        src: './assets/images/image-11.jpg',
        title: 'Был сорван доклад председателя совхоза!',
        text: 'Давайте разбираться: чистый разум не скован границами',
      })
      +service-card({
        src: './assets/images/image-12.jpg',
        title: 'Новая парадигма реальности: жизнь прекрасна',
        text: 'Очевидцы сообщают, что слышали ласковый перезвон вертикали власти!',
      })
      +service-card({
        src: './assets/images/image-7.jpg',
        title: 'Главные СМИ предупреждают: небо темнеет',
        text: 'Неподкупность государственных СМИ оказалась ошибочной',
      })
      +service-card({
        src: './assets/images/image-9.jpg',
        title: 'Смешно, но парад бытовой техники оказался началом великой войны',
        text: 'Нынче никто не может себе позволить инициировать шопот бессменных лидеров',
      })
      +service-card({
        src: './assets/images/image-10.jpg',
        title: 'Был сорван доклад председателя совхоза!',
        text: 'Давайте разбираться: чистый разум не скован границами',
      })
      +service-card({
        src: './assets/images/image-11.jpg',
        title: 'Смешно, но парад бытовой техники оказался началом великой войны',
        text: 'Давайте разбираться: чистый разум не скован границами',
      })
      +service-card({
        src: './assets/images/image-13.jpg',
        title: 'Жизнь прекрасна',
        text: 'Жизнь прекрасна!',
      })