section.cart
  div.container
    div.cart__total
      include ../cart-amount/cart-amount

    div.cart__block
      include ../cart-card/cart-card
      include ../cart-card/cart-card


    div.cart__total
      include ../cart-amount/cart-amount
