.cart {
  &__total {
    margin-top: 30px;
    margin-bottom: 30px;

    @media (max-width: $phone) {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__block {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: $white-1;

    @media (max-width: $phone) {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .cart-card:not(:last-of-type) {
      margin-bottom: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid $grey-4;
    }
  }
}
