.projects {
  margin-top: 60px;
  margin-bottom: 60px;

  @media (max-width: $phone) {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &__title {
    @include DЗаголовок40-Заголовок2;
    margin: 0;
    margin-bottom: 40px;

    @media (max-width: $phone) {
      margin-bottom: 20px;
    }

    em {
      font-style: normal;
      color: $blue-1;
    }
  }

  &__list {
    display: grid;
    margin: 0;
    padding: 0;
    list-style: none;
    column-gap: 30px;
    row-gap: 40px;
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $phone) {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
  }

  &__card {
    position: relative;
    display: block;
    padding-bottom: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: $grey-6;
    background-image: url("../assets/images/no-image.svg");
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
