section.projects
  div.container
    h2.projects__title Наши проекты
    ul.projects__list
      <!-- Рекомендуемые размеры 380/380. -->
      li.projects__item 
        div.projects__card
          img(src="./assets/images/image-3.jpg", alt="")
      li.projects__item 
        div.projects__card
          img(src="./assets/images/image-4.jpg", alt="")
      li.projects__item 
        div.projects__card
          img(src="./assets/images/image-13.jpg", alt="")
      li.projects__item 
        div.projects__card
          img(src="./assets/images/image-14.jpg", alt="")
      li.projects__item 
        div.projects__card
          img(src="./assets/images/image-10.jpg", alt="")
      li.projects__item 
        div.projects__card
          img(src="./assets/images/image-15.jpg", alt="")