.product-documents {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__block {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    @media (max-width: $phone) {
      gap: 10px;
    }
  }

  &__title {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
  }

  a:not([class]) {
    position: relative;
    display: inline-grid;
    align-items: center;
    grid-auto-flow: column;
    gap: 8px;
    text-decoration: none;
    color: $light-green-1;
    transition: color 0.3s;

    &:hover {
      @media (min-width: $desktop-only) {
        color: $blue-1;

        svg {
          visibility: initial !important;
          opacity: initial !important;
        }
      }
    }

    svg {
      width: 25px;
      height: 25px;
      stroke: currentColor;

      @media (max-width: $phone) {
        width: 28px;
        height: 28px;
      }

      &:nth-child(2n) {
        position: absolute;
        right: 0;
        left: 0;
        transition:
          visibility 0.3s,
          opacity 0.3s;
        visibility: hidden;
        opacity: 0;
      }
    }
  }
}