article.organization-card
  div.organization-card__wrapper

    div.organization-card__field
      span.organization-card__label ИНН компании
      div.organization-card__input 7729671176

    div.organization-card__field
      span.organization-card__label КПП компании
      div.organization-card__input 130001001
      
    div.organization-card__field
      span.organization-card__label ОГРН компании
      div.organization-card__input 5107746036261
      
    div.organization-card__field
      span.organization-card__label Краткое наименование компании
      div.organization-card__input ООО "ПЯТЬ УГЛОВ"
      
    div.organization-card__field.organization-card__field--wide
      span.organization-card__label Полное наименование компании
      div.organization-card__input ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "ПЯТЬ УГЛОВ"
      
    div.organization-card__field.organization-card__field--wide
      span.organization-card__label Юридический адрес компании
      div.organization-card__input г Саранск, ул Строительная, д 16Б, помещ 206А
      
    div.organization-card__field.organization-card__field--wide
      span.organization-card__label Почтовый адрес компании
      div.organization-card__input 430030, Респ Мордовия, г Саранск, ул Строительная, д 16Б, помещ 206А

  div.organization-card__footer
    div.organization-card__links 
      p.organization-card__text
        a(href="#").organization-card__action Редактировать
      p.organization-card__text
        a(href="#" data-id="45").organization-card__action Удалить