.catalog {
  margin-top: 60px;
  margin-bottom: 60px;

  @media (max-width: $phone) {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 380px;
    gap: 30px;

    @media (max-width: $desktop) {
      grid-template-columns: minmax(0, 1fr) 350px;
    }

    @media (max-width: $tablet) {
      display: block;
    }
  }

  &__sidebar {
    height: 100%;
    order: 1;

    @media (max-width: $tablet) {
      display: none;
    }
  }

  &__tabs {
    margin-bottom: 20px;
  }

  &__filters {
    margin-bottom: 30px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    column-gap: 15px;
    row-gap: 20px;

    @media (max-width: $tablet) {
      grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
    }

    @media (max-width: $phone) {
      grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
      column-gap: 10px;
      row-gap: 20px;
    }

    &--row {
      grid-template-columns: 1fr;
      gap: 15px;

      .item-card {
        display: flex;
        height: unset;
        flex-direction: row;

        @media (max-width: $phone) {
          flex-wrap: wrap;
        }

        &:not(:first-child) {
          padding-top: 20px;
          border-top: 1px solid $grey-4;
        }

        &__banner {
          position: relative;
          width: 60px;
          height: 85px;
          padding: 10px;
          flex-shrink: 0;

          @media (max-width: $phone) {
            width: 60px;
            height: 85px;
          }

          &:before {
            font-size: 40px;
            line-height: 1;
          }
        }

        &__content {
          padding-right: 15px;

          @media (max-width: $phone) {
            max-width: calc(100% - 15px - 60px);
            padding-right: 0;
          }
        }

        &__tags {
          position: initial;
        }

        &__main {
          display: inline;
        }

        &__title {
          display: inline;

          &:not(:last-child):after {
            margin-left: 0;
            content: ",";
          }
        }

        &__type {
          @include DЗаголовок30-Заголовок3;
          display: inline;

          &:not(:last-child):after {
            margin-left: 0;
            content: ",";
          }
        }

        &__stats {
          display: inline;
        }

        &__stat {
          @include DЗаголовок30-Заголовок3;
          display: inline;

          &:not(:last-child):after {
            margin-left: 0;
            content: ",";
          }

          b {
            font-weight: inherit;
          }
        }

        &__action {
          @media (max-width: $phone) {
            width: 100%;
          }
        }

        &__amount {
          @media (max-width: $phone) {
            grid-template-columns: 1fr 100px;
          }
        }
      }
    }
  }
}