include ../item-card/item-card
include ../top-filters/top-filters
include ../catalog-amount/catalog-amount

mixin catalog(props)
  section.catalog
    div.container 
      div.catalog__wrapper
        div.catalog__sidebar

          if props.empty
            +catalog-amount({
              empty: true,
            })
          else
            +catalog-amount({})

        div.catalog__main
          div.catalog__tabs
            include ../catalog-tabs/catalog-tabs

          div.catalog__filters
            +top-filters({
              view: true,
            })

          div.catalog__list
            +item-card({
              ver1: true,
              action: true,
            })
            +item-card({
              ver2: true,
              action: true,
            })
            +item-card({
              ver3: true,
              action: true,
            })
            +item-card({
              ver2: true,
              action: true,
            })
            +item-card({
              action: true,
            })
            +item-card({
              ver3: true,
              action: true,
            })
            +item-card({
              ver1: true,
              action: true,
            })
            +item-card({
              ver3: true,
              action: true,
            })
            +item-card({
              ver3: true,
              action: true,
            })
            +item-card({
              action: true,
            })
            +item-card({
              ver1: true,
              action: true,
            })
            +item-card({
              ver2: true,
              action: true,
            })
            +item-card({
              ver3: true,
              action: true,
            })
            +item-card({
              ver2: true,
              action: true,
            })
            +item-card({
              ver3: true,
              action: true,
            })

          include ../pagination/pagination
