.line {
  position: relative;
  z-index: 1;
  height: 640px;
  margin-bottom: -2px;
  background-color: $grey-3;

  @media (max-width: $tablet) {
    height: 500px;
  }
  @media (max-width: $phone) {
    height: 400px;
  }

  &__layer {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    @media (max-width: $phone) {
      background-attachment: initial;
    }
  }
}
