div.cart-amount
  div.cart-amount__wrapper
    div.cart-amount__block
      p.cart-amount__name Всего товаров:
      p.cart-amount__value 15
    div.cart-amount__block.cart-amount__block--total
      p.cart-amount__name Итого:
      p.cart-amount__value 20 000 ₽

  a(href="").button Оформить заказ