div.share
  ul.share__list
    li.share__item
      a(href="#" target="_blank" rel=" noopener noreferrer" aria-label="ВКонтакте").share__link.share__link--vk
    li.share__item
      a.share__link.share__link--copy
    //- li.share__item
    //-   a(href="#").share__link.share__link--fb
    //- li.share__item
    //-   a(href="#").share__link.share__link--insta
  div.share__message 
    span Ссылка скопирована