.layout-header {
  margin-bottom: 60px;

  @media (max-width: $phone) {
    margin-bottom: 40px;
  }

  & + .line {
    @media (max-width: $tablet) {
      margin-top: -20px;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: minmax(0, 800px) 1fr;
    column-gap: 30px;

    @media (max-width: $tablet) {
      grid-template-columns: 1fr;
      row-gap: 20px;
    }
  }

  &__main {
    p {
      margin: 0;
      margin-top: 10px;
    }

    & > p:first-child {
      margin-top: 0;
    }
  }

  &__sidebar {
    justify-self: flex-end;

    @media (max-width: $tablet) {
      justify-self: unset;
      order: 1;
    }
  }

  &__banner {
    margin-top: 60px;
    grid-column: 1 / -1;

    @media (max-width: $tablet) {
      margin-top: 20px;
      order: 2;
    }
    @media (max-width: $phone) {
      margin-top: 10px;
    }

    figure {
      margin: 0;
      padding: 0;

      img {
        display: block;
        width: 100%;
        height: auto;
        background-color: $grey-3;
        overflow: hidden;
      }
    }

    figcaption {
      @include DТекст14inter-reg;
      margin: 0;
      margin-top: 15px;
      padding: 0;
      color: $grey-8;

      @media (max-width: $phone) {
        margin-top: 5px;
      }
    }
  }

  &__stats {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    list-style: none;
    column-gap: 30px;
    row-gap: 20px;

    @media (max-width: $phone) {
      margin-bottom: 15px;
      column-gap: 20px;
      row-gap: 10px;
    }

    time {
      color: $grey-8;
    }

    a {
      color: $light-green-1;
      transition: text-decoration-color 0.3s;
      text-decoration-color: $light-green-1;

      &:hover {
        @media (min-width: $desktop-only) {
          text-decoration-color: transparent;
        }
      }
    }
  }

  &__button {
    min-width: 240px;
    margin-top: 30px;

    @media (max-width: $phone) {
      width: 100%;
      margin-top: 20px;
    }
  }
}
