@import 'src/utils/utils';

.RequestContactsProvider {
  position: relative;
  z-index: 5;
  padding-top: 60px;
  padding-bottom: 60px;

  @media(max-width: $phone) {
    padding-top: 30px;
    padding-bottom: 40px;
  }
}