@import 'src/utils/utils';

.RequestSearch {

  &__header {
    margin-bottom: 30px;

    @media(max-width: $phone) {
      margin-bottom: 20px;
    }
  }

  &__title {
    @include DЗаголовок40-Заголовок2;
    margin: 0;
    padding: 0;
  }

  &__post-title {
    margin: 0;
    margin-top: 20px;

    @media(max-width: $phone) {
      margin-top: 15px;
    }
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @media(max-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media(max-width: $phone) {
      grid-template-columns: 1fr;
    }
  }

  &__field {
    position: relative;

    &--wide {
      grid-column-start: 1;
      grid-column-end: -1;
    }
  }

  &__terms {
    display: grid;
    align-items: center;
    margin-top: 10px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @media(max-width: $phone) {
      margin-top: 0;
      grid-template-columns: 1fr;
      column-gap: 0;
      row-gap: 9px;
    }
  }

  &__legal {
    @include DТекст14inter-reg;
    margin: 0;
    padding: 0;
    color: $grey-8;
    grid-column: span 2;

    @media(max-width: $phone) {
      text-align: center;
      order: 1;
    }

    a {
      color: $light-green-1;
      transition: text-decoration-color 0.3s;
      text-decoration-color: $light-green-1;

      &:hover {
        @media(min-width: $desktop-only) {
          text-decoration-color: transparent;
        }
      }
    }
  }

  &__submit {
    @media(max-width: $phone) {
      width: 100%;
      min-width: unset;
    }
  }

  &__footer {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid $grey-6;

    @media(max-width: $phone) {
      margin-top: 20px;
      padding-top: 20px;
    }
  }

  &__contacts-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;

    @media(max-width: $phone) {
      flex-direction: column;
      row-gap: 10px;
    }
  }

  &__contacts-link {
    display: inline-grid;
    align-items: center;
    text-decoration: none;
    color: $dark-blue-1;
    transition: color 0.3s;
    grid-auto-flow: column;
    column-gap: 5px;

    &:hover {
      @media(min-width: $phone) {
        color: $blue-1;
      }
    }

    svg {
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      stroke: currentcolor;
    }
  }
}