@import 'src/utils/utils';

.Modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.7;
  }

  &__container {
    position: relative;
    z-index: 11;
    width: 100%;
    max-width: 420px;
    max-height: 100%;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: $white-1;
    filter: drop-shadow(0 25px 40px rgba(17, 17, 17, 0.2));

    @media(max-width: $phone) {
      margin-right: 15px;
      margin-left: 15px;
    }
  }

  &__close {
    @include zero;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 14px;
    height: 14px;
    border: 0;
    color: $dark-blue-1;
    background-color: transparent;
    transition: color 0.3s;
    cursor: pointer;

    &:hover {
      @media(min-width: $desktop-only) {
        stroke: $blue-1;
      }
    }

    svg {
      width: 100%;
      height: 100%;
      stroke: currentcolor;
    }
  }

  &--sms {

    .Modal__container {
      max-width: 390px;
    }
  }

  &--address {

    .Modal__container {
      width: 100%;
      max-width: 540px;
    }
  }
}