@import 'src/utils/utils';

.Address {
  @include zero;

  @media(max-width: $phone) {
    background-color: $white-1;
  }

  &__wrapper {
    @media(max-width: $phone) {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  &__header {
    @include DЗаголовок30-Заголовок3;
    @include zero;
    margin-bottom: 20px;
    color: $dark-blue-1;

    @media(max-width: $phone) {
      padding-top: 17px;
      padding-right: 50px;
      padding-bottom: 17px;
      padding-left: 15px;
      border-bottom: 1px solid $grey-6;
    }
  }

  &__heading {
    @include DТекст14inter-bold;
    @include zero;
    margin-bottom: 10px;
    color: $dark-blue-1;
  }

  &__toggles {
    @include zero;
    display: flex;
    margin-bottom: 20px;
    column-gap: 20px;

    @media(max-width: $phone) {
      column-gap: 10px;
    }
  }

  &__toggle {
    @include DТекст15inter-reg;
    @include zero;
    width: 100%;
    padding-top: 15px;
    padding-right: 5px;
    padding-bottom: 15px;
    padding-left: 5px;
    border: 1px dashed $grey-7;
    text-align: center;
    color: $dark-blue-1;
    background-color: transparent;
    transition: 0.3s;
    cursor: pointer;

    @media(max-width: $phone) {
      padding-top: 13px;
      padding-bottom: 13px;
    }

    &:hover {
      @media(min-width: $desktop-only) {
        border-color: $blue-1;
      }
    }

    &--active {
      border: 1px solid $dark-blue-1;
      pointer-events: none;
    }
  }

  &__form {
    @include zero;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @media(max-width: $phone) {
      display: block;
    }

    .Address__heading {
      grid-column-start: 1;
      grid-column-end: 3;

      @media(max-width: $phone) {
        grid-column-start: unset;
        grid-column-end: unset;
      }
    }

    & > .Address__input {

      @media(max-width: $phone) {
        margin-bottom: 20px;
      }
    }
  }

  &__subgrid {
    @include zero;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 144px) minmax(0, 135px);
    gap: 20px;
    grid-column-start: 1;
    grid-column-end: 3;

    @media(max-width: $phone) {
      grid-template-columns: 1fr;
    }
  }

  &__input-fullwidth {
    grid-column-start: 1;
    grid-column-end: 4;

    @media(max-width: $phone) {
      grid-column-start: unset;
      grid-column-end: unset;
    }
  }

  &__navigation {
    @include zero;
    display: flex;
    justify-content: flex-end;
    column-gap: 20px;
    grid-column-start: 1;
    grid-column-end: 3;

    @media(max-width: $phone) {
      margin-top: 10px;
      margin-right: -15px;
      margin-left: -15px;
      padding-top: 12px;
      padding-right: 15px;
      padding-bottom: 12px;
      padding-left: 15px;
      border-top: 1px solid $grey-6;
      justify-content: center;
      column-gap: 10px;
    }
  }

  &__button {
    @media(max-width: 425px) {
      width: 48%;
      padding-right: 5px;
      padding-left: 5px;
    }
  }

  &__input {

    &--error {

      .Input__field,
      .Textarea__field {
        border-color: $red-1;
      }

      .Input__label,
      .Textarea__label {
        color: $red-1;
      }

      .MuiSelect-select:before {
        border-color: $red-1 !important;
      }

    }
  }

  &__add {
    @include DТекст16inter-reg;
    @include zero;
    padding-top: 12px;
    padding-right: 10px;
    padding-bottom: 12px;
    padding-left: 10px;
    border: 0;
    background-color: transparent;
    color: $blue-1;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      @media(min-width: $desktop-only) {
        color: $dark-blue-1;
      }
    }
  }
}