.form {
  position: relative;
  overflow: hidden;

  @media (max-width: $phone) {
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  &__text {
    outline: none;

    // &:focus {
    //   background-color: $font-color;
    // }

    &--invalid {
      border: 1px solid #d20000 !important;
    }

    &--hidden {
      display: none;
    }
  }

  &__textarea {
    outline: none;
  }

  &__phone {
    outline: none;

    // &:focus {
    //   background-color: $font-color;
    // }
  }

  &__password {
    outline: none;

    // &:focus {
    //   background-color: $font-color;
    // }
  }

  &__content {
    transition: 0.3s;

    &--hidden {
      transform: translateY(-120%);
    }
  }

  &__greetings {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    visibility: hidden;
    transform: translateY(100%);
  }

  &__fail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    visibility: hidden;
    transform: translateY(100%);
  }

  &__visible {
    visibility: visible;
    transform: translateY(0);
  }

  &__reset {
    display: block;
    margin: 0 auto;
  }
}
