section.select-city
  div.select-city__form 
    div.select-city__field
      input(type="text" placeholder='Введите ваш город' autocomplete='off' autocapitalize='off' required).select-city__input
    div.select-city__field.select-city__field--select
      ul.select-city__list 
        li.select-city__item 
          span.select-city__name Москва
        li.select-city__item 
          span.select-city__name Санкт-Петербург
        li.select-city__item 
          span.select-city__name Архангельск
        li.select-city__item 
          span.select-city__name Владивосток
        li.select-city__item 
          span.select-city__name Волгоград
        li.select-city__item 
          span.select-city__name Воронеж
        li.select-city__item 
          span.select-city__name Екатеринбург
        li.select-city__item 
          span.select-city__name Ижевск
        li.select-city__item 
          span.select-city__name Иркутск
        li.select-city__item 
          span.select-city__name Клин Московская область
        li.select-city__item 
          span.select-city__name Клин, Веневский район, Тульская область
        li.select-city__item 
          span.select-city__name Клин, Одинцовский район, Московская область
        li.select-city__item 
          span.select-city__name Клин, Вачский район, Нижегородская область
        li.select-city__item 
          span.select-city__name Клин-9, Клин, Московская область