.select-city {
  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__field {
    &--select {
      height: 305px;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }

  &__input {
    @include DТекст16inter-reg;
    width: 100%;
    margin: 0;
    padding-top: 11px;
    padding-right: 14px;
    padding-bottom: 12px;
    padding-left: 14px;
    border: 1px solid $grey-6;
    color: $dark-blue-1;
    background-color: $white-1;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;

    &::placeholder {
      @include DТекст16inter-reg;
      color: $grey-8;
    }

    &:disabled {
      color: $grey-8;
      background-color: $grey-3;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    @include DТекст16inter-reg;
    max-width: 390px;
    margin: 0;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 13px;
    padding-left: 10px;
    text-align: left;
    color: $black-1;
    transition:
      color 0.3s,
      background-color 0.3s;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
      @media (min-width: $desktop-only) {
        color: $blue-1;
        background-color: $grey-3;
      }
    }

    &--hidden {
      display: none;
    }
  }

  &__name {
    pointer-events: none;
  }
}
