mixin tags(props)
  section.tags
    div.container
      if props.title
        h2.tags__title=props.title
      ul.tags__list
        li.tags__item
          a(href="#").tags__link #новичкам
        li.tags__item
          a(href="#").tags__link #нашвыбор
        li.tags__item
          a(href="#").tags__link #beerresourse_рекомендует
        li.tags__item
          a(href="#").tags__link #бухуслуги 
        li.tags__item
          a(href="#").tags__link #еще_тег
        li.tags__item
          a(href="#").tags__link #и_еще_один_тег
        li.tags__item
          a(href="#").tags__link #новичкам
        li.tags__item
          a(href="#").tags__link #нашвыбор
        li.tags__item
          a(href="#").tags__link #beerresourse_рекомендует
        li.tags__item
          a(href="#").tags__link #бухуслуги 
        li.tags__item
          a(href="#").tags__link #еще_тег
        li.tags__item
          a(href="#").tags__link #и_еще_один_тег
        li.tags__item
          a(href="#").tags__link #новичкам
        li.tags__item
          a(href="#").tags__link #нашвыбор
        li.tags__item
          a(href="#").tags__link #beerresourse_рекомендует
        li.tags__item
          a(href="#").tags__link #бухуслуги 
        li.tags__item
          a(href="#").tags__link #еще_тег
        li.tags__item
          a(href="#").tags__link #и_еще_один_тег