.tags {
  margin-top: 60px;
  margin-bottom: 60px;

  @media (max-width: $phone) {
    margin-top: 30px;
    margin-bottom: 40px;
  }

  &__title {
    @include DЗаголовок40-Заголовок2;
    margin: 0;
    margin-bottom: 40px;

    @media (max-width: $phone) {
      margin-bottom: 20px;
    }

    em {
      font-style: normal;
      color: $blue-1;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    column-gap: 25px;
    row-gap: 10px;
  }

  &__link {
    @include DТекст16inter-med;
    display: block;
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
    cursor: pointer;

    &:hover {
      @media (min-width: $desktop-only) {
        color: $blue-1;
      }
    }
  }
}
