section.seo
  div.container 
    div.seo__wrapper
      h2.seo__title <em>Очевидцы</em> сообщают, что слышали гитарный перебор
      div.seo__content
        p Повседневная практика показывает, что реализация намеченных плановых заданий в значительной степени обуславливает создание модели развития. Равным образом рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
        p Прежде всего, укрепление и развитие внутренней структуры однозначно фиксирует необходимость поэтапного и последовательного развития общества. Приятно, граждане, наблюдать, как стремящиеся вытеснить традиционное производство, нанотехнологии представлены в исключительно положительном свете.
