.profile-form {
  @include DТекст16inter-reg;

  &__fieldset {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    margin: 0;
    padding: 0;
    border: none;
    gap: 20px;

    @media (max-width: $phone) {
      grid-template-columns: 1fr;
    }
  }

  &__fields {
    margin: 0;
    padding: 0;
    border: 0;

    &:has(.validator__description--error) {
      .profile-form__label {
        color: $red-1 !important;
      }
    }
  }

  &__fields-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  &__field {
    position: relative;

    &--wide {
      grid-column: 1 / -1;
    }
  }

  &__field-inner {
    .profile-form__label {
      display: none;
    }
  }

  &__legend {
    @include DЗаголовок25-Заголовок4;
    margin-bottom: 15px;
    padding: 0;

    @media (max-width: $phone) {
      margin: 15px 0;
    }
  }

  &__label {
    @include DТекст14inter-reg;
    display: block;
    margin-bottom: 3px;

    span {
      color: $light-red-1;
    }

    &.error {
      color: $red-1;
    }
  }

  &__input {
    display: block;
    width: 100%;
    height: 55px;
    margin: 0;
    padding-top: 13px;
    padding-right: 15px;
    padding-bottom: 12px;
    padding-left: 15px;
    border: 1px solid $grey-6;
    font: inherit;
    color: $dark-blue-1;
    background-color: $white-1;
    outline: none;
    resize: none;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (max-width: $phone) {
      height: 45px;
    }

    &::placeholder {
      color: $grey-8;
    }

    &:disabled {
      color: $grey-8;
      background-color: $grey-3;
    }
  }

  &__select {
    display: none;
  }

  &__action {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 50px;
    padding-top: 50px;
    border-top: 2px dotted $grey-8;
    gap: 20px;

    @media (max-width: $phone) {
      flex-direction: column-reverse;
      margin-top: 30px;
      padding-top: 30px;
      gap: 15px;
    }
  }

  &__eye {
    position: absolute;
    top: 35px;
    right: 15px;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 0;
    line-height: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: contain;
    cursor: pointer;

    @media (max-width: $phone) {
      top: 32px;
      right: 10px;
      width: 24px;
      height: 24px;
    }
  }

  &__choices {
    margin: 0;
    padding: 0;
    transition: color 0.3s;
    flex-shrink: 0;

    @media (max-width: $phone) {
      width: 100%;
    }

    &:hover {
      @media (min-width: $desktop-only) {
        color: $blue-1;
      }
    }

    .choices__item {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .choices__list--single {
      @include DТекст16inter-reg;
      min-height: 55px;
      margin: 0;
      padding: 0;
      padding-top: 11px;
      padding-right: 34px;
      padding-bottom: 12px;
      padding-left: 14px;
      border: 1px solid $grey-6;
      text-align: left;
      color: currentcolor;
      background-color: $white-1;

      @media (max-width: $phone) {
        min-height: 45px;
      }
    }

    .choices__list--dropdown {
      @include Shadow;
      z-index: 5;
      min-width: 100%;
      margin: 0;
      border: 1px solid $grey-6;
      border-top: 0;
      border-radius: 0;
      background-color: $white-1;
      word-break: initial;

      .choices__list {
        padding-top: 4px;
        padding-right: 4px;
        padding-bottom: 4px;
        padding-left: 4px;
      }

      .choices__item {
        @include DТекст16inter-reg;
        margin: 0;
        padding-top: 12px;
        padding-right: 12px;
        padding-bottom: 13px;
        padding-left: 10px;
        border-radius: 0;
        text-align: left;
        color: $black-1;
        transition:
          color 0.3s,
          background-color 0.3s;
        text-overflow: ellipsis;
        overflow: hidden;

        &:not(.has-no-choices):not(.choices__item--disabled):hover {
          @media (min-width: $desktop-only) {
            color: $blue-1;
            background-color: $grey-3;
          }
        }
      }

      .choices__placeholder {
        display: none;
      }

      .is-highlighted {
        background-color: $white-1;
      }

      .is-selected {
        display: none;
      }
    }

    .choices__placeholder {
      color: $grey-8;
      opacity: 1;
    }

    &[data-type*="select-one"] {
      .choices__inner {
        min-height: unset;
        margin: 0;
        padding: 0;
        border: 0;
        border-radius: 0;
        background-color: transparent;
      }

      .choices__button {
        display: none;
      }
    }

    &[data-type*="select-one"]:before {
      position: absolute;
      top: calc(50% - 2px);
      right: 21px;
      width: 10px;
      height: 2px;
      margin: 0;
      border: 0;
      background-color: currentcolor;
      transition: transform 0.3s;
      transform: rotate(45deg);
      pointer-events: none;
      content: "";
    }

    &[data-type*="select-one"]:after {
      position: absolute;
      top: calc(50% - 2px);
      right: 15px;
      width: 10px;
      height: 2px;
      margin: 0;
      border: 0;
      background-color: currentcolor;
      transition: transform 0.3s;
      transform: rotate(-45deg);
      pointer-events: none;
      content: "";
    }

    &[data-type*="select-one"].is-open:before {
      margin: 0;
      transform: rotate(-45deg);
    }

    &[data-type*="select-one"].is-open:after {
      margin: 0;
      transform: rotate(45deg);
    }

    &[data-type*="select-one"].is-open .choices__inner {
      border-radius: 0;
    }

    .choices__list--multiple {
      .choices__item {
        @include DТекст16inter-med;
        position: relative;
        align-items: center;
        margin-right: 3px;
        margin-bottom: 3px;
        padding-top: 4px;
        padding-right: 20px;
        padding-bottom: 5px;
        padding-left: 20px;
        border-radius: 50px;
        border: 0;
        color: #ffffff;
        background-color: #212121;
        transition: background-color 0.3s;
        flex-shrink: 0;
      }
    }

    &[data-type*="select-multiple"] {
      .choices__inner {
        @include DТекст16inter-reg;
        min-height: 55px;
        margin: 0;
        padding: 0;
        padding-top: 6px;
        padding-right: 34px;
        padding-bottom: 4px;
        padding-left: 14px;
        border: 1px solid $grey-6;
        text-align: left;
        color: currentcolor;
        background-color: $white-1;

        @media (max-width: $phone) {
          min-height: 45px;
        }
      }

      .choices__input {
        @include DТекст16inter-reg;
        height: 39px;
        margin: 0;
        padding: 0;
        padding-top: 0;
        padding-right: 5px;
        padding-bottom: 0;
        padding-left: 5px;
        color: $grey-8;
        border: 0;
        text-align: left;
        background-color: $white-1;

        @media (max-width: $phone) {
          height: 29px;
        }

        &::placeholder {
          color: inherit;
        }
      }
    }
  }

  .suggestions-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    width: 100%;
    margin-top: 4px;
    background-color: $white-1;
    box-shadow: 0 0 25px 0 rgba($color: #3c3c3c, $alpha: 18%);

    .suggestions-suggestions div {
      @include DТекст16inter-reg;
      margin: 0;
      padding-top: 12px;
      padding-right: 12px;
      padding-bottom: 13px;
      padding-left: 10px;
      border-radius: 0;
      text-align: left;
      color: $black-1;
      transition:
        color 0.3s,
        background-color 0.3s;
      text-overflow: ellipsis;
      overflow: hidden;

      &:hover {
        @media (min-width: $desktop-only) {
          color: $blue-1;
          background-color: $grey-3;
        }
      }

      &:active {
        color: $blue-1;
        background-color: $grey-3;
      }
    }

    .suggestions-hint {
      display: none !important;
    }

    .suggestions-promo {
      display: none !important;
    }
  }
}
