.profile-form {
  @include DТекст16inter-reg;

  &__fieldset {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    margin: 0;
    padding: 0;
    border: none;
    gap: 30px;

    @media (max-width: $phone) {
      grid-template-columns: 1fr;
    }
  }

  &__legend {
    @include DЗаголовок25-Заголовок4;
    margin-bottom: 30px;
    padding: 0;
  }

  &__label {
    @include DТекст18inter-reg;
    position: absolute;
    top: 0;
    left: 0;
    transition: all $transition-time;
    pointer-events: none;
    user-select: none;

    span {
      color: $light-red-1;
    }

    &.error {
      color: $red-1;
    }
  }

  &__fields {
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;

    &:has(.validator__description--error) {
      .profile-form__label {
        color: $red-1 !important;
      }
    }

    // 1. Поднятие label если есть значение в input
    &:has(input:not(:placeholder-shown)) .profile-form,
    &:has(textarea:not(:placeholder-shown)) .profile-form {
      &__label {
        @include MТекст14Inter-reg;
        top: -20px;
      }
    }

    // 2. Сброс label для селекта с выбранными элементов
    &:has(.choices__list--single) .profile-form {
      &__label {
        @include MТекст14Inter-reg;
        top: -20px;
      }
    }

    // 3. Сброс label для селекта без выбранных элементов
    &:has(.choices__list--single .choices__placeholder) .profile-form {
      &__label {
        @include DТекст18inter-reg;
        top: 0;
      }
    }

    // 4. Сброс label для мультиселекта без выбранных элементов
    &:has(.choices__list--multiple) .profile-form {
      &__label {
        @include DТекст18inter-reg;
        top: 0;
      }
    }

    // 5. Поднятие label для мультиселекта с выбранными элементами
    &:has(.choices__list--multiple .choices__item--selectable) .profile-form {
      &__label {
        @include MТекст14Inter-reg;
        top: -20px;
      }
    }
  }

  &__fields-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  &__field {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;

    // 1. Поднятие label если есть значение в input
    &:has(input:not(:placeholder-shown)) .profile-form,
    &:has(textarea:not(:placeholder-shown)) .profile-form {
      &__label {
        @include MТекст14Inter-reg;
        top: -20px;
      }
    }

    // 2. Сброс label для селекта с выбранными элементов
    &:has(.choices__list--single) .profile-form {
      &__label {
        @include MТекст14Inter-reg;
        top: -20px;
      }
    }

    // 3. Сброс label для селекта без выбранных элементов
    &:has(.choices__list--single .choices__placeholder) .profile-form {
      &__label {
        @include DТекст18inter-reg;
        top: 0;
      }
    }

    // 4. Сброс label для мультиселекта без выбранных элементов
    &:has(.choices__list--multiple) .profile-form {
      &__label {
        @include DТекст18inter-reg;
        top: 0;
      }
    }

    // 5. Поднятие label для мультиселекта с выбранными элементами
    &:has(.choices__list--multiple .choices__item--selectable) .profile-form {
      &__label {
        @include MТекст14Inter-reg;
        top: -20px;
      }
    }

    &--wide {
      grid-column: 1 / -1;
    }
  }

  &__field-inner {

    .profile-form__label {
      display: none;
    }
  }

  &__input {
    @include DТекст16inter-reg;
    width: 100%;
    min-height: 44px;
    margin: 0;
    padding: 0;
    padding-bottom: 12px;
    border: 0;
    border-bottom: 1px solid $dark-blue-1;
    color: $dark-blue-1;
    background-color: transparent;
    outline: none;
    resize: none;
    overflow: hidden;
    text-overflow: ellipsis;

    &::-webkit-datetime-edit &::-webkit-datetime-edit-fields-wrapper &::-webkit-datetime-edit-text &::-webkit-datetime-edit-month-field &::-webkit-datetime-edit-day-field &::-webkit-datetime-edit-year-field &::-webkit-inner-spin-button &::-webkit-calendar-picker-indicator {
      display: none;
    }

    &::placeholder {
      font: inherit;
      color: $grey-8;
    }

    &:disabled {
      color: $grey-8;
      background-color: $grey-3;
    }

    &:not(textarea) {
      white-space: nowrap;
    }

    &:placeholder-shown {}

    &[readonly] {
      color: $grey-8;
    }
  }

  &__select {
    display: none;
  }

  &__action {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 50px;
    padding-top: 50px;
    border-top: 2px dotted $grey-8;
    gap: 20px;

    @media (max-width: $phone) {
      flex-direction: column-reverse;
      margin-top: 30px;
      padding-top: 30px;
      gap: 15px;
    }
  }

  &__eye {
    position: absolute;
    top: 35px;
    right: 15px;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 0;
    line-height: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: contain;
    cursor: pointer;

    @media (max-width: $phone) {
      top: 32px;
      right: 10px;
      width: 24px;
      height: 24px;
    }
  }

  &__choices {
    @include select;
  }

  .suggestions-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    width: 100%;
    margin-top: 4px;
    background-color: $white-1;
    box-shadow: 0 0 25px 0 rgba($color: #3c3c3c, $alpha: 18%);

    .suggestions-suggestions div {
      @include DТекст16inter-reg;
      margin: 0;
      padding-top: 12px;
      padding-right: 12px;
      padding-bottom: 13px;
      padding-left: 10px;
      border-radius: 0;
      text-align: left;
      color: $black-1;
      transition:
        color 0.3s,
        background-color 0.3s;
      text-overflow: ellipsis;
      overflow: hidden;
      cursor: pointer;

      &:hover {
        @media (min-width: $desktop-only) {
          color: $blue-1;
          background-color: $grey-3;
        }
      }

      &:active {
        color: $blue-1;
        background-color: $grey-3;
      }
    }

    .suggestions-hint {
      display: none !important;
    }

    .suggestions-promo {
      display: none !important;
    }
  }
}