section.privacy
  div.container
    div.privacy__wrapper
      p Настоящий Договор является официальным предложением (публичной офертой) {Наименование компании}. Адрес: <a href="#" target="_blank" rel="noopener noreferrer">sitename.ru</a> , в дальнейшем «Продавец», для любого физического или юридического лица (далее – «Покупатель»), которое примет настоящее предложение, на указанных ниже условиях. Настоящая Оферта действует на всей территории Российской Федерации с даты опубликования.

      ol
        li Общие положения
          ol 
            li ООО «хххх» (далее — «ххх») предлагает пользователю сети Интернет (далее – Пользователь) — использовать сервис ххх, доступный по адресу: <a href="#" target="_blank" rel="noopener noreferrer">http://ххх.ru</a> (далее – «Сервис»).
            li Настоящие Условия представляют собой дополнение к Пользовательскому соглашению сервисов ххх относительно порядка использования Сервиса. Во всем, что не предусмотрено настоящими Условиями, отношения между ххх и Пользователем в связи с использованием Сервиса регулируются Пользовательским соглашением сервисов ххх <a href="#" target="_blank" rel="noopener noreferrer">(https://ххх.ru/legal/rules)</a>, а также Лицензией на использование поисковой системы ххх <a href="#" target="_blank" rel="noopener noreferrer">(https://ххх.ru/legal/termsofuse)</a>, Политикой конфиденциальности <a href="#" target="_blank" rel="noopener noreferrer">(https://ххх.ru/legal/confidential)</a>.
            li Начиная использовать Сервис/его отдельные функции, Пользователь считается принявшим настоящие Условия, а также условия всех указанных выше документов, в полном объеме, без всяких оговорок и исключений. В случае несогласия Пользователя с какими-либо из положений указанных документов, Пользователь не вправе использовать Сервис.
            li Персональные данные, разрешённые к обработке в рамках настоящей Политики конфиденциальности, предоставляются Пользователем путём заполнения формы на сайте <a href="#" target="_blank" rel="noopener noreferrer">http://www.5corners.ru/</a> в соответствующих разделах и включают в себя следующую информацию:
              ol 
                li фамилию, имя, отчество Пользователя;
                li адрес электронной почты (e-mail);
                li домашний, рабочий, мобильный телефоны;
            li Настоящие Условия могут быть изменены ххх без какого-либо специального уведомления, новая редакция Условий вступает в силу с момента ее размещения в сети Интернет по указанному в настоящем абзаце адресу, если иное не предусмотрено новой редакцией Условий. Действующая редакция Условий всегда находится на странице по адресу: <a href="#" target="_blank" rel="noopener noreferrer">https://ххх.ru/legal/translate_termsofuse</a>.

        li Цели сбора персональных данных пользователей
          ul 
            li Подтверждения достоверности и полноты персональных данных, предоставленных Пользователем.
            li Создания учетной записи для совершения покупок, если Пользователь дал согласие на создание учетной записи.
            li Уведомления Пользователя сайта http://www.5corners.ru/ о состоянии Заказа.

        li Использования Сервиса. Отдельные функции Сервиса
          ol 
            li ООО «хххх» (далее — «ххх») предлагает пользователю сети Интернет (далее – Пользователь) — использовать сервис ххх, доступный по адресу: <a href="#" target="_blank" rel="noopener noreferrer">http://ххх.ru</a> (далее – «Сервис»):
            li Сервис предоставляет Пользователю возможность автоматического перевода с одного языка на другой текстов, введенных Пользователем, а также веб-страниц, адрес (URL) которых укажет Пользователь:
              ul 
                li Сервис предоставляет Пользователю возможность автоматического перевода с одного языка на другой текстов, введенных Пользователем, а также веб-страниц, адрес (URL) которых укажет Пользователь
                li Сервис предоставляет Пользователю возможность автоматического перевода с одного языка на другой текстов, введенных Пользователем, а также веб-страниц, адрес (URL) которых укажет Пользователь
                li Сервис предоставляет Пользователю возможность автоматического перевода с одного языка на другой текстов, введенных Пользователем, а также веб-страниц, адрес (URL) которых укажет Пользователь
                li Сервис предоставляет Пользователю возможность автоматического перевода с одного языка на другой текстов, введенных Пользователем, а также веб-страниц, адрес (URL) которых укажет Пользователь
            li Начиная использовать Сервис/его отдельные функции, Пользователь считается принявшим настоящие Условия, а также условия всех указанных выше документов, в полном объеме, без всяких оговорок и исключений. В случае несогласия Пользователя с какими-либо из положений указанных документов, Пользователь не вправе использовать Сервис.
            li Настоящие Условия могут быть изменены ххх без какого-либо специального уведомления, новая редакция Условий вступает в силу с момента ее размещения в сети Интернет по указанному в настоящем абзаце адресу, если иное не предусмотрено новой редакцией Условий. Действующая редакция Условий всегда находится на странице по адресу: <a href="#" target="_blank" rel="noopener noreferrer">https://ххх.ru/legal/translate_termsofuse</a>.

        li Общие положения
          ol 
            li ООО «хххх» (далее — «ххх») предлагает пользователю сети Интернет (далее – Пользователь) — использовать сервис ххх, доступный по адресу: <a href="#" target="_blank" rel="noopener noreferrer">http://ххх.ru</a> (далее – «Сервис»).
            li Настоящие Условия представляют собой дополнение к Пользовательскому соглашению сервисов ххх относительно порядка использования Сервиса. Во всем, что не предусмотрено настоящими Условиями, отношения между ххх и Пользователем в связи с использованием Сервиса регулируются Пользовательским соглашением сервисов ххх <a href="#" target="_blank" rel="noopener noreferrer">(https://ххх.ru/legal/rules)</a>, а также Лицензией на использование поисковой системы ххх <a href="#" target="_blank" rel="noopener noreferrer">(https://ххх.ru/legal/termsofuse)</a>, Политикой конфиденциальности <a href="#" target="_blank" rel="noopener noreferrer">(https://ххх.ru/legal/confidential)</a>.
            li Начиная использовать Сервис/его отдельные функции, Пользователь считается принявшим настоящие Условия, а также условия всех указанных выше документов, в полном объеме, без всяких оговорок и исключений. В случае несогласия Пользователя с какими-либо из положений указанных документов, Пользователь не вправе использовать Сервис.
            li Настоящие Условия могут быть изменены ххх без какого-либо специального уведомления, новая редакция Условий вступает в силу с момента ее размещения в сети Интернет по указанному в настоящем абзаце адресу, если иное не предусмотрено новой редакцией Условий. Действующая редакция Условий всегда находится на странице по адресу: <a href="#" target="_blank" rel="noopener noreferrer">https://ххх.ru/legal/translate_termsofuse</a>.
        li Использования Сервиса. Отдельные функции Сервиса
          ol 
            li ООО «хххх» (далее — «ххх») предлагает пользователю сети Интернет (далее – Пользователь) — использовать сервис ххх, доступный по адресу: <a href="#" target="_blank" rel="noopener noreferrer">http://ххх.ru</a> (далее – «Сервис»):
            li Сервис предоставляет Пользователю возможность автоматического перевода с одного языка на другой текстов, введенных Пользователем, а также веб-страниц, адрес (URL) которых укажет Пользователь:
              ul 
                li Сервис предоставляет Пользователю возможность автоматического перевода с одного языка на другой текстов, введенных Пользователем, а также веб-страниц, адрес (URL) которых укажет Пользователь
                li Сервис предоставляет Пользователю возможность автоматического перевода с одного языка на другой текстов, введенных Пользователем, а также веб-страниц, адрес (URL) которых укажет Пользователь
            li Начиная использовать Сервис/его отдельные функции, Пользователь считается принявшим настоящие Условия, а также условия всех указанных выше документов, в полном объеме, без всяких оговорок и исключений. В случае несогласия Пользователя с какими-либо из положений указанных документов, Пользователь не вправе использовать Сервис.
            li Настоящие Условия могут быть изменены ххх без какого-либо специального уведомления, новая редакция Условий вступает в силу с момента ее размещения в сети Интернет по указанному в настоящем абзаце адресу, если иное не предусмотрено новой редакцией Условий. Действующая редакция Условий всегда находится на странице по адресу: <a href="#" target="_blank" rel="noopener noreferrer">https://ххх.ru/legal/translate_termsofuse</a>.


