.privacy {
  margin-top: 35px;

  @media (max-width: $phone) {
    margin-top: 15px;
  }

  p {
    @include DТекст16inter-reg;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
  }

  a {
    color: $light-green-1;
    transition: text-decoration-color 0.3s;
    text-decoration-color: $light-green-1;

    &:hover {
      @media (min-width: $desktop-only) {
        text-decoration-color: transparent;
      }
    }
  }

  ol {
    margin: 0;
    margin-top: 40px;
    padding: 0;
    list-style: none;
    counter-reset: lvl1;

    @media (max-width: $phone) {
      margin-top: 10px;
    }

    li {
      @include DТекст18inter-bold;
      position: relative;
      margin: 0;
      margin-top: 40px;
      padding: 0;
      padding-left: 25px;
      counter-increment: lvl1;

      @media (max-width: $phone) {
        margin-top: 20px;
        padding-left: 0;
      }

      &:first-of-type {
        margin-top: 0;
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: counter(lvl1) ". ";

        @media (max-width: $phone) {
          position: relative;
        }
      }

      p {
        @include DТекст16inter-reg;
        margin: 0;
        padding: 0;
      }

      ol {
        margin-top: 20px;
        counter-reset: lvl2;

        @media (max-width: $phone) {
          margin-top: 10px;
        }

        li {
          @include DТекст16inter-reg;
          margin-top: 0;
          margin-bottom: 15px;
          padding-left: 40px;
          counter-increment: lvl2;

          @media (max-width: $phone) {
            margin-bottom: 10px;
            padding-left: 0;
          }

          &:before {
            content: counter(lvl1) "." counter(lvl2) ". ";
          }

          ol {
            margin-top: 15px;
            counter-reset: lvl3;

            @media (max-width: $phone) {
              margin-top: 10px;
            }

            li {
              margin-top: 0;
              margin-bottom: 10px;
              padding-left: 50px;
              counter-increment: lvl3;

              @media (max-width: $phone) {
                margin-bottom: 5px;
                padding-left: 0;
              }

              &:before {
                content: counter(lvl1) "." counter(lvl2) "." counter(lvl3) ". ";
              }
            }
          }

          ul {
            margin-top: 15px;

            @media (max-width: $phone) {
              margin-top: 10px;
            }

            li {
              margin-top: 0;
              margin-bottom: 10px;
              padding-left: 50px;
              counter-increment: unset !important;

              @media (max-width: $phone) {
                padding-left: 0;
              }

              &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: "— " !important;

                @media (max-width: $phone) {
                  position: relative;
                }
              }
            }
          }
        }
      }

      ul {
        margin-top: 20px;

        @media (max-width: $phone) {
          margin-top: 10px;
        }

        li {
          @include DТекст16inter-reg;
          margin-top: 0;
          margin-bottom: 15px;
          padding-left: 40px;
          counter-increment: unset !important;

          @media (max-width: $phone) {
            margin-bottom: 10px;
            padding-left: 0;
          }

          &:before {
            position: absolute;
            top: 0;
            left: 0;
            content: "— " !important;

            @media (max-width: $phone) {
              position: relative;
            }
          }
        }
      }
    }
  }

  ul {
    margin: 0;
    margin-top: 15px;
    padding: 0;
    list-style: none;

    li {
      @include DТекст16inter-reg;
      position: relative;
      margin: 0;
      margin-top: 40px;
      padding: 0;
      padding-left: 40px;
      counter-increment: unset !important;

      @media (max-width: $phone) {
        margin-top: 10px;
        padding-left: 0;
      }

      &:first-of-type {
        margin-top: 0;
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "— " !important;

        @media (max-width: $phone) {
          position: relative;
        }
      }
    }
  }

  &__wrapper {
    max-width: 740px;
  }
}
