div.corners-filter
  div.corners-filter__head
    form(action="#" method='post').corners-filter__form
      div.corners-filter__fields

        div.corners-filter__group
          button(type='button').corners-filter__toggle Страна
          div.corners-filter__dropdown
            div.corners-filter__dropdown-head
              span Страна
              button(type='button').corners-filter__dropdown-close
                span
            fieldset.corners-filter__fieldset
              label.corners-filter__label
                span Бельгия
                input(type="checkbox" name="country" value='belgium' data-name='Страна' data-value='Бельгия') 
              label.corners-filter__label
                span Германия
                input(type="checkbox" name="country" value='germany' data-name='Страна' data-value='Германия') 
              label.corners-filter__label
                span Ирландия
                input(type="checkbox" name="country" value='ireland' data-name='Страна' data-value='Ирландия') 
              label.corners-filter__label
                span Португалия
                input(type="checkbox" name="country" value='portugal' data-name='Страна' data-value='Португалия') 


        div.corners-filter__group
          button(type='button').corners-filter__toggle Стиль
          div.corners-filter__dropdown
            div.corners-filter__dropdown-head
              span Стиль
              button(type='button').corners-filter__dropdown-close
                span
            fieldset.corners-filter__fieldset
              label.corners-filter__label
                span Barleywine
                input(type="checkbox" name="type" value='barleywine' data-name='Стиль' data-value='Barleywine') 

              label.corners-filter__label
                span Belgian
                input(type="checkbox" name="type" value='belgian' data-name='Стиль' data-value='Belgian') 

              label.corners-filter__label
                span Brown ale
                input(type="checkbox" name="type" value='brownAle' data-name='Стиль' data-value='Brown ale') 

              label.corners-filter__label
                span Gose
                input(type="checkbox" name="type" value='gose' data-name='Стиль' data-value='Gose') 

              label.corners-filter__label
                span IPA
                input(type="checkbox" name="type" value='ipa' data-name='Стиль' data-value='IPA') 

              label.corners-filter__label
                span Lager
                input(type="checkbox" name="type" value='lager' data-name='Стиль' data-value='Lager') 

              label.corners-filter__label
                span Non-Alcoholic - Cider
                input(type="checkbox" name="type" value='nonAlcoholicCider' data-name='Стиль' data-value='Non-Alcoholic - Cider') 

              label.corners-filter__label
                span Pale ale
                input(type="checkbox" name="type" value='paleAle' data-name='Стиль' data-value='Pale ale') 


        div.corners-filter__group
          button(type='button').corners-filter__toggle Пивоварня
          div.corners-filter__dropdown
            div.corners-filter__dropdown-head
              span Пивоварня
              button(type='button').corners-filter__dropdown-close
                span
            fieldset.corners-filter__fieldset
              label.corners-filter__label
                span BREWLOK
                input(type="checkbox" name="company" value='brewLok' data-name='Пивоварня' data-value='BREWLOK') 

              label.corners-filter__label
                span 4BREWERS
                input(type="checkbox" name="company" value='fourBrewers' data-name='Пивоварня' data-value='4BREWERS') 

              label.corners-filter__label
                span Brewmen Collaboration with Plague Brew
                input(type="checkbox" name="company" value='brewmenCollaborationWithPlagueBrew' data-name='Пивоварня' data-value='Brewmen Collaboration with Plague Brew') 

              label.corners-filter__label
                span ALASKA brewery
                input(type="checkbox" name="company" value='alaskaBrewery' data-name='Пивоварня' data-value='ALASKA brewery') 

              label.corners-filter__label
                span Ability Brewing Project
                input(type="checkbox" name="company" value='abilityBrewingProject' data-name='Пивоварня' data-value='Ability Brewing Project') 

              label.corners-filter__label
                span Apple Way
                input(type="checkbox" name="company" value='appleWay' data-name='Пивоварня' data-value='Apple Way') 

              label.corners-filter__label
                span Plan B Brewery
                input(type="checkbox" name="company" value='planBBrewery' data-name='Пивоварня' data-value='Plan B Brewery') 

              label.corners-filter__label
                span White Stone
                input(type="checkbox" name="company" value='whiteStone' data-name='Пивоварня' data-value='White Stone') 

        div.corners-filter__group
          button(type='button').corners-filter__toggle Объем
          div.corners-filter__dropdown
            div.corners-filter__dropdown-head
              span Объем
              button(type='button').corners-filter__dropdown-close
                span
            fieldset.corners-filter__fieldset
              label.corners-filter__label
                span Ж\Б 0.5л
                input(type="checkbox" name="value" value='can05l' data-name='Объем' data-value='Ж\Б 0.5л') 

              label.corners-filter__label
                span С\Б 0.5л
                input(type="checkbox" name="value" value='glass05l' data-name='Объем' data-value='С\Б 0.5л') 

              label.corners-filter__label
                span Кега 12л
                input(type="checkbox" name="value" value='keg12l' data-name='Объем' data-value='Кега 12л') 

      div.corners-filter__action
        button(type='submit' style='display: none;').corners-filter__submit Применить

  div.corners-filter__result
    button(type='button').corners-filter__picked Страна: Бельгия
    button(type='button').corners-filter__picked Пивоварня: 2 знач.
    button(type='button').corners-filter__picked Объем: Ж\Б 0.5л
