.corners-filter {

  &__form {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__fields {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__group {
    position: relative;

    &--active {
      .corners-filter {
        &__toggle {
          border-style: solid;

          &:before {
            transform: rotate(-45deg);
          }

          &:after {
            transform: rotate(45deg);
          }
        }

        &__dropdown {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  &__toggle {
    @include DТекст15inter-reg;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7px;
    padding-right: 30px;
    padding-bottom: 7px;
    padding-left: 10px;
    border: 1px dashed $grey-7;
    color: $dark-blue-1;
    background-color: transparent;
    cursor: pointer;
    gap: 5px;

    &:hover {
      @media (min-width: $desktop-only) {
        border-style: solid;
      }
    }

    &:before {
      position: absolute;
      top: calc(50% - 2px);
      right: 15px;
      width: 8px;
      height: 2px;
      margin: 0;
      border: 0;
      background-color: currentcolor;
      transition: transform 0.3s;
      transform: rotate(45deg);
      pointer-events: none;
      content: "";
    }

    &:after {
      position: absolute;
      top: calc(50% - 2px);
      right: 10px;
      width: 8px;
      height: 2px;
      margin: 0;
      border: 0;
      background-color: currentcolor;
      transition: transform 0.3s;
      transform: rotate(-45deg);
      pointer-events: none;
      content: "";
    }
  }

  &__dropdown {
    @include scroll;
    position: absolute;
    z-index: 1;
    top: calc(100% + 5px);
    left: 0;
    width: 260px;
    max-height: 260px;
    background-color: $white-1;
    border: 1px solid $grey-7;
    transition:
      visibility 0.3s,
      opacity 0.3s;
    visibility: hidden;
    opacity: 0;

    @media(max-width: $phone) {
      position: fixed;
      z-index: 15;
      top: 0;
      right: 0;
      width: 100%;
      max-width: unset;
      height: calc(var(--vh, 1vh) * 100);
      max-height: unset;
      display: flex;
      flex-direction: column;
      border: 0;
      overflow: hidden;
    }
  }

  &__dropdown-head {
    @include DЗаголовок30-Заголовок3;
    display: none;

    @media(max-width: $phone) {
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 12px;
      padding-right: 15px;
      padding-bottom: 11px;
      padding-left: 15px;
      border-bottom: 1px solid $grey-6;
    }

    span,
    p {
      margin: 0;
    }
  }

  &__dropdown-close {
    display: flex;
    width: 38px;
    height: 38px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 50%;
    color: $dark-blue-1;
    background-color: $grey-3;
    transition:
      background-color 0.3s,
      color 0.3s;
    outline: none;
    flex-shrink: 0;
    cursor: pointer;

    &:hover {
      @media (min-width: $desktop-only) {
        color: $white-1;
        background-color: $blue-1;
      }
    }

    span {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 1px;
      background: transparent;
      vertical-align: bottom;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: currentcolor;
        content: "";
        transform: rotate(45deg);
      }

      &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: currentcolor;
        content: "";
        transform: rotate(-45deg);
      }
    }
  }

  &__fieldset {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    border: 0;

    @media(max-width: $phone) {
      @include scroll;
    }
  }

  &__label {
    @include DТекст18inter-reg;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-right: 14px;
    padding-bottom: 10px;
    padding-left: 20px;
    background-color: transparent;
    transition: background-color $transition-time;
    gap: 6px;
    cursor: pointer;

    @media(max-width: $phone) {
      padding-right: 26px;
      padding-left: 15px;
    }

    &:hover {
      @media (min-width: $desktop-only) {
        background-color: $grey-5;
      }
    }

    &:has(:checked) {
      color: $blue-1;

      &:after {
        @include DЗаголовок25-Заголовок4;
        color: currentColor;
        content: "✓";
      }
    }

    input {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      font-size: 0;
      clip: rect(0 0 0 0);
    }
  }

  &__result {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    &:has(.corners-filter__picked) {
      margin-top: 20px;
    }
  }

  &__picked {
    @include DТекст15inter-reg;
    position: relative;
    display: flex;
    height: 34px;
    align-items: center;
    padding-top: 4px;
    padding-right: 30px;
    padding-bottom: 6px;
    padding-left: 15px;
    border: 0;
    border-radius: 50px;
    color: $white-1;
    background-color: $black-1;
    transition: background-color $transition-time;
    flex-shrink: 0;
    cursor: pointer;

    &:hover {
      background-color: $blue-1;
    }

    &:before {
      position: absolute;
      top: calc(50% - 2px);
      right: 10px;
      width: 12px;
      height: 2px;
      margin: 0;
      border: 0;
      background-color: currentcolor;
      transition: transform 0.3s;
      transform: rotate(45deg);
      pointer-events: none;
      content: "";
    }

    &:after {
      position: absolute;
      top: calc(50% - 2px);
      right: 10px;
      width: 12px;
      height: 2px;
      margin: 0;
      border: 0;
      background-color: currentcolor;
      transition: transform 0.3s;
      transform: rotate(-45deg);
      pointer-events: none;
      content: "";
    }
  }

  &__action {}

  &__submit {
    @include DТекст15inter-reg;
    display: flex;
    align-items: center;
    padding-top: 7px;
    padding-right: 10px;
    padding-bottom: 7px;
    padding-left: 10px;
    color: $white-1;
    background-color: $black-1;
    border: 1px solid $black-1;
    transition: background-color $transition-time;
    flex-shrink: 0;
    cursor: pointer;

    &:hover {
      background-color: $blue-1;
    }
  }
}