mixin article(props)
  if props.question
    section.article
      p Digital-агентство 5 УГЛОВ оказывает услуги в области айдентики, веб-разработки, интернет-маркетинга и медиа продакшена, используя передовые технологии и опыт сплоченной команды профессионалов.
      p
        a(href="#") Digital-агентство 5 УГЛОВ
      figure
        img(src="./assets/images/image-7.jpg" alt="")
        figcaption Наименование фотографии текст которой может быть очень и очень длинным.
      ul 
        li Рекламоноситель неестественно экономит креативный контент. Тем не менее, точечное воздействие создает эмпирический PR, отвоевывая свою долю рынка.
        li Согласно предыдущему, эволюция мерчандайзинга по-прежнему востребована. Молодежная аудитория директивно охватывает тактический рейтинг.
        li Контент, отбрасывая подробности, спонтанно тормозит тактический пул лояльных изданий. Узнавание бренда многопланово переворачивает институциональный рейтинг.

      p В целом, конечно, постоянный количественный рост и сфера нашей активности является качественно новой ступенью существующих финансовых и административных условий. Кстати, стремящиеся вытеснить традиционное производство, нанотехнологии подвергнуты целой серии независимых исследований.
      p Принимаем к оплате:
        img(src="./assets/images/article-pay.png" alt="")

      p Digital-агентство 5 УГЛОВ оказывает услуги в области айдентики, веб-разработки, интернет-маркетинга и медиа продакшена, используя передовые технологии и опыт сплоченной команды профессионалов.
      p
        a(href="#") Digital-агентство 5 УГЛОВ
      div.article__grid
        figure
          img(src="./assets/images/image-8.jpg" alt="")
          figcaption Наименование фотографии текст которой может быть очень и очень длинным, таким длинным, что потребуется 2ая строка.
        figure
          img(src="./assets/images/image-9.jpg" alt="")

      p В целом, конечно, постоянный количественный рост и сфера нашей активности является качественно новой ступенью существующих финансовых и административных условий. Кстати, стремящиеся вытеснить традиционное производство, нанотехнологии подвергнуты целой серии независимых исследований.
      ol 
        li Согласно предыдущему, эволюция мерчандайзинга по-прежнему востребована. Молодежная аудитория директивно охватывает тактический рейтинг.
        li Рекламоноситель неестественно экономит креативный контент. Тем не менее, точечное воздействие создает эмпирический PR, отвоевывая свою долю рынка.
        li Контент, отбрасывая подробности, спонтанно тормозит тактический пул лояльных изданий. Узнавание бренда многопланово переворачивает институциональный рейтинг.
        li Согласно предыдущему, эволюция мерчандайзинга по-прежнему востребована. Молодежная аудитория директивно охватывает тактический рейтинг.
      figure
        img(src="./assets/images/image-10.jpg" alt="")
        figcaption Наименование фотографии текст которой может быть очень и очень длинным.

      p В целом, конечно, постоянный количественный рост и сфера нашей активности является качественно новой ступенью существующих финансовых и административных условий. Кстати, стремящиеся вытеснить традиционное производство, нанотехнологии подвергнуты целой серии независимых исследований.
      p
        a(href="#") Digital-агентство 5 УГЛОВ
      p Digital-агентство 5 УГЛОВ оказывает услуги в области айдентики, веб-разработки, интернет-маркетинга и медиа продакшена, используя <a href="#" target="_blank" rel="noopener noreferrer">передовые технологии</a> и <a href="#" target="_blank" rel="noopener noreferrer">опыт сплоченной команды</a> профессионалов.

  if props.service
    section.article
      h2 H2 Заголовок
      p Digital-агентство 5 УГЛОВ оказывает услуги в области айдентики, веб-разработки, интернет-маркетинга и медиа продакшена, используя передовые технологии и опыт сплоченной команды профессионалов.
      p
        a(href="#") Digital-агентство 5 УГЛОВ
      figure
        img(src="./assets/images/image-11.jpg" alt="")
        figcaption Наименование фотографии текст которой может быть очень и очень длинным.
      ul 
        li Рекламоноситель неестественно экономит креативный контент. Тем не менее, точечное воздействие создает эмпирический PR, отвоевывая свою долю рынка.
        li Согласно предыдущему, эволюция мерчандайзинга по-прежнему востребована. Молодежная аудитория директивно охватывает тактический рейтинг.
        li Контент, отбрасывая подробности, спонтанно тормозит тактический пул лояльных изданий. Узнавание бренда многопланово переворачивает институциональный рейтинг.

      h3 H3 Заголовок
      p В целом, конечно, постоянный количественный рост и сфера нашей активности является качественно новой ступенью существующих финансовых и административных условий. Кстати, стремящиеся вытеснить традиционное производство, нанотехнологии подвергнуты целой серии независимых исследований.
      p Принимаем к оплате:
        img(src="./assets/images/article-pay.png" alt="")

      h2 Галерея картинок
      p Digital-агентство 5 УГЛОВ оказывает услуги в области айдентики, веб-разработки, интернет-маркетинга и медиа продакшена, используя передовые технологии и опыт сплоченной команды профессионалов.

      include ../gallery/gallery

      p
        a(href="#") Digital-агентство 5 УГЛОВ
      div.article__grid
        figure
          img(src="./assets/images/image-12.jpg" alt="")
          figcaption Наименование фотографии текст которой может быть очень и очень длинным, таким длинным, что потребуется 2ая строка.
        figure
          img(src="./assets/images/image-13.jpg" alt="")


      h3 H3 Заголовок
      p В целом, конечно, постоянный количественный рост и сфера нашей активности является качественно новой ступенью существующих финансовых и административных условий. Кстати, стремящиеся вытеснить традиционное производство, нанотехнологии подвергнуты целой серии независимых исследований.
      ol 
        li Согласно предыдущему, эволюция мерчандайзинга по-прежнему востребована. Молодежная аудитория директивно охватывает тактический рейтинг.
        li Рекламоноситель неестественно экономит креативный контент. Тем не менее, точечное воздействие создает эмпирический PR, отвоевывая свою долю рынка.
        li Контент, отбрасывая подробности, спонтанно тормозит тактический пул лояльных изданий. Узнавание бренда многопланово переворачивает институциональный рейтинг.
        li Согласно предыдущему, эволюция мерчандайзинга по-прежнему востребована. Молодежная аудитория директивно охватывает тактический рейтинг.
      figure
        img(src="./assets/images/image-14.jpg" alt="")
        figcaption Наименование фотографии текст которой может быть очень и очень длинным.

      h4 H4 Заголовок
      p В целом, конечно, постоянный количественный рост и сфера нашей активности является качественно новой ступенью существующих финансовых и административных условий. Кстати, стремящиеся вытеснить традиционное производство, нанотехнологии подвергнуты целой серии независимых исследований.
      p
        a(href="#") Digital-агентство 5 УГЛОВ
      p Digital-агентство 5 УГЛОВ оказывает услуги в области айдентики, веб-разработки, интернет-маркетинга и медиа продакшена, используя <a href="#" target="_blank" rel="noopener noreferrer">передовые технологии</a> и <a href="#" target="_blank" rel="noopener noreferrer">опыт сплоченной команды</a> профессионалов.
      div.article__table
        table(width="100%" cellpadding="0" cellspacing="0" border="0")
          thead 
            tr 
              th Текст в столбца
              th Текст в столбца
              th Текст в столбца
              th Текст в столбца
              th Длинный длинный текст в столбца
          tbody 
            tr 
              td Текст в строке
              td Текст в строке
              td Текст в строке
              td Текст в строке
              td Длинный длинный текст в строке
            tr 
              td Текст в строке
              td Текст в строке
              td Текст в строке
              td Текст в строке
              td Длинный длинный текст в строке
            tr 
              td Текст в строке
              td Текст в строке
              td Текст в строке
              td Текст в строке
              td Длинный длинный текст в строке
            tr 
              td Текст в строке
              td Текст в строке
              td Текст в строке
              td Текст в строке
              td Длинный длинный текст в строке

      h5 H5 Заголовок
      p В целом, конечно, постоянный количественный рост и сфера нашей активности является качественно новой ступенью существующих финансовых и административных условий. Кстати, стремящиеся вытеснить традиционное производство, нанотехнологии подвергнуты целой серии независимых исследований.
      div.article__table
        table(width="100%" cellpadding="0" cellspacing="0" border="0")
          thead 
            tr 
              th Название столбца
              th Название
              th Название столбца
              th Название
              th Название столбца
          tbody 
            tr 
              td Наименование позиции
              td Наименование позиции
              td Наименование
              td Наименование позиции
              td Наименование
            tr 
              td Наименование позиции
              td Наименование позиции
              td Длинное наименование позиции
              td Наименование позиции
              td Длинное наименование позиции
            tr 
              td Любой текст строчки столбца
              td Наименование позиции
              td Наименование позиции
              td Любой текст строчки столбца
              td Наименование позиции
            tr 
              td Длинное наименование позиции
              td Наименование позиции
              td Наименование
              td Длинное наименование позиции
              td Длинное наименование позиции
            tr 
              td Наименование позиции
              td Любой текст строчки столбца
              td Наименование позиции
              td Любой текст строчки столбца
              td Любой текст строчки столбца

      h6 H6 Заголовок
      p Digital-агентство 5 УГЛОВ оказывает услуги в области айдентики, веб-разработки, интернет-маркетинга и медиа продакшена, используя передовые технологии и опыт сплоченной команды профессионалов.   
      +video({
        link: 'fNMh8BU3G2k',
        text: 'Наименование видео текст которой может быть очень и очень длинным.',
      })

  if props.article
    section.article

      h2 Галерея картинок
      p Digital-агентство 5 УГЛОВ оказывает услуги в области айдентики, веб-разработки, интернет-маркетинга и медиа продакшена, используя передовые технологии и опыт сплоченной команды профессионалов.

      include ../gallery/gallery
      p
        a(href="#") Digital-агентство 5 УГЛОВ
      ul 
        li Рекламоноситель неестественно экономит креативный контент. Тем не менее, точечное воздействие создает эмпирический PR, отвоевывая свою долю рынка.
        li Согласно предыдущему, эволюция мерчандайзинга по-прежнему востребована. Молодежная аудитория директивно охватывает тактический рейтинг.
        li Контент, отбрасывая подробности, спонтанно тормозит тактический пул лояльных изданий. Узнавание бренда многопланово переворачивает институциональный рейтинг.

      h3 H3 Заголовок
      p В целом, конечно, постоянный количественный рост и сфера нашей активности является качественно новой ступенью существующих финансовых и административных условий. Кстати, стремящиеся вытеснить традиционное производство, нанотехнологии подвергнуты целой серии независимых исследований.
      p Принимаем к оплате:
        img(src="./assets/images/article-pay.png" alt="")

      p Digital-агентство 5 УГЛОВ оказывает услуги в области айдентики, веб-разработки, интернет-маркетинга и медиа продакшена, используя передовые технологии и опыт сплоченной команды профессионалов.
      p
        a(href="#") Digital-агентство 5 УГЛОВ

      h4 H4 Заголовок
      p В целом, конечно, постоянный количественный рост и сфера нашей активности является качественно новой ступенью существующих финансовых и административных условий. Кстати, стремящиеся вытеснить традиционное производство, нанотехнологии подвергнуты целой серии независимых исследований.

      h5 H5 Заголовок
      p В целом, конечно, постоянный количественный рост и сфера нашей активности является качественно новой ступенью существующих финансовых и административных условий. Кстати, стремящиеся вытеснить традиционное производство, нанотехнологии подвергнуты целой серии независимых исследований.

      blockquote.article__blockquote
        div.article__blockquote-wrapper
          div
            p Обращение генерального директора. В 2009 году мы: Павел Ларкин, исполнительный директор дизайн-агентства Brand Work, Кормишин Владимир, директор группы разработчиков Farum, Александр Тихонов, ведущий методолог и архитектор бизнес-процессов ОАО «Газпром Информ», решили основать собственное digital-агентство.
          div.article__blockquote-author
            img(src="./assets/images/team-photo-2.jpg" alt="")
            div 
              p.article__blockquote-name Христорождественский Константин
              p.article__blockquote-position Генеральный директор



      h6 H6 Заголовок
      p Digital-агентство 5 УГЛОВ оказывает услуги в области айдентики, веб-разработки, интернет-маркетинга и медиа продакшена, используя передовые технологии и опыт сплоченной команды профессионалов. 

      figure
        img(src="./assets/images/image-14.jpg" alt="")
        figcaption Наименование фотографии текст которой может быть очень и очень длинным.

      blockquote.article__blockquote
        div.article__blockquote-wrapper
          div
            p Digital-агентство 5 УГЛОВ оказывает услуги в области айдентики, веб-разработки, интернет-маркетинга и медиа продакшена, используя передовые технологии и опыт сплоченной команды профессионалов. 
          div.article__blockquote-author
            img(src="./assets/images/team-photo-4.jpg" alt="")
            div 
              p.article__blockquote-name Христорождественский Константин
              p.article__blockquote-position Генеральный директор

      div.article__grid
        figure
          img(src="./assets/images/image-15.jpg" alt="")
        div
          h2 H2 Заголовок длинный в две строки
          p В целом, конечно, постоянный количественный рост и сфера нашей активности является качественно новой ступенью существующих финансовых и административных условий. Кстати, стремящиеся вытеснить традиционное производство, нанотехнологии подвергнуты целой серии независимых исследований.
      div.article__grid
        div
          h2 H2 Заголовок длинный в две строки
          p В целом, конечно, постоянный количественный рост и сфера нашей активности является качественно новой ступенью существующих финансовых и административных условий. Кстати, стремящиеся вытеснить традиционное производство, нанотехнологии подвергнуты целой серии независимых исследований.
        figure
          img(src="./assets/images/image-16.jpg" alt="")
      ol 
        li Согласно предыдущему, эволюция мерчандайзинга по-прежнему востребована. Молодежная аудитория директивно охватывает тактический рейтинг.
        li Рекламоноситель неестественно экономит креативный контент. Тем не менее, точечное воздействие создает эмпирический PR, отвоевывая свою долю рынка.
        li Контент, отбрасывая подробности, спонтанно тормозит тактический пул лояльных изданий. Узнавание бренда многопланово переворачивает институциональный рейтинг.
        li Согласно предыдущему, эволюция мерчандайзинга по-прежнему востребована. Молодежная аудитория директивно охватывает тактический рейтинг.
      div.article__grid
        figure
          img(src="./assets/images/image-17.jpg" alt="")
          figcaption Наименование фотографии текст которой может быть очень и очень длинным, таким длинным, что потребуется 2ая строка.
        figure
          img(src="./assets/images/image-18.jpg" alt="")
          figcaption Наименование фотографии текст которой может быть очень и очень длинным, таким длинным, что потребуется 2ая строка.

      +video({
        link: 'VUR3e30VSGo',
        text: 'Need For Speed Underground 2 (Full Soundtrack)',
      })

      p
        a(href="#") Digital-агентство 5 УГЛОВ
      p Digital-агентство 5 УГЛОВ оказывает услуги в области айдентики, веб-разработки, интернет-маркетинга и медиа продакшена, используя <a href="#" target="_blank" rel="noopener noreferrer">передовые технологии</a> и <a href="#" target="_blank" rel="noopener noreferrer">опыт сплоченной команды</a> профессионалов.
      div.article__table
        table(width="100%" cellpadding="0" cellspacing="0" border="0")
          thead 
            tr 
              th Текст в столбца
              th Текст в столбца
              th Текст в столбца
              th Текст в столбца
              th Длинный длинный текст в столбца
          tbody 
            tr 
              td Текст в строке
              td Текст в строке
              td Текст в строке
              td Текст в строке
              td Длинный длинный текст в строке
            tr 
              td Текст в строке
              td Текст в строке
              td Текст в строке
              td Текст в строке
              td Длинный длинный текст в строке
            tr 
              td Текст в строке
              td Текст в строке
              td Текст в строке
              td Текст в строке
              td Длинный длинный текст в строке
            tr 
              td Текст в строке
              td Текст в строке
              td Текст в строке
              td Текст в строке
              td Длинный длинный текст в строке