.article {
  & h2:first-child,
  & h3:first-child,
  & h4:first-child,
  & h5:first-child,
  & h6:first-child,
  & p:first-child,
  & ul:first-child,
  & ol:first-child,
  & a:first-child,
  & figure:first-child,
  & .article__table:first-child,
  & .article__quote:first-child,
  & .article__grid:first-child,
  & .video:first-child {
    margin-top: 0;
  }

  & h2:last-child,
  & h3:last-child,
  & h4:last-child,
  & h5:last-child,
  & h6:last-child,
  & p:last-child,
  & ul:last-child,
  & ol:last-child,
  & a:last-child,
  & figure:last-child,
  & .article__table:last-child,
  & .article__quote:last-child,
  & .article__grid:last-child,
  & .video:last-child {
    margin-bottom: 0;
  }

  .video {
    margin-top: 60px;
    margin-bottom: 60px;

    @media (max-width: $phone) {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    a {
      max-width: unset;
    }
  }

  figure:not([class]) {
    margin-top: 60px;
    margin-right: 0;
    margin-bottom: 60px;
    margin-left: 0;

    @media (max-width: $phone) {
      margin-top: 40px;
      margin-bottom: 40px;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
      background-color: $grey-3;
      overflow: hidden;
    }
  }

  figcaption {
    @include DТекст14inter-reg;
    margin: 0;
    margin-top: 15px;
    padding: 0;
    color: $grey-8;

    @media (max-width: $phone) {
      margin-top: 5px;
    }
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  em {
    font-style: normal;
    color: $blue-1;
  }

  h2 {
    @include DЗаголовок40-Заголовок2;
    max-width: 800px;
    margin: 0;
    margin-top: 60px;
    margin-bottom: 30px;

    @media (max-width: $phone) {
      margin-top: 20px;
      margin-bottom: 15px;
    }
  }

  h3 {
    @include DЗаголовок30-Заголовок3;
    max-width: 800px;
    margin: 0;
    margin-top: 60px;
    margin-bottom: 20px;

    @media (max-width: $phone) {
      margin-top: 20px;
      margin-bottom: 15px;
    }
  }

  h4 {
    @include DЗаголовок25-Заголовок4;
    max-width: 800px;
    margin: 0;
    margin-top: 60px;
    margin-bottom: 15px;

    @media (max-width: $phone) {
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }

  h5 {
    @include DЗаголовок20-Заголовок5;
    max-width: 800px;
    margin: 0;
    margin-top: 60px;
    margin-bottom: 10px;

    @media (max-width: $phone) {
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }

  h6 {
    @include DЗаголовок20-Заголовок5;
    max-width: 800px;
    margin: 0;
    margin-top: 60px;
    margin-bottom: 10px;

    @media (max-width: $phone) {
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }

  a:not([class]) {
    text-decoration: none;
    color: $light-green-1;
    transition: color 0.3s;

    &:hover {
      @media (min-width: $desktop-only) {
        color: $blue-1;
      }
    }
  }

  p:not([class]) {
    @include DТекст16inter-reg;
    max-width: 800px;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;

    @media (max-width: $phone) {
      margin-bottom: 10px;
    }
  }

  ul {
    max-width: 800px;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    list-style: none;

    li {
      @include DТекст16inter-reg;
      position: relative;
      margin: 0;
      margin-bottom: 10px;
      padding: 0;
      padding-left: 30px;

      @media (max-width: $phone) {
        margin-bottom: 5px;
        padding-left: 20px;
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      &:before {
        position: absolute;
        left: 0;
        content: "—";
      }
    }
  }

  ol {
    max-width: 800px;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    list-style: none;
    counter-reset: lvl1;

    li {
      @include DТекст16inter-reg;
      position: relative;
      margin: 0;
      margin-bottom: 10px;
      padding: 0;
      padding-left: 30px;
      counter-increment: lvl1;

      @media (max-width: $phone) {
        margin-bottom: 5px;
        padding-left: 20px;
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      &:before {
        position: absolute;
        left: 0;
        content: counter(lvl1) ".";
      }
    }
  }

  table {
    width: 100%;
    padding-right: 19px;
    padding-left: 19px;
    border: 1px solid $grey-8;
  }

  th {
    @include DТекст13-Крошки;
    min-width: 220px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: left;
    color: $grey-8;

    @media (max-width: $phone) {
      min-width: 120px;
      padding-top: 8px;
      padding-bottom: 8px;
    }

    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      padding-right: 0;
      text-align: right;
    }
  }

  td {
    @include DТекст14inter-reg;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-top: 1px solid $grey-8;
    text-align: left;
    color: $dark-blue-1;

    @media (max-width: $phone) {
      padding-top: 8px;
      padding-bottom: 8px;
    }

    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      padding-right: 0;
      text-align: right;
    }
  }

  &__table {
    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;
    overflow-y: hidden;
    overflow-x: auto;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    @media (max-width: $tablet) {
      margin-right: -30px;
      margin-left: -30px;
      padding-right: 30px;
      padding-left: 30px;
    }
    @media (max-width: $phone) {
      margin-top: 40px;
      margin-right: -15px;
      margin-bottom: 40px;
      margin-left: -15px;
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  &__grid {
    display: grid;
    margin-top: 60px;
    margin-bottom: 60px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;

    @media (max-width: $phone) {
      margin-top: 40px;
      margin-bottom: 40px;
      grid-template-columns: 1fr;
      row-gap: 20px;
    }

    figure {
      margin: 0;

      @media (max-width: $phone) {
        order: -1;
      }
    }

    & > div {
      align-self: center;
    }
  }

  &__blockquote {
    margin: 0;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-top: 40px;
    padding-right: 170px;
    padding-bottom: 40px;
    padding-left: 170px;
    background: $grey-5;

    @media (max-width: $desktop) {
      padding-top: 25px;
      padding-right: 50px;
      padding-bottom: 25px;
      padding-left: 50px;
    }
    @media (max-width: $tablet) {
      padding-top: 25px;
      padding-right: 35px;
      padding-bottom: 25px;
      padding-left: 35px;
    }
    @media (max-width: $phone) {
      margin-top: 40px;
      margin-bottom: 40px;
      padding-top: 15px;
      padding-right: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
    }

    p:not([class]) {
      margin: 0;
      font-style: italic;
    }
  }

  &__blockquote-wrapper {
    position: relative;
    display: grid;
    padding-left: 55px;
    grid-auto-flow: row;
    row-gap: 20px;

    @media (max-width: $phone) {
      padding-left: 38px;
    }

    &:before {
      position: absolute;
      top: -14px;
      left: 0;
      font-family: $icon-font;
      font-size: 50px;
      font-weight: 900;
      font-style: italic;
      line-height: 55px;
      color: $blue-1;
      content: "«";

      @media (max-width: $phone) {
        font-size: 40px;
        line-height: 45px;
      }
    }
  }

  &__blockquote-author {
    display: grid;
    align-items: center;
    grid-template-columns: 60px 1fr;
    column-gap: 15px;

    @media (max-width: $phone) {
      grid-template-columns: initial;
      grid-template-rows: 60px 1fr;
      row-gap: 5px;
    }

    img {
      display: block;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &__blockquote-name {
    @include DТекст16inter-bold;
    margin: 0;
  }

  &__blockquote-position {
    @include DТекст14inter-reg;
    margin: 0;
    color: $grey-8;
  }
}
