article.offer-detail-card
  a(href="#").offer-detail-card__banner
    img(src='./assets/images/promo-picture-1.jpeg' alt="")
  div.offer-detail-card__content 
    div.offer-detail-card__header
      img(src='./assets/images/item-flag-3.jpg' alt="").offer-detail-card__flag
      span.offer-detail-card__flag-name Brewlok
    a(href="#").offer-detail-card__title Russian Imperial Stout
    div.offer-detail-card__description
      p RIS
    div.offer-detail-card__total 
      p.offer-detail-card__price 7 700 ₽
      p.offer-detail-card__total-amount 11 шт.
      p.offer-detail-card__total-price 161 700 ₽

article.offer-detail-card
  a(href="#").offer-detail-card__banner
    img(src='./assets/images/promo-picture-2.jpeg' alt="")
  div.offer-detail-card__content 
    div.offer-detail-card__header
      span.offer-detail-card__flag-name Brewlok
    a(href="#").offer-detail-card__title Заголовок/название курса, возможно введение в блок который может быть длинным длинным, длинее чем удав из мультика 38 попугаев в лодке, не считая слонёнка.
    div.offer-detail-card__description
      p Stout
    div.offer-detail-card__total 
      p.offer-detail-card__price 17 700 ₽
      p.offer-detail-card__total-amount 311 шт.
      p.offer-detail-card__total-price 23 161 700 ₽
