.offer-detail-card {
  display: flex;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid $grey-4;
  column-gap: 20px;

  @media (max-width: $phone) {
    margin-bottom: 20px;
    padding-bottom: 20px;
    column-gap: 10px;
  }

  &:last-of-type {
    margin: 0;
    padding: 0;
    border-bottom: 0;
  }

  &__banner {
    width: 60px;
    height: 85px;
    padding: 10px;
    background-color: $grey-3;
    flex-shrink: 0;
    overflow: hidden;

    @media (max-width: $tablet) {
      width: 50px;
      height: 75px;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      user-select: none;
    }
  }

  &__content {
    display: grid;
    align-items: flex-end;
    column-gap: 40px;
    row-gap: 5px;
    flex-grow: 1;

    @media (max-width: $phone) {
      grid-template-columns: 1fr;
      column-gap: 10px;
    }
  }

  &__header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__flag {
    display: none;
    width: 21px;
    height: 15px;
    margin-right: 8px;
    flex-shrink: 0;
    overflow: hidden;
    user-select: none;

    @media (max-width: $phone) {
      width: 16px;
      height: 11px;
      margin-right: 4px;
    }
  }

  &__flag-name {
    @include DТекст14inter-reg;
    margin: 0;
    white-space: nowrap;
  }

  &__title {
    @include DЗаголовок20-Заголовок5;
    margin: 0;
    text-decoration: none;
    color: $dark-blue-1;
    transition: color 0.3s;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 0;
    /* stylelint-disable */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* stylelint-enable */

    @media (max-width: $phone) {
      font-size: 12px;
      line-height: 15px;
    }

    &:hover {
      @media (min-width: $desktop-only) {
        color: $blue-1;
      }
    }
  }

  &__description {
    @include DТекст14inter-reg;
    color: $grey-8;

    p {
      margin: 0;
    }
  }

  &__total {
    display: flex;
    column-gap: 40px;
    grid-column: 2;
    grid-row: 1 / 4;
    justify-self: flex-end;
    align-self: center;

    @media (max-width: $tablet) {
      grid-column: unset;
      grid-row: unset;
    }
    @media (max-width: $phone) {
      column-gap: 20px;
    }
  }

  &__price,
  &__total-amount,
  &__total-price {
    @include DЗаголовок20-Заголовок5;
    min-width: 100px;
    margin: 0;
    text-align: center;
    flex-shrink: 0;

    @media (max-width: $phone) {
      min-width: unset;
    }
  }

  &__total-price {
    text-align: right;
  }
}
