section.site-nav
  div.container
    div.site-nav__wrapper 
      h2.site-nav__title Категория/Раздел
      div.site-nav__blocks
        div.site-nav__block 
          a(href="#").site-nav__link Подкатегория/Подраздел/Страница
          ul.site-nav__list 
            li.site-nav__item 
              a(href="#").site-nav__link Подкатегория/Подраздел/Страница
            li.site-nav__item 
              a(href="#").site-nav__link Подкатегория/Подраздел/Страница
            li.site-nav__item 
              a(href="#").site-nav__link Подкатегория/Подраздел/Страница
            li.site-nav__item 
              a(href="#").site-nav__link Подкатегория/Подраздел/Страница
        div.site-nav__block 
          a(href="#").site-nav__link Подкатегория/Подраздел/Страница
          ul.site-nav__list 
            li.site-nav__item 
              a(href="#").site-nav__link Подкатегория/Подраздел/Страница
            li.site-nav__item 
              a(href="#").site-nav__link Подкатегория/Подраздел/Страница
        div.site-nav__block 
          a(href="#").site-nav__link Подкатегория/Подраздел/Страница
          ul.site-nav__list 
            li.site-nav__item 
              a(href="#").site-nav__link Подкатегория/Подраздел/Страница
            li.site-nav__item 
              a(href="#").site-nav__link Подкатегория/Подраздел/Страница
            li.site-nav__item 
              a(href="#").site-nav__link Подкатегория/Подраздел/Страница
        div.site-nav__block 
          a(href="#").site-nav__link Подкатегория/Подраздел/Страница
          ul.site-nav__list 
            li.site-nav__item 
              a(href="#").site-nav__link Подкатегория/Подраздел/Страница