section.not-found
  div.container
    div.not-found__wrapper
      img(src="./assets/images/404.svg" width='284' height='125' alt="").not-found__img
      h1.not-found__title Страница не&nbsp;найдена.
      p.not-found__post-title Возможно, вы искали что-то из этого:
      include ../back-nav/back-nav