.not-found {
  padding-top: 180px;
  padding-bottom: 260px !important;

  @media (max-width: $desktop) {
    padding-top: 120px;
    padding-bottom: 150px !important;
  }
  @media (max-width: $tablet) {
    padding-top: 70px;
    padding-bottom: 70px !important;
  }
  @media (max-width: $phone) {
    padding-top: 40px;
    padding-bottom: 40px !important;
  }

  &__wrapper {
    text-align: center;
  }

  &__img {
    display: block;
    width: 284px;
    height: auto;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;

    @media (max-width: $phone) {
      width: 200px;
    }
  }

  &__title {
    @include DЗаголовок50-Заголовок1;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 50px;

    @media (max-width: $phone) {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  &__post-title {
    margin: 0;
  }
}
