include ../advantage-card/advantage-card

section.advantages
  div.container 
    h2.advantages__title Наши преимущества
    ul.advantages__list
      li.advantages__item
        +advantage-card({
          src: './assets/images/image-1.jpg',
          title: '40 складов по всей стране от Калининграда до Урала.',
        })
      li.advantages__item
        +advantage-card({
          src: './assets/images/image-2.jpg',
          title: '2 склада в Санкт-Петербурге, которые работают 24/7.',
        })
      li.advantages__item
        +advantage-card({
          src: './assets/images/image-3.jpg',
          title: 'Автопарк из более 1 000 автомобилей.',
        })
      li.advantages__item
        +advantage-card({
          src: './assets/images/image-4.jpg',
          title: 'Гибкий подход к ценообразованию и финансовым условиям.',
        })
      li.advantages__item
        +advantage-card({
          src: './assets/images/image-5.jpg',
          title: 'Бесплатная доставка по Санкт-Петербургу.',
        })
      li.advantages__item
        +advantage-card({
          src: './assets/images/image-6.jpg',
          title: 'Тестовые варки и разработки рецептур.',
        })