.article-card {
  display: flex;
  flex-direction: column;
  row-gap: 15px;

  &__stats {
    @include DТекст14inter-reg;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    column-gap: 25px;
  }

  &__stats-item {
    position: relative;

    &:not(:first-of-type) {
      &:before {
        position: absolute;
        left: -15px;
        content: "|";
      }
    }
  }

  &__category {
    text-decoration: none;
    color: $dark-blue-1;

    &:hover {
      @media (min-width: $desktop-only) {
        color: $blue-1;
      }
    }
  }

  &__image {
    @include noimg;
    @include hover-banner;
    display: block;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    @include DЗаголовок25-Заголовок4;
    margin: 0;

    a {
      display: block;
      text-decoration: none;
      color: $dark-blue-1;

      &:hover {
        @media (min-width: $desktop-only) {
          color: $blue-1;
        }
      }
    }
  }

  &__tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    column-gap: 10px;
    row-gap: 10px;
  }

  &__tags-link {
    @include DТекст15inter-med;
    display: block;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    text-decoration: none;
    color: $dark-blue-1;
    background-color: $grey-3;
    transition: color 0.3s;
    cursor: pointer;

    &:hover {
      @media (min-width: $desktop-only) {
        color: $blue-1;
      }
    }
  }
}
