.category-card {
  &__image {
    @include noimg;
    @include hover-banner;
    display: block;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    @include DЗаголовок25-Заголовок4;
    margin: 0;
    margin-top: 10px;

    @media (max-width: $phone) {
      margin-top: 15px;
    }

    a {
      display: block;
      text-decoration: none;
      color: $dark-blue-1;

      &:hover {
        @media (min-width: $desktop-only) {
          color: $blue-1;
        }
      }
    }
  }
}
