.profile-info-card {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @media (max-width: $tablet) {
      grid-template-columns: 1fr;
      gap: 15px;
    }
  }

  &__title {
    @include DТекст16inter-reg;
    margin: 0;
  }

  &__text {
    @include DТекст16inter-reg;
    margin: 0;
    color: $grey-8;

    a {
      color: $light-green-1;
      transition: text-decoration-color 0.3s;
      text-decoration-color: $light-green-1;

      &:hover {
        @media (min-width: $desktop-only) {
          text-decoration-color: transparent;
        }
      }
    }
  }

  &__item {
    position: relative;

    &--wide {
      grid-column: 1 / -1;
    }
  }

  &__field {
    position: relative;

    &--wide {
      grid-column: 1 / -1;
    }
  }

  &__label {
    @include DТекст14inter-reg;
    display: block;
    margin-bottom: 3px;

    span {
      color: $light-red-1;
    }
  }

  &__input {
    display: block;
    width: 100%;
    height: 55px;
    margin: 0;
    padding-top: 13px;
    padding-right: 15px;
    padding-bottom: 12px;
    padding-left: 15px;
    border: 1px solid $grey-6;
    font: inherit;
    color: $grey-8;
    background-color: $grey-3;
    outline: none;
    resize: none;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (max-width: $phone) {
      height: 45px;
    }
  }

  &__footer {
    display: grid;
    align-items: center;
    margin-top: 30px;
    grid-template-columns: 1fr 400px;
    gap: 20px;
    grid-column: 1 / -1;

    @media (max-width: $tablet) {
      margin-top: 20px;
      grid-template-columns: 1fr;
      gap: 15px;
    }
  }

  &__links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;

    @media (max-width: $tablet) {
      order: -1;
    }
    @media (max-width: $phone) {
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
    }
  }
}
