mixin advantage-card(props)
  article.advantage-card
    div.advantage-card__wrapper
      div.advantage-card__image
        <!-- Рекомендуемые размеры 380/215. -->
        img(src=props.src alt="")
      
      h3.advantage-card__title=props.title