article.document-card
  a(href="#" download).document-card__link
    div.document-card__image 
      svg(width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg")
        use(href='#icon-document')
      svg(width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg")
        use(href='#icon-document-arrow')
    div.document-card__info 
      p.document-card__title Спецификация солод Пшеничный Курский солод. Урожай 2020-2021
      span.document-card__type PDF, 177 КБ