.sign {


  &__fields {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    margin: 0;
    padding: 0;
    border: none;
    gap: 30px;

    @media (max-width: $phone) {
      grid-template-columns: 1fr;
    }
  }
}