div.profile-subscribes
  form(action='#' method='post')#profile-subscribes-form.profile-subscribes__form
    div.profile-subscribes__field
      div.profile-subscribes__checkbox 
        label.profile-subscribes__label 
          span Личные рекомендации товаров
          input(type="checkbox" checked).visually-hidden.profile-subscribes__input 
          span.profile-subscribes__label-box
    div.profile-subscribes__field
      div.profile-subscribes__checkbox 
        label.profile-subscribes__label 
          span Акции, персональные промокоды и секретные распродажи
          input(type="checkbox").visually-hidden.profile-subscribes__input 
          span.profile-subscribes__label-box
    div.profile-subscribes__field
      div.profile-subscribes__buttons
        button(type='submit').button.profile-subscribes__submit ✓ Сохранить