.team-card {
  &__image {
    height: 277px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../assets/images/no-image.svg");
    overflow: hidden;

    @media (max-width: $phone) {
      height: 140px;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__name {
    @include DЗаголовок25-Заголовок4;
    margin: 0;
    margin-top: 15px;
  }

  &__position {
    @include DТекст18inter-reg;
    margin: 0;
    margin-top: 5px;
    color: $grey-8;

    @media (max-width: $phone) {
      margin-top: 0;
    }
  }
}
