.catalog-amount-card {
  position: relative;
  display: flex;
  flex-direction: column;

  &__delete {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 0;
    color: currentcolor;
    background-color: transparent;
    transition: color 0.3s;
    outline: none;
    cursor: pointer;

    &:hover {
      @media (min-width: $desktop-only) {
        color: $blue-1;
      }
    }

    span {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 1px;
      background: transparent;
      vertical-align: bottom;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: currentcolor;
        content: "";
        transform: rotate(45deg);
      }

      &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: currentcolor;
        content: "";
        transform: rotate(-45deg);
      }
    }
  }

  &__title {
    @include DЗаголовок16-заголовоктовара;
    margin: 0;
    padding-right: 30px;
  }

  &__type {
    @include DТекст15inter-reg;
    margin: 0;
  }

  &__info {
    @include DТекст14inter-reg;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    color: $grey-8;
  }
}
