div.catalog-amount-card
  button(type='button' data-id='2' arial-label='Удалить товар из корзины').catalog-amount-card__delete
    span
  span.catalog-amount-card__title 1915 RASPBERRY EDITION
  span.catalog-amount-card__type Stout
  div.catalog-amount-card__info
    span.catalog-amount-card__amount 48 шт.
    span.catalog-amount-card__ptice 45 220 ₽

div.catalog-amount-card
  button(type='button' data-id='1' arial-label='Удалить товар из корзины').catalog-amount-card__delete
    span
  span.catalog-amount-card__title Медовуха нефильтрованная, осветленная "СиВ 3"
  span.catalog-amount-card__type Barleywine
  div.catalog-amount-card__info
    span.catalog-amount-card__amount 8 шт.
    span.catalog-amount-card__ptice 5 220 ₽

div.catalog-amount-card
  button(type='button' data-id='13' arial-label='Удалить товар из корзины').catalog-amount-card__delete
    span
  span.catalog-amount-card__title СОТНЯ
  span.catalog-amount-card__type Double Oatmeal Stout
  div.catalog-amount-card__info
    span.catalog-amount-card__amount 198 шт.
    span.catalog-amount-card__ptice 255 350 ₽

div.catalog-amount-card
  button(type='button' data-id='21' arial-label='Удалить товар из корзины').catalog-amount-card__delete
    span
  span.catalog-amount-card__title МАНДЕЛЬШТАМ
  span.catalog-amount-card__type Russian Imperial Stout
  div.catalog-amount-card__info
    span.catalog-amount-card__amount 3298 шт.
    span.catalog-amount-card__ptice 25 255 350 ₽

div.catalog-amount-card
  button(type='button' data-id='33' arial-label='Удалить товар из корзины').catalog-amount-card__delete
    span
  span.catalog-amount-card__title 1915 RASPBERRY EDITION
  span.catalog-amount-card__type Stout
  div.catalog-amount-card__info
    span.catalog-amount-card__amount 48 шт.
    span.catalog-amount-card__ptice 45 220 ₽

div.catalog-amount-card
  button(type='button' data-id='105' arial-label='Удалить товар из корзины').catalog-amount-card__delete
    span
  span.catalog-amount-card__title ДОСТОЕВСКИЙ
  span.catalog-amount-card__type Russian Imperial Stout
  div.catalog-amount-card__info
    span.catalog-amount-card__amount 8 шт.
    span.catalog-amount-card__ptice 9350 ₽

div.catalog-amount-card
  button(type='button' data-id='202' arial-label='Удалить товар из корзины').catalog-amount-card__delete
    span
  span.catalog-amount-card__title Медовуха нефильтрованная, осветленная "СиВ 3"
  span.catalog-amount-card__type Barleywine
  div.catalog-amount-card__info
    span.catalog-amount-card__amount 8 шт.
    span.catalog-amount-card__ptice 5 220 ₽

div.catalog-amount-card
  button(type='button' data-id='54' arial-label='Удалить товар из корзины').catalog-amount-card__delete
    span
  span.catalog-amount-card__title СОТНЯ
  span.catalog-amount-card__type Double Oatmeal Stout
  div.catalog-amount-card__info
    span.catalog-amount-card__amount 198 шт.
    span.catalog-amount-card__ptice 255 350 ₽

div.catalog-amount-card
  button(type='button' data-id='21' arial-label='Удалить товар из корзины').catalog-amount-card__delete
    span
  span.catalog-amount-card__title 1915 RASPBERRY EDITION
  span.catalog-amount-card__type Stout
  div.catalog-amount-card__info
    span.catalog-amount-card__amount 48 шт.
    span.catalog-amount-card__ptice 45 220 ₽

div.catalog-amount-card
  button(type='button' data-id='66' arial-label='Удалить товар из корзины').catalog-amount-card__delete
    span
  span.catalog-amount-card__title МАНДЕЛЬШТАМ
  span.catalog-amount-card__type Russian Imperial Stout
  div.catalog-amount-card__info
    span.catalog-amount-card__amount 3298 шт.
    span.catalog-amount-card__ptice 25 255 350 ₽

div.catalog-amount-card
  button(type='button' data-id='521' arial-label='Удалить товар из корзины').catalog-amount-card__delete
    span
  span.catalog-amount-card__title ДОСТОЕВСКИЙ
  span.catalog-amount-card__type Russian Imperial Stout
  div.catalog-amount-card__info
    span.catalog-amount-card__amount 8 шт.
    span.catalog-amount-card__ptice 9350 ₽