div.catalog-tabs
  div.catalog-tabs__nav
    div.catalog-tabs__border 
      div.catalog-tabs__list 
        a(href="#").catalog-tabs__item.catalog-tabs__item--active Пиво
        a(href="#").catalog-tabs__item Крафтовое пиво
        a(href="#").catalog-tabs__item Локальное пиво
        a(href="#").catalog-tabs__item Сидр
        a(href="#").catalog-tabs__item Импортное пиво
        a(href="#").catalog-tabs__item Безалкогольные напитки
        a(href="#").catalog-tabs__item Медовуха