div.catalog-tabs
  div.catalog-tabs__nav
    div.catalog-tabs__border 
      div.catalog-tabs__list 
        a(href="#").catalog-tabs__item.catalog-tabs__item--active Пиво
        a(href="#").catalog-tabs__item Импортное пиво
        a(href="#").catalog-tabs__item Снеки
        a(href="#").catalog-tabs__item Лимонады
        a(href="#").catalog-tabs__item Мерч
        a(href="#").catalog-tabs__item Мыло пивное