.item-card {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 15px;

  @media (max-width: $phone) {
    gap: 10px;
  }

  &__banner {
    @include hover-banner;
    display: block;
    margin: 0;
    padding: 0;
    padding-top: calc(385 / 240 * 100%);
    overflow: hidden;
    cursor: pointer;

    @media (max-width: $phone) {
      height: 220px;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    @include DТекст16inter-reg;
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    gap: 5px;
    flex-grow: 1;
  }

  &__tags {
    position: absolute;
    top: 5px;
    right: 5px;
    left: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }

  &__tag {
    @include DТекст15inter-med;
    padding-top: 4px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
    border-radius: 10px;
    color: $white-1;

    @media (max-width: $phone) {
      padding-top: 2px;
      padding-right: 8px;
      padding-bottom: 4px;
      padding-left: 8px;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__title {
    @include DЗаголовок16-заголовоктовара;
    margin: 0;
    // overflow: hidden;
    // text-overflow: ellipsis;
    /* stylelint-disable */
    // display: -webkit-box;
    // -webkit-box-orient: vertical;
    // -webkit-line-clamp: 1;
    /* stylelint-enable */
  }

  &__type {
    margin: 0;
  }

  &__stats {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 4px;
  }

  &__stat {
    &:not(:last-child):after {
      margin-left: 4px;
      content: "/";
    }

    b {
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  &__additive {
    margin: 0;
    font-style: italic;
    color: $grey-8;
  }

  &__action {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-shrink: 0;

    @media (max-width: $phone) {
      gap: 10px;
    }
  }

  &__amount {

    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__price {
    @include DЗаголовок25-Заголовок4;
    margin: 0;

    span {
      @include DЗаголовок16-заголовоктовара;
      margin: 0;
    }
  }

  &__where {
    @include DЗаголовок25-Заголовок4;
    display: flex;
    width: 100%;
    min-height: 55px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 12px;
    padding-right: 5px;
    padding-bottom: 13px;
    padding-left: 5px;
    color: $dark-blue-1;
    background-color: $grey-3;
    transition:
      background-color 0.3s,
      color 0.3s;
    pointer-events: none;

    @media (max-width: $phone) {
      min-height: 55px;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &--active {
      color: $white-1;
      background-color: $blue-1;
    }
  }
}
