.call-us {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .button {
    margin-top: 5px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &:not(:first-child) {
      padding-top: 20px;
      border-top: 2px dotted $grey-8;
    }
  }

  &__title {
    @include DЗаголовок30-Заголовок3;
    margin: 0;
    padding: 0;
  }

  &__contacts {
    display: flex;
    gap: 20px;

    @media (max-width: $phone) {
      flex-direction: column;
      gap: 10px;
    }
  }

  &__contact-name {
    @include DТекст14inter-med;
    display: block;
    margin: 0;
    color: $grey-8;
  }

  &__contact-link {
    @include DЗаголовок20-Заголовок5;
    display: block;
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;

    &:hover {
      @media (min-width: $desktop-only) {
        color: $blue-1;
      }
    }
  }

  &__hidden {
    display: none;
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  &__field {
    position: relative;
  }

  &__label {
    @include DТекст14inter-reg;
    display: block;
    margin-bottom: 3px;
    color: $dark-blue-1;
  }

  &__textarea,
  &__input {
    @include DТекст16inter-reg;
    display: block;
    width: 100%;
    margin: 0;
    padding-top: 11px;
    padding-right: 14px;
    padding-bottom: 12px;
    padding-left: 14px;
    border: 1px solid $grey-6;
    color: $dark-blue-1;
    background-color: $white-1;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;

    &::placeholder {
      @include DТекст16inter-reg;
      color: $grey-8;
    }
  }

  &__textarea {
    min-height: 120px;
    resize: none;
  }

  &__legal {
    @include DТекст14inter-reg;
    margin: 0;
    padding: 0;
    color: $grey-8;

    a {
      color: $light-green-1;
      transition: text-decoration-color 0.3s;
      text-decoration-color: $light-green-1;

      &:hover {
        @media (min-width: $desktop-only) {
          text-decoration-color: transparent;
        }
      }
    }
  }

  &__time {
    @include DТекст14inter-med;
    margin: 0;
    text-align: center;
    color: $grey-8;
  }
}
