.popUp {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr;
  overflow-y: auto;
  overflow-x: hidden;

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.7;
  }

  &__container {
    position: relative;
    z-index: 11;
    max-height: 100%;
    margin: auto;
  }
}
