.empty {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;

  @media (max-width: $phone) {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  img {
    display: block;
    width: 260px;
    height: auto;
    margin-right: auto;
    margin-left: auto;

    @media (max-width: $phone) {
      width: 182px;
    }

    & + .back-nav {
      margin-top: 60px;

      @media (max-width: $phone) {
        margin-top: 20px;
      }
    }
  }

  &__title {
    @include DЗаголовок40-Заголовок2;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 50px;

    @media (max-width: $phone) {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}
