.sidebar-nav {
  position: sticky;
  top: 100px;

  @media (max-width: $tablet) {
    position: relative;
    top: unset;
    margin-bottom: 20px;
  }

  &__header {
    @include DТекст16inter-reg;
    position: relative;
    display: none;
    align-items: center;
    padding-top: 11px;
    padding-right: 33px;
    padding-bottom: 12px;
    padding-left: 14px;
    border: 1px solid $grey-6;
    background-color: $white-1;
    user-select: none;
    cursor: pointer;

    @media (max-width: $tablet) {
      display: flex;
    }

    &:before {
      position: absolute;
      top: calc(50% - 1px);
      right: 16px;
      width: 10px;
      height: 2px;
      background-color: currentcolor;
      transition: transform 0.3s;
      transform: rotate(45deg);
      content: "";
    }

    &:after {
      position: absolute;
      top: calc(50% - 1px);
      right: 10px;
      width: 10px;
      height: 2px;
      background-color: currentcolor;
      transition: transform 0.3s;
      transform: rotate(-45deg);
      content: "";
    }

    sup {
      @include DТекст12inter-reg;
      color: $grey-8;
      transform: translateY(-5px);
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (max-width: $tablet) {
      position: absolute;
      right: 0;
      left: 0;
      z-index: 10;
      margin: 0;
      padding-top: 4px;
      padding-right: 4px;
      padding-bottom: 4px;
      padding-left: 4px;
      border: 1px solid $grey-6;
      border-top: 0;
      text-align: left;
      background-color: #ffffff;
      list-style: none;
      transition:
        visibility 0.3s,
        opacity 0.3s;
      visibility: hidden;
      opacity: 0;
      box-shadow: 0 20px 30px rgba(0 0 0 / 10%);
    }
  }

  &__item {
    margin-bottom: 10px;

    @media (max-width: $tablet) {
      margin-bottom: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &--active {
      @media (max-width: $tablet) {
        display: none;
      }

      .sidebar-nav__button {
        color: $dark-blue-1 !important;
      }
    }
  }

  &__button {
    @include DТекст16inter-med;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 0;
    color: $grey-8;
    background-color: transparent;
    transition: color 0.3s;
    outline: 0;
    cursor: pointer;

    @media (max-width: $tablet) {
      width: 100%;
      padding-top: 11px;
      padding-right: 29px;
      padding-bottom: 12px;
      padding-left: 10px;
      font-weight: 400;
      text-align: left;
      color: $dark-blue-1;
    }

    &:not(.sidebar-nav__button--active):hover {
      @media (min-width: $desktop-only) {
        color: $blue-1;
      }
    }

    sup {
      @include DТекст14inter-med;
      color: $grey-8;
      transform: translateY(-5px);
    }
  }

  &--active {
    .sidebar-nav__list {
      visibility: unset;
      opacity: unset;
    }

    .sidebar-nav__header:before {
      transform: rotate(135deg);
    }

    .sidebar-nav__header:after {
      transform: rotate(-135deg);
    }
  }
}
