.cookie {
  position: fixed;
  top: unset;
  right: 50%;
  bottom: 50px;
  left: unset;
  z-index: 15;
  width: 100%;
  height: unset;
  color: $dark-blue-1;
  transform: translateX(50%);
  pointer-events: none;
  overflow: initial;

  @media (max-width: $phone) {
    bottom: 15px;
  }

  &__overlay {
    display: none;
  }

  &__wrapper {
    display: flex;
    max-width: 800px;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    background-color: $white-1;
    box-shadow: 0 25px 40px rgba($color: #111111, $alpha: 20%);
    pointer-events: auto;
  }

  &__main {
    margin-right: 10px;
  }

  &__text {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    text-decoration: none;

    &:first-of-type {
      margin-top: 0;
    }

    a {
      margin: 0;
      padding: 0;
      color: $blue-1;

      &:hover {
        @media (min-width: $desktop-only) {
          text-decoration: none;
        }
      }
    }
  }

  &__button {
    position: relative;
    display: flex;
    width: 18px;
    height: 18px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 0;
    color: $dark-blue-1;
    background-color: transparent;
    transition: color 0.3s;
    outline: none;
    cursor: pointer;

    &:hover {
      @media (min-width: $desktop-only) {
        color: $blue-1;
      }
    }

    span {
      position: relative;
      display: inline-block;
      width: 18px;
      height: 1px;
      background: transparent;
      vertical-align: bottom;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: currentcolor;
        content: "";
        transform: rotate(45deg);
      }

      &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: currentcolor;
        content: "";
        transform: rotate(-45deg);
      }
    }
  }
}
