section.popUp.cookie
  div.popUp__overlay.cookie__overlay
  div.container
    div.popUp__wrapper.cookie__wrapper
      div.cookie__main
        p.cookie__text Продолжая использовать сайт <a href="#" target="_blank" rel=" noopener noreferrer">sitename.ru</a> вы соглашаетесь на использование файлов cookie. Более подробную информацию можно найти в <a href="#" target="_blank" rel=" noopener noreferrer">Политике конфиденциальности</a>.

      button(type="button" aria-label="Закрыть").popUp__close.cookie__button
        span