div.file-loader
  label(for="document").file-loader__label
  input(type="file" name="document" data-max-total-file-size='100MB' data-label-name='Прикрепить документ/ы или Attach file/s' accept='application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/rtf, application/pdf, image/jpeg, image/gif, image/png, video/quicktime, video/mp4, video/avi, video/x-flv, .flv' multiple required).file-loader__input
