@import 'src/utils/utils';

.RequestSuggest {

  &__title {
    @include DЗаголовок40-Заголовок2;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    color: $dark-blue-1;

    @media(max-width: $phone) {
      margin-bottom: 10px;
    }

    em {
      font-style: normal;
      color: $blue-1;
    }
  }

  &__form {
    display: grid;
    max-width: 600px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    flex-shrink: 0;

    @media(max-width: $tablet) {
      max-width: 400px;
      grid-template-columns: 1fr;
    }
    @media(max-width: $phone) {
      max-width: unset;
    }
  }

  &__field {
    position: relative;

    &--wide {
      grid-column-start: 1;
      grid-column-end: -1;
    }
  }

  &__submit {
    width: 100%;
    margin-top: 10px;

    @media(max-width: $phone) {
      margin-top: 0;
    }
  }

  &__legal {
    @include DТекст14inter-reg;
    margin: 0;
    padding: 0;
    color: $grey-8;

    @media(max-width: $phone) {
      text-align: center;
      order: 1;
    }

    a {
      color: $light-green-1;
      transition: text-decoration-color 0.3s;
      text-decoration-color: $light-green-1;

      &:hover {
        @media(min-width: $desktop-only) {
          text-decoration-color: transparent;
        }
      }
    }
  }
}