.layout {
  margin-top: 120px;
  margin-bottom: 120px;

  @media (max-width: $phone) {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  // & + .layout .layout__wrapper {
  //   padding-top: 60px;
  //   border-top: 1px solid $grey-6;

  //   @media (max-width: $phone) {
  //     padding-top: 0;
  //     border-top: 0;
  //   }
  // }

  .question {
    &:not(:first-of-type) {
      margin-top: 25px;

      @media (max-width: $phone) {
        margin-top: 15px;
      }
    }
  }

  &__wrapper {
    position: relative;
  }

  &__head {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 40px;

    @media (max-width: $phone) {
      margin-bottom: 20px;
    }
  }

  &__title {
    @include DЗаголовок40-Заголовок2;
    margin: 0;

    em {
      font-style: normal;
      color: $blue-1;
    }
  }

  &__all {
    @include DЗаголовок25-Заголовок4;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
    gap: 10px;

    @media (max-width: $phone) {
      align-self: center;
    }

    &:hover {
      @media (min-width: $desktop-only) {
        color: $blue-1;
      }
    }
  }

  &__all-text {
    @media (max-width: $phone) {
      display: none;
    }
  }

  &__all-arrow {
    font-family: $icon-font;

    @media (max-width: $phone) {
      @include slider-arrow;
      font-weight: 700;
    }
  }

  // &__slider {
  //   overflow-x: clip;
  //   overflow-y: unset;

  //   @media (max-width: $desktop) {
  //     margin-right: -30px;
  //     margin-left: -30px;
  //     padding-right: 30px;
  //     padding-left: 30px;
  //   }
  //   @media (max-width: $phone) {
  //     margin-right: -15px;
  //     margin-left: -15px;
  //     padding-right: 15px;
  //     padding-left: 15px;
  //   }
  // }

  // &__slider-list {
  //   display: flex;
  //   margin: 0;
  //   padding: 0;
  //   list-style: none;
  //   box-sizing: border-box;
  // }

  // &__slider-item {
  //   width: unset !important;
  //   margin-right: 20px;

  //   @media (max-width: $phone) {
  //     margin-right: 10px;
  //   }

  //   &:last-child {
  //     margin-right: 0;
  //   }
  // }

  // &__scrollbar {
  //   display: none;

  //   @media (max-width: $phone) {
  //     display: block;
  //     height: 4px;
  //     margin-top: 25px;
  //     background-color: $grey-6;
  //   }
  // }

  // &__scrollbar-drag {
  //   width: 100%;
  //   height: 100%;
  //   background: $dark-blue-1;
  // }

  // &__slider-buttons {
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   display: inline-grid;
  //   column-gap: 15px;
  //   grid-template-columns: repeat(2, 50px);

  //   @media (max-width: $phone) {
  //     display: none;
  //   }
  // }

  // &__slider-button {
  //   @include slider-arrow;
  //   width: 50px;
  //   height: 50px;
  //   justify-content: center;
  //   align-items: center;
  //   border: 0;
  //   color: $dark-blue-1;
  //   background-color: transparent;
  //   transition: color 0.3s;
  //   user-select: none;
  //   cursor: pointer;

  //   &:not([disabled]):hover {
  //     @media (min-width: $desktop-only) {
  //       color: $blue-1;
  //     }
  //   }

  //   &:not(.swiper-button-lock) {
  //     display: flex;
  //   }

  //   &--disabled {
  //     color: $grey-7;
  //     opacity: 0.5;
  //     cursor: not-allowed;
  //   }
  // }

  // &--slider {
  //   .layout__head {
  //     justify-content: flex-start;
  //     column-gap: 10px;

  //     @media (max-width: $phone) {
  //       justify-content: space-between;
  //     }
  //   }

  //   .layout__all {
  //     font-size: 36px;
  //     line-height: 26px;
  //     color: $dark-blue-1;

  //     @media (max-width: $phone) {
  //       font-size: 25px;
  //       font-weight: 500;
  //       line-height: 30px;
  //     }

  //     &:hover {
  //       @media (min-width: $desktop-only) {
  //         color: $blue-1;
  //       }
  //     }
  //   }

  //   .layout__all-arrow {
  //     margin: 0;

  //     @media (max-width: $phone) {
  //       margin-top: 5px;
  //       margin-bottom: -5px;
  //       margin-left: 0;
  //     }
  //   }
  // }

  &--grid {
    .layout__list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
      column-gap: 20px;
      row-gap: 20px;

      @media (max-width: $desktop) {
        column-gap: 15px;
      }
      @media (max-width: $phone) {
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
        column-gap: 10px;
        row-gap: 15px;
      }
    }
  }

  &--grid3 {
    .layout__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 30px;
      row-gap: 40px;

      @media (max-width: $tablet) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: $phone) {
        grid-template-columns: 1fr;
        row-gap: 25px;
      }
    }
  }

  &--grid4 {
    .layout__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 30px;
      row-gap: 40px;

      @media (max-width: $tablet) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: $phone) {
        grid-template-columns: 1fr;
        row-gap: 25px;
      }
    }
  }

  &--sidebar {
    & + .layout .layout__wrapper {
      padding-top: 0;
      border-top: 0;
    }

    .layout__content {
      display: grid;
      grid-template-columns: 230px 1fr;
      column-gap: 25px;

      @media (max-width: $tablet) {
        display: block;
      }
    }

    .layout__list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
      column-gap: 15px;
      row-gap: 20px;

      @media (max-width: $phone) {
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
        column-gap: 10px;
        row-gap: 15px;
      }
    }
  }

  &--tight {
    .layout__wrapper {
      max-width: 500px;
    }
  }
}
