.team {
  margin-top: 60px;
  margin-bottom: 60px;

  @media (max-width: $phone) {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &__title {
    @include DЗаголовок40-Заголовок2;
    margin: 0;
    margin-bottom: 40px;

    @media (max-width: $phone) {
      margin-bottom: 20px;
    }

    em {
      font-style: normal;
      color: $blue-1;
    }
  }

  &__list {
    display: grid;
    margin: 0;
    padding: 0;
    list-style: none;
    column-gap: 30px;
    row-gap: 40px;
    grid-template-columns: repeat(4, 1fr);

    @media (max-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $phone) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 10px;
      row-gap: 30px;
    }
  }

  &__item {
    @media (max-width: $phone) {
      grid-row: span 3;
    }

    &:nth-child(2) {
      @media (max-width: $phone) {
        grid-column: 2 / span 1;
        grid-row: 2 / span 3;
      }
    }
  }
}
