.zoom {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 75px;
  padding-right: 75px;
  padding-bottom: 75px;
  padding-left: 75px;
  overflow: hidden;

  @media (max-width: $desktop) {
    padding-top: 35px;
    padding-right: 35px;
    padding-bottom: 35px;
    padding-left: 35px;
  }

  &__big {
    height: 100%;
    pointer-events: none;
  }

  &__small {
    display: block;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    object-fit: contain;
  }

  &__container {
    position: absolute;
    top: -50%;
    left: -50%;
    display: block;
    background-color: $white-1;
    cursor: zoom-in;

    img {
      display: block;
    }
  }
}
