<div class="bx-filter bx-blue ">
  <div class="bx-filter-section container-fluid">
    <div class="row">
      <div class="col-lg-12 bx-filter-title">Подбор параметров</div>
    </div>
    <form name="_form" action="/catalog/limonady/" method="get" class="smartfilter">
      <div class="row">
        <div class="col-lg-12 bx-filter-parameters-box bx-active">
          <span class="bx-filter-container-modef">
            <div class="bx-filter-popup-result left" id="modef" style="display: inline-block;">Выбрано: <span id="modef_num">2</span>
              <span class="arrow"></span>
              <br>
              <a href="/catalog/limonady/filter/labels-is-new/apply/" target="">Показать</a>
            </div>
          </span>
          <div class="bx-filter-parameters-box-title" onclick="smartFilter.hideFilterProps(this)">
            <span class="bx-filter-parameters-box-hint">Метки<i data-role="prop_angle" class="fa fa-angle-up"></i></span>
          </div>

          <div class="bx-filter-block" data-role="bx_filter_block">
            <div class="row bx-filter-parameters-box-container">
              <div class="col-xs-12 collapsed-checkbox">
                
                <div class="checkbox">
                  <label data-role="label_arrFilter_342_4056408295" class="bx-filter-param-label" for="arrFilter_342_4056408295">
                    <span class="bx-filter-input-checkbox">
                      <input type="checkbox" value="Y" name="arrFilter_342_4056408295" id="arrFilter_342_4056408295" onclick="smartFilter.click(this)" checked>
                      <span class="bx-filter-param-text" title="Новинка">Новинка</span>
                    </span>
                  </label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFilter_342_2260783217" class="bx-filter-param-label" for="arrFilter_342_2260783217">
                    <span class="bx-filter-input-checkbox">
                      <input type="checkbox" value="Y" name="arrFilter_342_2260783217" id="arrFilter_342_2260783217" onclick="smartFilter.click(this)">
                      <span class="bx-filter-param-text" title="Скидка">Скидка</span>
                    </span>
                  </label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFilter_342_1758376285" class="bx-filter-param-label" for="arrFilter_342_1758376285">
                    <span class="bx-filter-input-checkbox">
                      <input type="checkbox" value="Y" name="arrFilter_342_1758376285" id="arrFilter_342_1758376285" onclick="smartFilter.click(this)">
                      <span class="bx-filter-param-text" title="Хит продаж">Хит продаж</span>
                    </span>
                  </label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFilter_342_1758376285" class="bx-filter-param-label" for="arrFilter_342_1758376285">
                    <span class="bx-filter-input-checkbox">
                      <input type="checkbox" value="Y" name="arrFilter_342_1758376285" id="arrFilter_342_1758376285" onclick="smartFilter.click(this)">
                      <span class="bx-filter-param-text" title="Хит продаж">Antidot</span>
                    </span>
                  </label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFilter_342_1758376285" class="bx-filter-param-label" for="arrFilter_342_1758376285">
                    <span class="bx-filter-input-checkbox">
                      <input type="checkbox" value="Y" name="arrFilter_342_1758376285" id="arrFilter_342_1758376285" onclick="smartFilter.click(this)">
                      <span class="bx-filter-param-text" title="Хит продаж">Bad brew</span>
                    </span>
                  </label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFilter_342_1758376285" class="bx-filter-param-label" for="arrFilter_342_1758376285">
                    <span class="bx-filter-input-checkbox">
                      <input type="checkbox" value="Y" name="arrFilter_342_1758376285" id="arrFilter_342_1758376285" onclick="smartFilter.click(this)">
                      <span class="bx-filter-param-text" title="Хит продаж">Big pot</span>
                    </span>
                  </label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFilter_342_1758376285" class="bx-filter-param-label" for="arrFilter_342_1758376285">
                    <span class="bx-filter-input-checkbox">
                      <input type="checkbox" value="Y" name="arrFilter_342_1758376285" id="arrFilter_342_1758376285" onclick="smartFilter.click(this)">
                      <span class="bx-filter-param-text" title="Хит продаж">Big village</span>
                    </span>
                  </label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFilter_342_1758376285" class="bx-filter-param-label" for="arrFilter_342_1758376285">
                    <span class="bx-filter-input-checkbox">
                      <input type="checkbox" value="Y" name="arrFilter_342_1758376285" id="arrFilter_342_1758376285" onclick="smartFilter.click(this)">
                      <span class="bx-filter-param-text" title="Хит продаж">Brew fiction</span>
                    </span>
                  </label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFilter_342_1758376285" class="bx-filter-param-label" for="arrFilter_342_1758376285">
                    <span class="bx-filter-input-checkbox">
                      <input type="checkbox" value="Y" name="arrFilter_342_1758376285" id="arrFilter_342_1758376285" onclick="smartFilter.click(this)">
                      <span class="bx-filter-param-text" title="Хит продаж">Brewers4</span>
                    </span>
                  </label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFilter_342_1758376285" class="bx-filter-param-label" for="arrFilter_342_1758376285">
                    <span class="bx-filter-input-checkbox">
                      <input type="checkbox" value="Y" name="arrFilter_342_1758376285" id="arrFilter_342_1758376285" onclick="smartFilter.click(this)">
                      <span class="bx-filter-param-text" title="Хит продаж">Burning</span>
                    </span>
                  </label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFilter_342_1758376285" class="bx-filter-param-label" for="arrFilter_342_1758376285">
                    <span class="bx-filter-input-checkbox">
                      <input type="checkbox" value="Y" name="arrFilter_342_1758376285" id="arrFilter_342_1758376285" onclick="smartFilter.click(this)">
                      <span class="bx-filter-param-text" title="Хит продаж">Courage</span>
                    </span>
                  </label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFilter_342_1758376285" class="bx-filter-param-label" for="arrFilter_342_1758376285">
                    <span class="bx-filter-input-checkbox">
                      <input type="checkbox" value="Y" name="arrFilter_342_1758376285" id="arrFilter_342_1758376285" onclick="smartFilter.click(this)">
                      <span class="bx-filter-param-text" title="Хит продаж">Brewlok</span>
                    </span>
                  </label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFilter_342_1758376285" class="bx-filter-param-label" for="arrFilter_342_1758376285">
                    <span class="bx-filter-input-checkbox">
                      <input type="checkbox" value="Y" name="arrFilter_342_1758376285" id="arrFilter_342_1758376285" onclick="smartFilter.click(this)">
                      <span class="bx-filter-param-text" title="Хит продаж">Cider/mead</span>
                    </span>
                  </label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFilter_342_1758376285" class="bx-filter-param-label" for="arrFilter_342_1758376285">
                    <span class="bx-filter-input-checkbox">
                      <input type="checkbox" value="Y" name="arrFilter_342_1758376285" id="arrFilter_342_1758376285" onclick="smartFilter.click(this)">
                      <span class="bx-filter-param-text" title="Хит продаж">Dipa</span>
                    </span>
                  </label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFilter_342_1758376285" class="bx-filter-param-label" for="arrFilter_342_1758376285">
                    <span class="bx-filter-input-checkbox">
                      <input type="checkbox" value="Y" name="arrFilter_342_1758376285" id="arrFilter_342_1758376285" onclick="smartFilter.click(this)">
                      <span class="bx-filter-param-text" title="Хит продаж">Gose</span>
                    </span>
                  </label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFilter_342_1758376285" class="bx-filter-param-label" for="arrFilter_342_1758376285">
                    <span class="bx-filter-input-checkbox">
                      <input type="checkbox" value="Y" name="arrFilter_342_1758376285" id="arrFilter_342_1758376285" onclick="smartFilter.click(this)">
                      <span class="bx-filter-param-text" title="Хит продаж">Ipa</span>
                    </span>
                  </label>
                </div>
              </div>
            </div>
            <div style="clear: both"></div>
          </div>
        </div>
        <div class="col-lg-12 bx-filter-parameters-box bx-active">
          <span class="bx-filter-container-modef"></span>
          <div class="bx-filter-parameters-box-title" onclick="smartFilter.hideFilterProps(this)">
            <span class="bx-filter-parameters-box-hint">Стиль<i data-role="prop_angle" class="fa fa-angle-up"></i></span>
          </div>
          <div class="bx-filter-block" data-role="bx_filter_block">
            <div class="row bx-filter-parameters-box-container">
              <div class="col-xs-12 collapsed-checkbox">
                
                <div class="checkbox">
                  <label data-role="label_arrFilter_411_1526256607" class="bx-filter-param-label" for="arrFilter_411_1526256607">
                    <span class="bx-filter-input-checkbox">
                      <input type="checkbox" value="Y" name="arrFilter_411_1526256607" id="arrFilter_411_1526256607" onclick="smartFilter.click(this)">
                      <span class="bx-filter-param-text" title="Barleywine">Barleywine</span>
                    </span>
                  </label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFilter_411_1971244285" class="bx-filter-param-label" for="arrFilter_411_1971244285">
                    <span class="bx-filter-input-checkbox">
                      <input type="checkbox" value="Y" name="arrFilter_411_1971244285" id="arrFilter_411_1971244285" onclick="smartFilter.click(this)">
                      <span class="bx-filter-param-text" title="Gose with Raspberry &amp; Black Currant">Gose with Raspberry &amp; Black Currant</span>
                    </span>
                  </label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFilter_342_1758376285" class="bx-filter-param-label" for="arrFilter_342_1758376285">
                    <span class="bx-filter-input-checkbox">
                      <input type="checkbox" value="Y" name="arrFilter_342_1758376285" id="arrFilter_342_1758376285" onclick="smartFilter.click(this)">
                      <span class="bx-filter-param-text" title="Хит продаж">Courage</span>
                    </span>
                  </label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFilter_342_1758376285" class="bx-filter-param-label" for="arrFilter_342_1758376285">
                    <span class="bx-filter-input-checkbox">
                      <input type="checkbox" value="Y" name="arrFilter_342_1758376285" id="arrFilter_342_1758376285" onclick="smartFilter.click(this)">
                      <span class="bx-filter-param-text" title="Хит продаж">Brewlok</span>
                    </span>
                  </label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFilter_342_1758376285" class="bx-filter-param-label" for="arrFilter_342_1758376285">
                    <span class="bx-filter-input-checkbox">
                      <input type="checkbox" value="Y" name="arrFilter_342_1758376285" id="arrFilter_342_1758376285" onclick="smartFilter.click(this)">
                      <span class="bx-filter-param-text" title="Хит продаж">Cider/mead</span>
                    </span>
                  </label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFilter_342_1758376285" class="bx-filter-param-label" for="arrFilter_342_1758376285">
                    <span class="bx-filter-input-checkbox">
                      <input type="checkbox" value="Y" name="arrFilter_342_1758376285" id="arrFilter_342_1758376285" onclick="smartFilter.click(this)">
                      <span class="bx-filter-param-text" title="Хит продаж">Dipa</span>
                    </span>
                  </label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFilter_342_1758376285" class="bx-filter-param-label" for="arrFilter_342_1758376285">
                    <span class="bx-filter-input-checkbox">
                      <input type="checkbox" value="Y" name="arrFilter_342_1758376285" id="arrFilter_342_1758376285" onclick="smartFilter.click(this)">
                      <span class="bx-filter-param-text" title="Хит продаж">Gose</span>
                    </span>
                  </label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFilter_342_1758376285" class="bx-filter-param-label" for="arrFilter_342_1758376285">
                    <span class="bx-filter-input-checkbox">
                      <input type="checkbox" value="Y" name="arrFilter_342_1758376285" id="arrFilter_342_1758376285" onclick="smartFilter.click(this)">
                      <span class="bx-filter-param-text" title="Хит продаж">Ipa</span>
                    </span>
                  </label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFilter_342_4056408295" class="bx-filter-param-label" for="arrFilter_342_4056408295">
                    <span class="bx-filter-input-checkbox">
                      <input type="checkbox" value="Y" name="arrFilter_342_4056408295" id="arrFilter_342_4056408295" onclick="smartFilter.click(this)" checked>
                      <span class="bx-filter-param-text" title="Новинка">Новинка</span>
                    </span>
                  </label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFilter_342_2260783217" class="bx-filter-param-label" for="arrFilter_342_2260783217">
                    <span class="bx-filter-input-checkbox">
                      <input type="checkbox" value="Y" name="arrFilter_342_2260783217" id="arrFilter_342_2260783217" onclick="smartFilter.click(this)">
                      <span class="bx-filter-param-text" title="Скидка">Скидка</span>
                    </span>
                  </label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFilter_342_1758376285" class="bx-filter-param-label" for="arrFilter_342_1758376285">
                    <span class="bx-filter-input-checkbox">
                      <input type="checkbox" value="Y" name="arrFilter_342_1758376285" id="arrFilter_342_1758376285" onclick="smartFilter.click(this)">
                      <span class="bx-filter-param-text" title="Хит продаж">Хит продаж</span>
                    </span>
                  </label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFilter_342_1758376285" class="bx-filter-param-label" for="arrFilter_342_1758376285">
                    <span class="bx-filter-input-checkbox">
                      <input type="checkbox" value="Y" name="arrFilter_342_1758376285" id="arrFilter_342_1758376285" onclick="smartFilter.click(this)">
                      <span class="bx-filter-param-text" title="Хит продаж">Antidot</span>
                    </span>
                  </label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFilter_342_1758376285" class="bx-filter-param-label" for="arrFilter_342_1758376285">
                    <span class="bx-filter-input-checkbox">
                      <input type="checkbox" value="Y" name="arrFilter_342_1758376285" id="arrFilter_342_1758376285" onclick="smartFilter.click(this)">
                      <span class="bx-filter-param-text" title="Хит продаж">Bad brew</span>
                    </span>
                  </label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFilter_342_1758376285" class="bx-filter-param-label" for="arrFilter_342_1758376285">
                    <span class="bx-filter-input-checkbox">
                      <input type="checkbox" value="Y" name="arrFilter_342_1758376285" id="arrFilter_342_1758376285" onclick="smartFilter.click(this)">
                      <span class="bx-filter-param-text" title="Хит продаж">Big pot</span>
                    </span>
                  </label>
                </div>
              </div>
            </div>
            <div style="clear: both"></div>
          </div>
        </div>
        <div class="col-lg-12 bx-filter-parameters-box bx-active">
          <span class="bx-filter-container-modef"></span>
          <div class="bx-filter-parameters-box-title" onclick="smartFilter.hideFilterProps(this)">
            <span class="bx-filter-parameters-box-hint">Плотность<i data-role="prop_angle" class="fa fa-angle-up"></i></span>
          </div>
          <div class="bx-filter-block" data-role="bx_filter_block">
            <div class="row bx-filter-parameters-box-container">
              <div class="col-xs-12 collapsed-checkbox">
                
                <div class="checkbox">
                  <label data-role="label_arrFilter_412_551740291" class="bx-filter-param-label" for="arrFilter_412_551740291">
                    <span class="bx-filter-input-checkbox">
                      <input type="checkbox" value="Y" name="arrFilter_412_551740291" id="arrFilter_412_551740291" onclick="smartFilter.click(this)">
                      <span class="bx-filter-param-text" title="20">20</span>
                    </span>
                  </label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFilter_412_693415848" class="bx-filter-param-label" for="arrFilter_412_693415848">
                    <span class="bx-filter-input-checkbox">
                      <input type="checkbox" value="Y" name="arrFilter_412_693415848" id="arrFilter_412_693415848" onclick="smartFilter.click(this)">
                      <span class="bx-filter-param-text" title="35">35</span>
                    </span>
                  </label>
                </div>  
              </div>
            </div>
            <div style="clear: both"></div>
          </div>
        </div>
        <div class="col-lg-12 bx-filter-parameters-box bx-active">
          <span class="bx-filter-container-modef"></span>
          <div class="bx-filter-parameters-box-title" onclick="smartFilter.hideFilterProps(this)">
            <span class="bx-filter-parameters-box-hint">Крепость<i data-role="prop_angle" class="fa fa-angle-up"></i></span>
          </div>
          <div class="bx-filter-block" data-role="bx_filter_block">
            <div class="row bx-filter-parameters-box-container">
              <div class="col-xs-12 collapsed-checkbox">
                
                <div class="checkbox">
                  <label data-role="label_arrFilter_413_1310284409" class="bx-filter-param-label" for="arrFilter_413_1310284409">
                    <span class="bx-filter-input-checkbox">
                      <input type="checkbox" value="Y" name="arrFilter_413_1310284409" id="arrFilter_413_1310284409" onclick="smartFilter.click(this)">
                      <span class="bx-filter-param-text" title="0,5">0,5</span>
                    </span>
                  </label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFilter_413_742230398" class="bx-filter-param-label" for="arrFilter_413_742230398">
                    <span class="bx-filter-input-checkbox">
                      <input type="checkbox" value="Y" name="arrFilter_413_742230398" id="arrFilter_413_742230398" onclick="smartFilter.click(this)">
                      <span class="bx-filter-param-text" title="14,0">14,0</span>
                    </span>
                  </label>
                </div>
              </div>
            </div>
            <div style="clear: both"></div>
          </div>
        </div>
        <div class="col-lg-12 bx-filter-parameters-box bx-active">
          <span class="bx-filter-container-modef"></span>
          <div class="bx-filter-parameters-box-title" onclick="smartFilter.hideFilterProps(this)">
            <span class="bx-filter-parameters-box-hint">Горечь<i data-role="prop_angle" class="fa fa-angle-up"></i></span>
          </div>
          <div class="bx-filter-block" data-role="bx_filter_block">
            <div class="row bx-filter-parameters-box-container">
              <div class="col-xs-12 collapsed-checkbox">
                
                <div class="checkbox">
                  <label data-role="label_arrFilter_414_726682983" class="bx-filter-param-label" for="arrFilter_414_726682983">
                    <span class="bx-filter-input-checkbox">
                      <input type="checkbox" value="Y" name="arrFilter_414_726682983" id="arrFilter_414_726682983" onclick="smartFilter.click(this)">
                      <span class="bx-filter-param-text" title="10">10</span>
                    </span>
                  </label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFilter_414_1162628272" class="bx-filter-param-label" for="arrFilter_414_1162628272">
                    <span class="bx-filter-input-checkbox">
                      <input type="checkbox" value="Y" name="arrFilter_414_1162628272" id="arrFilter_414_1162628272" onclick="smartFilter.click(this)">
                      <span class="bx-filter-param-text" title="80">80</span>
                    </span>
                  </label>
                </div>
              </div>
            </div>
            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 bx-filter-button-box">
          <div class="bx-filter-block">
            <div class="bx-filter-parameters-box-container">
              <input class="btn btn-themes" type="button" id="set_filter" name="set_filter" value="Показать">
              <input class="btn btn-link" type="button" id="del_filter" name="del_filter" value="Сбросить">
            </div>
          </div>
        </div>
      </div>
      <div class="clb"></div>
    </form>
  </div>
</div>