.bx-filter {
  margin: 0;
  font-family: $main-font;
  font-weight: 400;

  .bx-filter-input-checkbox input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    font-size: 0;
    clip: rect(0 0 0 0);
  }

  .bx-filter-param-label {
    cursor: pointer;
  }

  .bx-filter-param-text {
    @include DТекст16inter-med;
    position: relative;
    display: flex !important;
    height: 40px;
    align-items: center;
    padding-top: 4px;
    padding-right: 20px;
    padding-bottom: 6px;
    padding-left: 20px;
    border-radius: 50px;
    color: #ffffff;
    background-color: #212121;
    transition: background-color 0.3s;
    flex-shrink: 0;

    @media (max-width: $phone) {
      margin: 0;
      font-size: 14px;
      line-height: 20px;
    }

    &:hover {
      background-color: $blue-1;
    }
  }

  .bx-filter-input-checkbox input:checked~.bx-filter-param-text {
    background-color: $blue-1;
  }

  .bx-filter-param-label.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
  }

  .bx-filter-param-label.disabled .bx-filter-param-btn.bx-color-sl {
    display: none;
    content: unset;
  }

  input+.bx-filter-param-label:before {
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid $grey-6;
    border-radius: 4px;
    background-color: $white-1;
    transition:
      background-color 0.2s ease-in,
      border 0.2s ease-in;
    content: "";
  }

  input:checked+.bx-filter-param-label:before {
    background-color: $blue-1;
  }

  input:checked+.bx-filter-param-label:after {
    position: absolute;
    top: 0;
    left: 4px;
    width: 4px;
    height: 8px;
    border-right: 2px solid $white-1;
    border-bottom: 2px solid $white-1;
    transform: rotate(45deg);
    transform-origin: 0 100%;
    box-sizing: content-box;
    content: "";
  }

  .bx-filter-param-btn {
    display: block;
    width: 21px;
    height: 17px;
    margin: 0;
    padding: 0;
    border: 0 !important;
  }

  .bx-filter-btn-color-icon {
    display: block;
    width: 21px;
    height: 17px;
  }

  .btn {
    @include DТекст16inter-med;
    position: relative;
    display: flex;
    max-width: 190px;
    height: 40px;
    justify-content: center;
    align-items: center;
    padding-top: 4px;
    padding-right: 20px;
    padding-bottom: 6px;
    padding-left: 20px;
    border-radius: 50px;
    color: #ffffff;
    background-color: #212121;
    transition:
      color 0.3s,
      border-color 0.3s,
      background-color 0.3s;
    flex-shrink: 0;
    flex-grow: 1;
    cursor: pointer;

    @media (max-width: $phone) {
      margin: 0;
      font-size: 14px;
      line-height: 20px;
    }

    &:hover {
      background-color: $blue-1;
    }
  }

  .btn.btn-themes {
    border: 1px solid $dark-blue-1;
    color: $white-1;
    background-color: $dark-blue-1;

    &:not(:disabled):hover,
    &:not(:disabled):focus {
      @media (min-width: $desktop-only) {
        background-color: $blue-1 !important;
        border-color: $blue-1 !important;
      }
    }
  }

  .btn.btn-link {
    border: 2px solid $black-1 !important;
    color: $black-1;
    background-color: transparent !important;

    &:not(:disabled):hover,
    &:not(:disabled):focus {
      @media (min-width: $desktop-only) {
        color: $blue-1 !important;
        background-color: transparent !important;
        border-color: $blue-1 !important;
      }
    }
  }

  .bx-filter-section {
    padding: 0;
  }

  .bx-filter-button-box {
    margin-top: 30px;

    .bx-filter-parameters-box-container {
      justify-content: flex-start;
    }
  }

  .bx-filter-parameters-box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    gap: 16px;
  }

  .bx-filter-parameters-box-container-block {
    color: inherit;
  }

  .bx-filter-parameters-box-container-block.bx-left,
  .bx-filter-parameters-box-container-block.bx-right {
    width: 45%;
  }

  .bx-filter-title {
    display: none;
  }

  .bx-ui-slider-pricebar-v,
  .bx-ui-slider-pricebar-vn,
  .bx-ui-slider-pricebar-vd,
  .bx-ui-slider-range,
  .bx-ui-slider-handle.left,
  .bx-ui-slider-handle.right {
    z-index: 5;
  }

  .bx-filter-block {
    box-sizing: border-box;
  }

  .bx-ui-slider-track-container {
    width: 100%;
    margin-right: 16px;
    margin-left: 16px;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .bx-ui-slider-track {
    height: 5px;
    border-radius: 0;
    background-color: $grey-6;
  }

  .bx-ui-slider-part {
    display: none;
  }

  .bx-filter-input-container {
    position: relative;
  }

  .bx-filter-input-container:before {
    position: absolute;
    top: 14px;
    right: 19px;
    font-size: 16px;
    line-height: 25px;
    content: "₽";
  }

  .bx-filter-input-container input {
    height: unset;
    margin: 0;
    padding-top: 13px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 19px;
    border: 1px solid #d6dfe4;
    border-radius: 5px !important;
    font-family: $main-font;
    font-size: 16px;
    line-height: 25px;
    color: inherit;
    transition: border-color 0.3s;
    text-overflow: ellipsis;
    border-image: unset !important;
  }

  .bx-filter-input-container input:hover,
  .bx-filter-input-container input:focus {
    border-color: $grey-3;
  }

  .bx-filter-input-container input::placeholder {
    font-family: $main-font;
    font-size: 16px;
    line-height: 25px;
    color: $grey-3;
  }

  .bx-filter-parameters-box {
    margin-bottom: 20px;
  }

  .bx-filter-parameters-box:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
  }

  .bx-filter-parameters-box-title {
    padding: 0;
  }

  .bx-filter-parameters-box-title span {
    @include DЗаголовок25-Заголовок4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0;
    color: $dark-blue-1;
    transition: color 0.3s;
    cursor: auto;
  }

  .fa {
    font-size: 24px;
  }

  .bx-filter-input-checkbox {
    display: flex;
    align-items: center;
  }

  .bx-filter-parameters-box-title span:hover {
    color: #212121;
  }

  .bx-active .bx-filter-parameters-box-title span {
    color: #212121;
  }

  .bx-filter-popup-result {
    right: 0 !important;
    left: 70% !important;
    display: none !important;
    width: 120px;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    padding: 0;
    border: 0;
    border-radius: 0;
    font-size: 0;
    line-height: 0;
    text-align: center;
    color: $white-1;
    background-color: $dark-blue-1;
    transition: background-color 0.3s;
    border-image: unset !important;

    @media (max-width: $phone) {
      display: none !important;
      visibility: hidden;
      opacity: 0;
    }
  }

  .bx-filter-popup-result:hover {
    background-color: $blue-1;
  }

  .bx-filter-popup-result:hover:before {
    background-color: $blue-1;
  }

  .bx-filter-popup-result:before {
    position: absolute;
    top: 17px;
    left: -4px;
    z-index: -1;
    width: 16px;
    height: 16px;
    background-color: $dark-blue-1;
    transition: background-color 0.3s;
    transform: rotate(45deg);
    content: "";
  }

  .bx-filter-popup-result span {
    display: none;
  }

  .bx-filter-popup-result a {
    display: block;
    width: 100%;
    height: 100%;
    padding-right: 20px;
    padding-left: 20px;
    font-family: $main-font;
    font-size: 12px;
    font-weight: 500;
    line-height: 50px;
    text-decoration: none;
    color: $white-1;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    cursor: pointer;
    user-select: none;
  }

  .checkbox {
    display: inline-flex;
    margin-top: 10px;
    margin-right: 15px;
  }

  .checkbox-more {
    @include DТекст16inter-med;
    height: 40px;
    align-items: center;
    margin-top: 10px;
    padding-top: 4px;
    padding-right: 20px;
    padding-bottom: 4px;
    padding-left: 20px;
    border: 2px solid currentcolor;
    border-radius: 50px;
    color: #212121;
    background-color: transparent;
    transition: color 0.3s;
    outline-offset: -2px;
    float: right;
    flex-shrink: 0;
    cursor: pointer;

    @media (max-width: $phone) {
      font-size: 14px;
      line-height: 20px;
    }

    &:hover {
      color: $blue-1;
    }
  }
}

.bx-filter.bx-blue .bx-filter-section {
  padding: 0;
  background-color: unset;
}

.bx-filter.bx-blue .bx-ui-slider-pricebar-vn {
  position: relative;
  background-color: $grey-6;
}

.bx-filter.bx-blue .bx-ui-slider-pricebar-v,
.bx-ui-slider-pricebar-vd {
  border-radius: 0;
  background-color: $blue-1 !important;
}

.bx-filter.bx-blue .bx-ui-slider-handle.left {
  width: 24px;
  height: 24px;
  margin-top: -14px;
  margin-left: -18px;
  border: 6px solid $blue-1;
  border-radius: 50%;
  background-color: $white-1;
  background-image: unset;
}

.bx-filter.bx-blue .bx-ui-slider-handle.right {
  width: 24px;
  height: 24px;
  margin-top: -14px;
  margin-right: -18px;
  border: 6px solid $blue-1;
  border-radius: 50%;
  background-color: $white-1;
  background-image: unset;
}

// .collapsed-checkbox {
//   max-height: 50px;
//   overflow: hidden;

//   @media(max-width: $tablet) {
//     max-height: unset;
//   }
// }