div.catalog-card
  a(href="#").catalog-card__link
  div.catalog-card__content
    span.catalog-card__title Крафтовое пиво
  figure.catalog-card__banner
    img(src="./assets/images/catalog-card-banner-1.png", alt="")


div.catalog-card
  a(href="#").catalog-card__link
  div.catalog-card__content
    span.catalog-card__title Импортное пиво
  figure.catalog-card__banner
    img(src="./assets/images/catalog-card-banner-2.png", alt="")


div.catalog-card
  a(href="#").catalog-card__link
  div.catalog-card__content
    span.catalog-card__title Локальное пиво
  figure.catalog-card__banner
    img(src="./assets/images/catalog-card-banner-3.png", alt="")


div.catalog-card
  a(href="#").catalog-card__link
  div.catalog-card__content
    span.catalog-card__title Безалкогольные напитки
  figure.catalog-card__banner
    img(src="./assets/images/catalog-card-banner-4.png", alt="")


div.catalog-card
  a(href="#").catalog-card__link
  div.catalog-card__content
    span.catalog-card__title Сидр
  figure.catalog-card__banner
    img(src="./assets/images/catalog-card-banner-5.png", alt="")


div.catalog-card
  a(href="#").catalog-card__link
  div.catalog-card__content
    span.catalog-card__title Медовуха
  figure.catalog-card__banner
    img(src="./assets/images/catalog-card-banner-6.png", alt="")