.catalog-card {
  @include Shadow-cards;
  position: relative;
  height: 200px;
  display: grid;
  grid-template-columns: 1fr min-content;
  align-items: center;
  background-color: $white-1;
  overflow: hidden;

  @media(max-width: $phone) {
    height: 140px;
  }

  &__link {
    @include hover-banner;
    position: absolute;
    inset: 0;
  }

  &__content {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    flex-grow: 1;
  }

  &__title {
    @include DЗаголовок25-Заголовок4;
    margin: 0;
  }

  &__banner {
    width: auto;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;

    img {
      width: auto;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }
}