@import 'src/utils/utils';

.Warning {
  @include zero;
  position: relative;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border: 1px solid transparent;
  background-color: $grey-5;

  @media(max-width: $phone) {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  &__message {
    @include DТекст16inter-reg;
    @include zero;
    color: $dark-blue-1;

    a {
      @include DТекст16inter-reg;
      text-decoration: none;
      color: $dark-blue-1;
    }
  }

  &__close {
    @include zero;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    border: 0;
    background-color: transparent;
    cursor: pointer;

    @media(min-width: $desktop-only) {

      &:hover {
        
        svg {
          fill: $blue-1;
        }
      }
    }

    svg {
      width: 100%;
      height: 100%;
      fill: $dark-blue-1;
      transition: 0.3s;
    }
  }

  &--success {
    background-color: #f1f6f0;
    border-color: $light-green-1;
  }

  &--error {
    background-color: #fbe6e3;
    border-color: transparent;
  }
}