.modal-product {
  &__wrapper {
    display: flex;
    gap: 30px;

    @media (max-width: $phone) {
      flex-direction: column;
      gap: 10px;
    }
  }

  &__banner {
    position: relative;
    display: block;
    width: 300px;
    height: 475px;
    margin: 0;
    margin-top: -20px;
    margin-bottom: -20px;
    margin-left: -20px;
    padding: 0;
    overflow: hidden;
    flex-shrink: 0;

    @media (max-width: $phone) {
      width: 100%;
      height: 300px;
      margin: 0;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: left;
    }
  }

  &__untappd {
    position: absolute;
    bottom: 10px;
    left: 10px;

    @media (max-width: $phone) {
      bottom: 5px;
      left: 5px;
    }
  }

  &__content {
  }

  &__title {
    @include DЗаголовок30-Заголовок3;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
  }

  &__tags {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    padding: 5px;
    gap: 5px;

    @media (max-width: $phone) {
      position: unset;
      width: 100%;
      margin-bottom: 10px;
      padding: 0;
    }
  }

  &__tag {
    @include DТекст15inter-med;
    padding-top: 4px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
    border-radius: 10px;
    color: $white-1;

    @media (max-width: $phone) {
      padding-top: 2px;
      padding-right: 8px;
      padding-bottom: 4px;
      padding-left: 8px;
    }
  }

  &__type {
    margin: 0;
    margin-top: 10px;
  }

  &__stats {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-top: 6px;
    padding: 0;
    list-style: none;
    gap: 4px;
  }

  &__stat {
    &:not(:last-child):after {
      margin-left: 4px;
      content: "/";
    }

    b {
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  &__description {
    display: inline-block;
    margin-top: 10px;
    font-style: italic;
    color: $grey-8;
  }

  &__info {
    width: 100%;
    margin: 0;
    margin-top: 15px;
    padding: 0;
    list-style: none;
  }

  &__info-item {
    @include DТекст15inter-reg;
    position: relative;
    display: grid;
    align-items: center;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    grid-template-columns: 1fr 200px;

    @media (max-width: $phone) {
      grid-template-columns: 1fr 140px;
    }

    a {
      color: $light-green-1;
      transition: text-decoration-color 0.3s;
      text-decoration-color: $light-green-1;

      &:hover {
        @media (min-width: $desktop-only) {
          text-decoration-color: transparent;
        }
      }
    }
  }

  &__info-name {
    display: flex;
    margin-bottom: auto;

    &:after {
      position: relative;
      top: 11px;
      min-width: 30px;
      margin-right: 10px;
      margin-left: 10px;
      border-top: 1px dotted $grey-4;
      flex-grow: 1;
      content: "";
    }
  }

  &__info-value {
    color: $grey-8;
  }

  &__sign {
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding: 10px;
    background-color: $grey-6;
  }

  &__icon {
    margin: 0 auto;

    svg {
      display: block;
      margin: 0 auto;
      fill: currentcolor;
      stroke: currentcolor;

      @media (max-width: $phone) {
        width: 40px;
        height: 40px;
      }
    }
  }

  &__need {
    @include DЗаголовок25-Заголовок4;
    margin: 0;

    a {
      text-decoration: none;
      color: $light-green-1;
      transition: color 0.3s;

      &:hover {
        @media (min-width: $desktop-only) {
          color: $blue-1;
        }
      }
    }
  }

  &__action {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 20px;
    flex-shrink: 0;

    @media (max-width: $phone) {
      gap: 10px;
    }
  }

  &__amount {
    display: grid;
    height: 45px;
    align-items: center;
    grid-template-columns: 1fr 200px;
    gap: 10px;

    @media (max-width: $phone) {
      height: unset;
      grid-template-columns: 1fr 100px;
    }
  }

  &__price {
    @include DЗаголовок40-Заголовок2;
    margin: 0;

    span {
      @include DЗаголовок20-Заголовок5;
      margin: 0;
    }
  }

  &__packaging {
    width: 100px;
  }
}
