extends ../templates/default

include ../components/watched/watched
include ../components/post-title/post-title
include ../components/catalog/catalog

block main
  include ../components/age/age

  include ../components/banner/banner
  
  +post-title({
    text: 'Найдено 1043 результатов',
  })

  +catalog({
    empty: true,
  })
  
  +watched({
    title: 'Вы смотрели',
  })
