extends ../templates/default

include ../components/request-wrapper/request-wrapper
include ../components/request/request

block main
  include ../components/breadcrumbs/breadcrumbs
  
  +title({
    title: 'Контакты',
  })

  +layout-header({
    contacts: true,
  })

  include ../components/contacts/contacts

  +layout({
    title: 'Обратная связь',
  })
    +request-wrapper({})
      +request({
        id: 'RequestContacts',
        name: true,
        phone: true,
        email: true,
        textarea: true, 
      })
