extends ../templates/default

include ../components/article/article
include ../components/request-wrapper/request-wrapper
include ../components/request/request

block main
  include ../components/breadcrumbs/breadcrumbs
  
  +title({
    title: 'Сотрудничество',
  })

  +layout-header({
    about: true,
  })

  +layout({})
    +article({
      article: true,
    })
  
  include ../components/team/team
  
  include ../components/projects/projects
  
  include ../components/advantages/advantages


  +layout({
    title: 'Стать партнером',
  })
    +request-wrapper({})
      +request({
        id: 'RequestCooperation',
        name: true,
        phone: true,
        email: true,
        textarea: true, 
        footer: true,
      })
