<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //- favicons
    <link rel="apple-touch-icon" sizes="76x76" href="./assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="./assets/favicons/site.webmanifest">
    <link rel="mask-icon" href="./assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="./assets/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="./assets/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    //- favicons

    title Nice Beer

  body(style='margin-left: 20px; color: #000000; background-color: #ffffff;')
      h1 Nice Beer
      ul(style="flex-grow: 1;")
        li
          a(href="./main.html" tabindex="-1") Главная
        li
          a(href="./catalog-1.html" tabindex="-1") Каталог (не авторизован)
        li
          a(href="./catalog-2.html" tabindex="-1") Каталог (авторизован)
        li
          a(href="./cart.html" tabindex="-1") Корзина
        li
          a(href="./empty.html" tabindex="-1") Корзина/Акции/Статьи/Избранное/Сравнение (здесь пока ничего нет)
        li
          a(href="./offer-1.html" tabindex="-1") Заказ оформлен (оплата по QR коду)
        li
          a(href="./offer-2.html" tabindex="-1") Заказ оформлен (онлайн Visa, Mastercard.)
        li
          a(href="./offer-3.html" tabindex="-1") Заказ оформлен (оплата по счету)
        li
          a(href="./offer-4.html" tabindex="-1") Заказ не оформлен
        li
          a(href="./search-1.html" tabindex="-1") Результаты поиска (ничего не найдено)
        li
          a(href="./search-2.html" tabindex="-1") Результаты поиска (товары)
        li
          a(href="./search-3.html" tabindex="-1") Результаты поиска (акции)
        li
          a(href="./search-4.html" tabindex="-1") Результаты поиска (статьи)
        li
          a(href="./search-5.html" tabindex="-1") Результаты поиска (теги)
        li
          a(href="./tag-1.html" tabindex="-1") Тег с длинным (товары)
        li
          a(href="./tag-2.html" tabindex="-1") Тег с длинным (акции)
        li
          a(href="./tag-3.html" tabindex="-1") Тег с длинным (статьи)
        li
          a(href="./politics.html" tabindex="-1") Политика конфиденциальности
        li
          a(href="./site-nav.html" tabindex="-1") Карта сайта
        li
          a(href="./404.html" tabindex="-1") Страница не найдена
        li
          a(href="./payment-and-delivery.html" tabindex="-1") Покупателю (оплата и доставка)
        li
          a(href="./questions-and-answers.html" tabindex="-1") Покупателю (вопросы и ответы)
        li
          a(href="./geography.html" tabindex="-1") Покупателю (наша география)
        li
          a(href="./promotions.html" tabindex="-1") Акции и спец. предложения
        li
          a(href="./promotion.html" tabindex="-1") Наименование акции
        li
          a(href="./services.html" tabindex="-1") Услуги
        li
          a(href="./service.html" tabindex="-1") Наименование услуги
        li
          a(href="./inspiration.html" tabindex="-1") Вдохновение
        li
          a(href="./category.html" tabindex="-1") Наименование категории (вдохновение)
        li
          a(href="./article.html" tabindex="-1") Статья
        li
          a(href="./about.html" tabindex="-1") О компании
        li
          a(href="./missions.html" tabindex="-1") Миссия и ценности
        li
          a(href="./cooperation.html" tabindex="-1") Сотрудничество
        li
          a(href="./contacts.html" tabindex="-1") Контакты
        li
          a(href="./lk.html" tabindex="-1") Личный кабинет
        li
          a(href="./lk-offers-current.html" tabindex="-1") Личный кабинет (текущие заказы)
        li
          a(href="./lk-offers-detail.html" tabindex="-1") Личный кабинет (товары в заказе №11)
        li
          a(href="./lk-offers-finished.html" tabindex="-1") Личный кабинет (выполненные заказы)
        li
          a(href="./lk-offers-canceled.html" tabindex="-1") Личный кабинет (отмененные заказы)
        li
          a(href="./lk-watched.html" tabindex="-1") Личный кабинет (вы смотрели)
        li
          a(href="./lk-subcribes.html" tabindex="-1") Личный кабинет (подписки)
        li
          a(href="./lk-1.html" tabindex="-1") Адреса доставки
        li
          a(href="./lk-2.html" tabindex="-1") Добавить адреса доставки
        li
          a(href="./lk-3.html" tabindex="-1") Мои организации
        li
          a(href="./lk-4.html" tabindex="-1") Добавить организацию
        li
          a(href="./lk-5.html" tabindex="-1") Представители организации
        li
          a(href="./lk-6.html" tabindex="-1") Добавить представителя организации
        li
          a(href="./lk-7.html" tabindex="-1") Запрос пароля
        li
          a(href="./lk-8.html" tabindex="-1") Изменение пароля
