extends ../templates/default

include ../components/article-card/article-card
include ../components/tags/tags
include ../components/category-card/category-card
include ../components/request-wrapper/request-wrapper
include ../components/request/request

block main
  include ../components/breadcrumbs/breadcrumbs
  
  +title({
    title: 'Вдохновение',
  })
  include ../components/novelties/novelties
  

  +tags({
    title: 'Популярные теги',
  })
  

  +layout({
    variant: 'layout--grid3',
    title: 'Категории',
  })
    +category-card({
      src: './assets/images/image-1.jpg',
      title: 'Классификация сортов и видов пива. Описание и характеристики самых популярных марок.',
    })
    +category-card({
      src: './assets/images/image-6.jpg',
      title: 'Классификация сортов и видов пива.',
    })
    +category-card({
      src: './assets/images/image-7.jpg',
      title: 'Описание и характеристики самых популярных марок',
    })
    +category-card({
      src: './assets/images/image-15.jpg',
      title: 'Классификация сортов и видов пива. Описание и характеристики самых популярных марок.',
    })
    +category-card({
      src: './assets/images/image-18.jpg',
      title: 'Классификация сортов и видов пива.',
    })
    +category-card({
      src: './assets/images/image-11.jpg',
      title: 'Описание и характеристики самых популярных марок',
    })


  +layout({})
    +request-wrapper({
      title: 'Подпишитесь на рассылку!',
      text: 'Подпишитесь на новости и получайте самые свежие статьи и рекомендации от наших пивоваров!',
    })
      +request({
        id: 'Subscribe',
        email: true,
      })

  
  +layout({
    variant: 'layout--grid3',
    title: 'Все статьи',
    pagination: true,
  })
    +article-card({
      src: './assets/images/image-12.jpg',
      title: 'Классификация сортов и видов пива. Описание и характеристики самых популярных марок.',
    })
    +article-card({
      src: './assets/images/image-14.jpg',
      title: 'Классификация сортов и видов пива.',
    })
    +article-card({
      src: './assets/images/image-13.jpg',
      title: 'Описание и характеристики самых популярных марок',
    })
    +article-card({
      src: './assets/images/image-15.jpg',
      title: 'Классификация сортов и видов пива.',
    })
    +article-card({
      src: './assets/images/image-17.jpg',
      title: 'Классификация сортов и видов пива.',
    })
    +article-card({
      src: './assets/images/image-19.jpg',
      title: 'Классификация сортов и видов пива.',
    })
    +article-card({
      src: './assets/images/image-12.jpg',
      title: 'Описание и характеристики самых популярных марок',
    })
    +article-card({
      src: './assets/images/image-10.jpg',
      title: 'Классификация сортов и видов пива. Описание и характеристики самых популярных марок.',
    })
    +article-card({
      src: './assets/images/image-3.jpg',
      title: 'Классификация сортов и видов пива.',
    })
    +article-card({
      src: './assets/images/image-5.jpg',
      title: 'Классификация сортов и видов пива.',
    })
    +article-card({
      src: './assets/images/image-7.jpg',
      title: 'Описание и характеристики самых популярных марок',
    })
    +article-card({
      src: './assets/images/image-2.jpg',
      title: 'Классификация сортов и видов пива.',
    })