extends ../templates/default

include ../components/profile-accordion/profile-accordion
include ../components/profile-info-card/profile-info-card
include ../components/profile-center/profile-center
include ../components/profile-page/profile-page

block main
  include ../components/breadcrumbs/breadcrumbs

  +profile-page({})
    +profile-center({
      title: 'Адреса доставки',
      add: '+ Добавить адрес',
    })
      h3.profile-center__legend Личные адреса
      +profile-accordion({
        title: 'Москва, улица Авиаторов, д. 10, кв. 49, индекс 119619',
      })
        +profile-info-card({
          address: true,
        })

      +profile-accordion({
        title: 'Москва, улица Авиаторов, д. 10, кв. 49, индекс 119619, Москва, улица Авиаторов, д. 10, кв. 49, индекс 119619',
      })
        +profile-info-card({
          address: true,
        })

      h3.profile-center__legend АО "ВИТ"
      +profile-accordion({
        title: 'Москва, улица Авиаторов, д. 10, кв. 49, индекс 119619, Москва, улица Авиаторов, д. 10, кв. 49, индекс 119619, Москва, улица Авиаторов, д. 10, кв. 49, индекс 119619, Москва, улица Авиаторов, д. 10, кв. 49, индекс 119619',
      })
        +profile-info-card({
          address: true,
        })

      h3.profile-center__legend ЛАМБИК ООО (Black Head Brew)
      +profile-accordion({
        title: 'Москва, улица Авиаторов',
      })
        +profile-info-card({
          address: true,
        })

      +profile-accordion({
        title: 'Москва, улица Авиаторов, индекс 119619',
      })
        +profile-info-card({
          address: true,
        })

      +profile-accordion({
        title: 'Москва, улица Авиаторов, д. 10, кв. 49, индекс 119619',
      })
        +profile-info-card({
          address: true,
        })

      +profile-accordion({
        title: 'Москва, улица Авиаторов, д. 10, кв. 49',
      })
        +profile-info-card({
          address: true,
        })
