extends ../templates/default

include ../components/profile-form/profile-form

block main
  include ../components/breadcrumbs/breadcrumbs

  +title({
    title: 'Изменение пароля',
  })

  +layout({
    variant: 'layout--tight',
  })
    +profile-form({
      newpassword: true,
    })