extends ../templates/default

include ../components/profile-page/profile-page

block main
  include ../components/breadcrumbs/breadcrumbs

  +profile-page({})
    include ../react/providers/pages/lk-add-organization/add-organization/add-organization