extends ../templates/default

include ../components/profile-center/profile-center
include ../components/profile-page/profile-page

block main
  include ../components/breadcrumbs/breadcrumbs

  +profile-page({})
    +profile-center({
      title: 'Подписки',
    })
      include ../components/profile-subscribes/profile-subscribes
        