extends ../templates/default

include ../components/profile-page/profile-page
include ../components/profile-center/profile-center
include ../components/profile-page/profile-page

block main
  include ../components/breadcrumbs/breadcrumbs

  +profile-page({})
    +profile-center({
      title: 'Личные данные',
    })
      include ../components/personal-data/personal-data
