extends ../templates/default

include ../components/slider/slider
include ../components/request-wrapper/request-wrapper
include ../components/request/request

block main
  include ../components/intro/intro

  +layout({
    variant: 'layout--grid3',
    title: 'Категории',
    link: 'Смотреть все',
  })
    include ../components/catalog-card/catalog-card

  +layout({
    title: 'Партнеры',
  })
    +slider({
      partners: true,
    })

  +layout({})
    +request-wrapper({
      title: 'Обратная связь',
      text: 'Возникли вопросы, замечания или предложения? Напишите нам, и мы ответим в кратчайшие сроки!',
    })
      +request({
        name: true,
        city: true,
        company: true,
        email: true,
        textarea: true, 
        file: true,
      })