extends ../templates/default

include ../components/offer/offer
include ../components/request-wrapper/request-wrapper
include ../components/request/request

block main
  include ../components/breadcrumbs/breadcrumbs

  +offer({
    fail: true,
  })

  +layout({
    title: 'Обратная связь',
  })
    +request-wrapper({})
      +request({
        name: true,
        phone: true,
        email: true,
        textarea: true, 
      })

  include ../react/providers/pages/contacts/RequestContactsProvider/RequestContactsProvider