extends ../templates/default

include ../components/tabs/tabs
include ../components/article/article

block main
  include ../components/breadcrumbs/breadcrumbs
  
  +title({
    title: 'Покупателю',
  })
  
  +tabs({
    ver3: true,
  })

  +layout({})
    +article({
      service: true,
    })