extends ../templates/default

include ../components/watched/watched
include ../components/promotion-card/promotion-card
include ../components/request-wrapper/request-wrapper
include ../components/request/request


block main
  include ../components/breadcrumbs/breadcrumbs


  +title({
    title: 'Акции и спец. предложения',
  })


  include ../components/banner/banner


  +layout({})
    +request-wrapper({
      title: 'Подпишитесь на рассылку!',
      text: 'Подпишитесь на новости и получайте самые свежие статьи и рекомендации от наших пивоваров!',
    })
      +request({
        id: 'Subscribe',
        email: true,
      })
  

  +layout({
    variant: 'layout--grid3',
    title: 'Акции',
    pagination: true,
  })
    +promotion-card({
      src: './assets/images/image-2.jpg',
      title: 'Дурное дело нехитрое: известный инсайдер, в преддверии важного события, не позволил союзу развалиться',
    })
    +promotion-card({
      src: './assets/images/image-3.jpg',
      title: 'Воистину радостный звук: детский заливистый смех',
    })
    +promotion-card({
      src: './assets/images/image-4.jpg',
      title: 'Финансовый мир очнулся: постоянный количественный рост бодрит',
    })
    +promotion-card({
      src: './assets/images/image-1.jpg',
      title: 'Сложно сказать, почему объем доходов населения сократился',
    })
    +promotion-card({
      src: './assets/images/image-5.jpg',
      title: 'Дурное дело нехитрое: известный инсайдер, в преддверии важного события, не позволил союзу развалиться',
    })
    +promotion-card({
      src: './assets/images/image-11.jpg',
      title: 'Воистину радостный звук: детский заливистый смех',
    })
    +promotion-card({
      src: './assets/images/image-15.jpg',
      title: 'Финансовый мир очнулся: постоянный количественный рост бодрит',
    })
    +promotion-card({
      src: './assets/images/image-3.jpg',
      title: 'Сложно сказать, почему объем доходов населения сократился',
    })
    +promotion-card({
      src: './assets/images/image-11.jpg',
      title: 'Дурное дело нехитрое: известный инсайдер, в преддверии важного события, не позволил союзу развалиться',
    })
    +promotion-card({
      src: './assets/images/image-10.jpg',
      title: 'Воистину радостный звук: детский заливистый смех',
    })
    +promotion-card({
      src: './assets/images/image-7.jpg',
      title: 'Финансовый мир очнулся: постоянный количественный рост бодрит',
    })
    +promotion-card({
      src: './assets/images/image-5.jpg',
      title: 'Сложно сказать, почему объем доходов населения сократился',
    })
  
  +watched({
    title: 'Вы смотрели',
  })