extends ../templates/default

include ../components/tabs/tabs

block main
  include ../components/breadcrumbs/breadcrumbs
  
  +title({
    title: 'Покупателю',
  })
  +tabs({
    ver3: true,
  })
  +layout({})
    include ../components/question/question