extends ../templates/default

include ../components/watched/watched
include ../components/empty/empty
include ../components/request-wrapper/request-wrapper
include ../components/request/request

block main
  include ../components/breadcrumbs/breadcrumbs
  
  +title({
    title: 'Результаты поиска',
  })
  
  include ../components/search/search

  +empty({})

  +layout({
    title: 'Не нашли что искали?',
  })
    +request-wrapper({})
      +request({
        id: 'RequestSearch',
        name: true,
        phone: true,
        email: true,
        footer: true, 
      })

  
  +watched({
    title: 'Вы смотрели',
  })
