extends ../templates/default

include ../components/service-card/service-card
include ../components/article/article
include ../components/request-wrapper/request-wrapper
include ../components/request/request

block main
  include ../components/breadcrumbs/breadcrumbs
  
  +title({
    title: 'Наименование услуги',
    back: true,
  })


  +layout-header({
    service: true,
  })


  +layout({})
    +article({
      service: true,
    })


  +layout({
    title: 'Заказать услугу',
  })
    +request-wrapper({})
      +request({
        id: 'RequestService',
        name: true,
        phone: true,
        email: true,
        textarea: true, 
        footer: true,
      })


  +layout({
    variant: 'layout--grid4',
    title: 'Другие услуги',
    link: 'Смотреть все',
  })
    +service-card({
      src: './assets/images/image-3.jpg',
      title: 'Новая парадигма реальности: жизнь прекрасна',
      text: 'Очевидцы сообщают, что слышали ласковый перезвон вертикали власти!',
    })
    +service-card({
      src: './assets/images/image-6.jpg',
      title: 'Главные СМИ предупреждают: небо темнеет',
      text: 'Неподкупность государственных СМИ оказалась ошибочной',
    })
    +service-card({
      src: './assets/images/image-15.jpg',
      title: 'Смешно, но парад бытовой техники оказался началом великой войны',
      text: 'Нынче никто не может себе позволить инициировать шопот бессменных лидеров',
    })
    +service-card({
      src: './assets/images/image-19.jpg',
      title: 'Был сорван доклад председателя совхоза!',
      text: 'Давайте разбираться: чистый разум не скован границами',
    })