extends ../templates/default

block main
  include ../components/breadcrumbs/breadcrumbs
  
  +title({
    title: 'Карта сайта',
  })
  include ../components/site-nav/site-nav
  include ../components/site-nav/site-nav
  include ../components/site-nav/site-nav