.profile-nav {
  &__toggle {
    position: absolute;
    top: 7px;
    right: 4px;
    display: none;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 0;
    flex-shrink: 0;
    background: 0;
    cursor: pointer;

    @media (max-width: $phone) {
      display: flex;
    }

    span {
      position: relative;
      display: inline-block;
      width: 16px;
      height: 2px;
      background: 0;
      user-select: none;
      pointer-events: none;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 10px;
        height: 2px;
        background-color: currentcolor;
        transition: transform 0.3s;
        transform: rotate(45deg);
        transform-origin: 50% 50%;
        content: "";
      }

      &:after {
        position: absolute;
        top: 0;
        right: 0;
        width: 10px;
        height: 2px;
        background-color: currentcolor;
        transition: transform 0.3s;
        transform: rotate(-45deg);
        transform-origin: 50% 50%;
        content: "";
      }
    }
  }

  &__inner {
    width: 250px;
    flex-shrink: 0;

    @media (max-width: $phone) {
      position: absolute;
      top: 54px;
      right: 0;
      left: 0;
      z-index: 10;
      width: 100%;
      padding-top: 5px;
      padding-right: 15px;
      padding-bottom: 5px;
      padding-left: 15px;
      background-color: $white-1;
      transition:
        visibility 0.3s,
        opacity 0.3s;
      visibility: hidden;
      opacity: 0;
      box-shadow: 0 20px 30px rgba($color: #000000, $alpha: 10%);
    }
  }

  &__list {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    border: 1px solid $grey-6;
    list-style: none;
    overflow: hidden;

    @media (max-width: $phone) {
      margin-bottom: 0;
      border: 0;
      border-bottom: 1px solid $grey-6;
    }

    &:last-of-type {
      margin-bottom: 0;

      @media (max-width: $phone) {
        border-bottom: 0;
      }
    }
  }

  &__item {
    position: relative;
    border-bottom: 1px solid $grey-6;
    background-color: $white-1;

    &:last-of-type {
      border-bottom: 0;
    }

    svg {
      width: 28px;
      height: 28px;
      color: inherit;
      stroke: currentColor;

      @media (max-width: $phone) {
        width: 20px;
        height: 20px;
      }
    }

    &--active {
      color: $blue-1;
    }
  }

  &__link {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
    padding-right: 14px;
    padding-bottom: 11px;
    padding-left: 14px;
    text-decoration: none;
    color: inherit;
    transition:
      color 0.3s,
      background-color 0.3s;
    column-gap: 8px;
    cursor: pointer;

    @media (max-width: $phone) {
      padding-top: 10px;
      padding-right: 0;
      padding-bottom: 10px;
      padding-left: 0;
    }

    &:hover {
      @media (min-width: $desktop-only) {
        color: $blue-1;
        background-color: $grey-3;
      }
    }
  }

  &__icon {
    img {
      display: block;
      width: 15px;
      height: 15px;
    }
  }

  &--active {
    .profile-nav__toggle span {
      &:before {
        transform: rotate(135deg);
      }

      &:after {
        transform: rotate(-135deg);
      }
    }

    .profile-nav__inner {
      visibility: visible;
      opacity: 1;
    }
  }
}
