.alert {
  &:not(.alert-danger):not(.alert-warning):not(.alert-success):not(
      .alert-hide
    ):not(.alert-show) {
    position: relative;
    display: flex;
    min-width: 420px;
    max-width: 630px;
    min-height: 64px;
    align-items: center;
    margin-bottom: 20px;
    margin-left: auto;
    padding-top: 19px;
    padding-right: 29px;
    padding-bottom: 19px;
    padding-left: 19px;
    color: inherit;
    background-color: $white-1;
    box-shadow: 0 10px 15px rgba($color: #111111, $alpha: 10%);
    gap: 15px;

    @media (max-width: 767px) {
      width: 100%;
      min-width: unset;
      max-width: 430px;
      padding-top: 14px;
      padding-right: 29px;
      padding-bottom: 14px;
      padding-left: 14px;
    }

    &:before {
      width: 34px;
      height: 34px;
      margin-bottom: auto;
      background-repeat: no-repeat;
      background-size: contain;
      background-color: transparent;
      flex-shrink: 0;
      content: "";
    }

    .alert {
      &__container {
        @include DТекст18inter-reg;
        margin: 0;

        b {
          @include DЗаголовок30-Заголовок3;
          margin: 0;
          padding: 0;
        }

        a {
          text-decoration: none;
          color: $light-green-1;
          transition: color 0.3s;

          &:hover {
            @media (min-width: $desktop-only) {
              color: $blue-1;
            }
          }
        }
      }

      &__close {
        position: absolute;
        top: 5px;
        right: 5px;
        display: flex;
        width: 20px;
        height: 20px;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        border: 0;
        color: currentcolor;
        background-color: transparent;
        transition: color 0.3s;
        outline: none;
        cursor: pointer;

        &:hover {
          @media (min-width: $desktop-only) {
            color: $blue-1;
          }
        }

        span {
          position: relative;
          display: inline-block;
          width: 20px;
          height: 1px;
          background: transparent;
          vertical-align: bottom;

          &:before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: currentcolor;
            content: "";
            transform: rotate(45deg);
          }

          &:after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: currentcolor;
            content: "";
            transform: rotate(-45deg);
          }
        }
      }

      &__title {
        @include DЗаголовок30-Заголовок3;
        margin: 0;
        padding: 0;

        & + .alert__text {
          margin-top: 2px;
        }
      }

      &__text {
        @include DТекст18inter-reg;
        margin: 0;
        padding: 0;

        a {
          text-decoration: none;
          color: $light-green-1;
          transition: color 0.3s;

          &:hover {
            @media (min-width: $desktop-only) {
              color: $blue-1;
            }
          }
        }
      }
    }
  }

  &--red {
    &:before {
      background-image: url("../assets/images/icon-alert-red.svg");
    }
  }

  &--green {
    &:before {
      background-image: url("../assets/images/icon-alert-green.svg");
    }
  }

  &--grey {
    &:before {
      background-image: url("../assets/images/icon-alert-grey.svg");
    }
  }

  &--bounce {
    animation: bounce 0.6s;
  }

  &--back-bounce {
    transition: opacity 2.5s;
    opacity: 0;
  }
}
