.modal {
  &__container {
    width: 100%;
    max-width: 600px;
    padding: 30px;

    @media (max-width: $phone) {
      width: 100%;
      min-width: unset;
      padding: 15px;
    }
  }

  &__wrapper {
    position: relative;
    padding: 20px;
    background-color: $white-1;

    @media (max-width: $phone) {
      padding-top: 20px;
      padding-right: 15px;
      padding-bottom: 20px;
      padding-left: 15px;
    }
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 5;
    display: flex;
    width: 38px;
    height: 38px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 50%;
    color: $dark-blue-1;
    background-color: $grey-3;
    transition:
      background-color 0.3s,
      color 0.3s;
    outline: none;
    cursor: pointer;

    &:hover {
      @media (min-width: $desktop-only) {
        color: $white-1;
        background-color: $blue-1;
      }
    }

    span {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 1px;
      background: transparent;
      vertical-align: bottom;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: currentcolor;
        content: "";
        transform: rotate(45deg);
      }

      &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: currentcolor;
        content: "";
        transform: rotate(-45deg);
      }
    }
  }

  &__eye {
    position: absolute;
    top: 35px;
    right: 15px;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 0;
    line-height: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: contain;
    cursor: pointer;

    @media (max-width: $phone) {
      top: 32px;
      right: 10px;
      width: 24px;
      height: 24px;
    }
  }

  &__header {
    margin-bottom: 20px;
  }

  &__title {
    @include DЗаголовок30-Заголовок3;
    margin: 0;
    padding: 0;
  }

  &__banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    img {
      width: 60px;
      height: 60px;
    }
  }

  &__post-title {
    @include DТекст16inter-reg;
    margin: 0;
    margin-top: 5px;

    em {
      font-style: normal;
      color: $red-1;
    }
  }

  &__text {
    @include DТекст16inter-reg;
    margin: 0;
    margin-bottom: 10px;

    em {
      font-style: normal;
      color: $red-1;
    }

    &--center {
      text-align: center;
    }
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    row-gap: 20px;

    .modal__buttons {
      margin-top: 0;
    }
  }

  &__fields {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 8px;
  }

  &__field {
    position: relative;
  }

  &__line {
    margin: 0;
    border: 0;
    border-top: 2px dotted $grey-8;
  }

  &__input {
    @include DТекст16inter-reg;
    width: 100%;
    margin: 0;
    padding-top: 11px;
    padding-right: 14px;
    padding-bottom: 12px;
    padding-left: 14px;
    border: 1px solid $grey-6;
    color: $dark-blue-1;
    background-color: $white-1;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;

    &::placeholder {
      @include DТекст16inter-reg;
      color: $grey-8;
    }
  }

  &__textarea {
    @include DТекст16inter-reg;
    display: block;
    width: 100%;
    min-height: 120px;
    margin: 0;
    padding-top: 11px;
    padding-right: 14px;
    padding-bottom: 12px;
    padding-left: 14px;
    border: 1px solid $grey-6;
    color: $dark-blue-1;
    background-color: $white-1;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    resize: none;

    &::placeholder {
      @include DТекст16inter-reg;
      color: $grey-8;
    }
  }

  &__label {
    @include DТекст14inter-reg;
    display: block;
    margin-bottom: 3px;
    color: $dark-blue-1;
  }

  &__radio {
    &:checked + label {
      border-style: solid;
      border-color: $dark-blue-1;
    }
  }

  &__radio-label {
    @include DТекст15inter-reg;
    position: relative;
    display: flex;
    min-height: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    border: 1px dashed $grey-7;
    border-radius: 0;
    text-align: center;
    user-select: none;
    cursor: pointer;

    &:hover {
      @media (min-width: $desktop-only) {
        border-style: solid;
        border-color: $blue-1;
      }
    }
  }

  &__radio-description {
    @include DТекст12inter-reg;
    display: block;
    color: $grey-8;
  }

  &__legal {
    @include DТекст14inter-reg;
    margin: 0;
    padding: 0;
    color: $grey-8;
    grid-column: span 2;

    @media (max-width: $phone) {
      text-align: center;
      order: 1;
    }

    a {
      color: $light-green-1;
      transition: text-decoration-color 0.3s;
      text-decoration-color: $light-green-1;

      &:hover {
        @media (min-width: $desktop-only) {
          text-decoration-color: transparent;
        }
      }
    }
  }

  &__buttons {
    display: grid;
    margin-top: 20px;
    grid-auto-flow: column;
    column-gap: 20px;
    row-gap: 10px;

    @media (max-width: $phone) {
      grid-auto-flow: row;
    }
  }

  &__cancel {
    @media (max-width: $phone) {
      order: 1;
    }
  }

  &__footer {
    display: grid;
    margin-top: 25px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 25px;

    @media (max-width: $phone) {
      grid-template-columns: 1fr;
      row-gap: 15px;
    }
  }

  &__select {
    display: none;
  }

  &__choices {
    width: 100%;
    margin: 0;
    padding: 0;
    transition: color 0.3s;
    flex-shrink: 0;

    @media (max-width: $phone) {
      width: 100%;
    }

    &:hover {
      @media (min-width: $desktop-only) {
        color: $blue-1;
      }
    }

    &[data-type*="select-one"] .choices__input {
      @include DТекст16inter-reg;
      width: 100%;
      margin: 0;
      padding-top: 11px;
      padding-right: 14px;
      padding-bottom: 12px;
      padding-left: 14px;
      color: $dark-blue-1;
      background-color: $white-1;
      outline: none;
      overflow: hidden;
      text-overflow: ellipsis;

      &::placeholder {
        @include DТекст16inter-reg;
        color: $grey-8;
      }
    }

    .choices__item {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .choices__list--single {
      @include DТекст16inter-reg;
      margin: 0;
      padding: 0;
      padding-top: 11px;
      padding-right: 34px;
      padding-bottom: 12px;
      padding-left: 14px;
      border: 1px solid $grey-6;
      text-align: left;
      color: currentcolor;
      background-color: $white-1;
    }

    .choices__list--dropdown {
      z-index: 15;
      min-width: 100%;
      margin: 0;
      border: 1px solid $grey-6;
      border-top: 0;
      border-radius: 0;
      background-color: $white-1;
      box-shadow: 0 30px 30px rgba($color: #000000, $alpha: 10%);
      word-break: initial;

      .choices__list {
        padding-top: 4px;
        padding-right: 4px;
        padding-bottom: 4px;
        padding-left: 4px;
      }

      .choices__item {
        @include DТекст16inter-reg;
        margin: 0;
        padding-top: 12px;
        padding-right: 12px;
        padding-bottom: 13px;
        padding-left: 10px;
        border-radius: 0;
        text-align: left;
        color: $black-1;
        transition:
          color 0.3s,
          background-color 0.3s;
        text-overflow: ellipsis;
        overflow: hidden;

        &:hover {
          @media (min-width: $desktop-only) {
            color: $blue-1;
            background-color: $grey-3;
          }
        }
      }

      .choices__placeholder {
        display: none;
      }

      .is-highlighted {
        background-color: $white-1;
      }

      .is-selected {
        display: none;
      }
    }

    .choices__placeholder {
      opacity: 1;
    }

    &[data-type*="select-one"] .choices__inner {
      min-height: unset;
      margin: 0;
      padding: 0;
      border: 0;
      border-radius: 0;
      background-color: transparent;
    }

    &[data-type*="select-one"]:before {
      position: absolute;
      top: calc(50% - 2px);
      right: 21px;
      width: 10px;
      height: 2px;
      margin: 0;
      border: 0;
      background-color: currentcolor;
      transition: transform 0.3s;
      transform: rotate(45deg);
      pointer-events: none;
      content: "";
    }

    &[data-type*="select-one"]:after {
      position: absolute;
      top: calc(50% - 2px);
      right: 15px;
      width: 10px;
      height: 2px;
      margin: 0;
      border: 0;
      background-color: currentcolor;
      transition: transform 0.3s;
      transform: rotate(-45deg);
      pointer-events: none;
      content: "";
    }

    &[data-type*="select-one"].is-open:before {
      margin: 0;
      transform: rotate(-45deg);
    }

    &[data-type*="select-one"].is-open:after {
      margin: 0;
      transform: rotate(45deg);
    }

    &[data-type*="select-one"].is-open .choices__inner {
      border-radius: 0;
    }
  }

  &--call-us {
    .modal__container {
      max-width: 460px;
    }
  }

  &--product {
    .modal__container {
      max-width: 900px;

      @media (max-width: $phone) {
        padding: 0;
      }
    }
  }
}
