//- div.packaging
//-   select.packaging__select
//-     option(value="4") 960
//-     option(value="4") 0
//-     option(value="4") 4
//-     option(value="4") 8
//-     option(value="4") 9999
//-     option(value="4") 20
//-     option(value="4") 80
//-     option(value="4") 120
//-     option(value="4") 480
//-     option(value="4") 1240

div.packaging
  button - 
  input(type='number')
  button + 