.packaging {
  display: flex;
  border: 1px solid $grey-4;

  button {
    @include DТекст18inter-med;
    width: 25px;
    margin: 0;
    padding: 0;
    background: 0;
    border: 0;
    transition: color 0.3s;
    outline: none;
    cursor: pointer;
    flex-shrink: 0;

    &:hover {
      @media (min-width: $desktop-only) {
        color: $blue-1;
      }
    }
  }

  input {
    @include DТекст16inter-reg;
    min-width: 50px;
    margin: 0;
    margin-right: -1px;
    margin-left: -1px;
    padding-top: 4px;
    padding-right: 10px;
    padding-bottom: 4px;
    padding-left: 10px;
    border: 0;
    border-right: 1px solid $grey-4;
    border-left: 1px solid $grey-4;
    color: $dark-blue-1;
    background: 0;
    text-align: right;
    outline: none;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (max-width: $phone) {
      flex-grow: 1;
    }
  }

  &__select {
    display: none;
  }

  &__choices {
    width: 100%;
    margin: 0;
    padding: 0;
    transition: color 0.3s;
    flex-shrink: 0;

    @media (max-width: $phone) {
      width: 100%;
    }

    &:hover {
      @media (min-width: $desktop-only) {
        color: $blue-1;
      }
    }

    &[data-type*="select-one"] .choices__input {
      @include DТекст16inter-reg;
      width: 100%;
      margin: 0;
      padding-top: 11px;
      padding-right: 14px;
      padding-bottom: 12px;
      padding-left: 14px;
      color: $dark-blue-1;
      background-color: $white-1;
      outline: none;
      overflow: hidden;
      text-overflow: ellipsis;

      &::placeholder {
        @include DТекст16inter-reg;
        color: $grey-8;
      }
    }

    .choices__item {
      text-align: center;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .choices__list--single {
      @include DТекст16inter-reg;
      display: block;
      margin: 0;
      padding: 0;
      padding-right: 40px;
      border: 1px solid $grey-4;
      text-align: left;
      color: currentcolor;
      background-color: transparent;

      .choices__item {
        padding: 4px;
        border-right: 1px solid $grey-4;
      }
    }

    .choices__list--dropdown {
      z-index: 10;
      width: calc(100% - 40px);
      margin: 0;
      border: 1px solid $dark-blue-1;
      border-top: 0;
      border-radius: 0;
      background-color: $white-1;
      box-shadow: 0 30px 30px rgba($color: #000000, $alpha: 10%);
      word-break: initial;

      *::-webkit-scrollbar {
        width: 7px;
      }

      *::-webkit-scrollbar-track {
        margin-top: 0;
        margin-bottom: 0;
        border-left: 1px solid #212121;
        background-color: transparent;
      }

      *::-webkit-scrollbar-thumb {
        height: 5px;
        border-radius: 0;
        background-color: #212121;
      }

      .choices__list {
        max-height: 160px;
        padding: 0;
      }

      .choices__item {
        @include DТекст16inter-reg;
        margin: 0;
        padding: 5px;
        border-radius: 0;
        text-align: center;
        color: $black-1;
        transition:
          color 0.3s,
          background-color 0.3s;
        text-overflow: ellipsis;
        overflow: hidden;

        &:hover {
          @media (min-width: $desktop-only) {
            color: $blue-1;
            background-color: $grey-3;
          }
        }
      }

      .choices__placeholder {
        display: none;
      }

      .is-highlighted {
        background-color: $white-1;
      }

      .is-selected {
        display: none;
      }
    }

    &.is-flipped {
      .choices__list--dropdown {
        border-top: 1px solid $dark-blue-1;
        border-bottom: 0;
      }
    }

    .choices__placeholder {
      opacity: 1;
    }

    &[data-type*="select-one"] .choices__inner {
      min-height: unset;
      margin: 0;
      padding: 0;
      border: 0;
      border-radius: 0;
      background-color: transparent;
    }

    &[data-type*="select-one"]:before {
      position: absolute;
      top: calc(50% - 1px);
      right: 19px;
      width: 10px;
      height: 2px;
      margin: 0;
      border: 0;
      background-color: currentcolor;
      transition: transform 0.3s;
      transform: rotate(45deg);
      pointer-events: none;
      content: "";
    }

    &[data-type*="select-one"]:after {
      position: absolute;
      top: calc(50% - 1px);
      right: 13px;
      width: 10px;
      height: 2px;
      margin: 0;
      border: 0;
      background-color: currentcolor;
      transition: transform 0.3s;
      transform: rotate(-45deg);
      pointer-events: none;
      content: "";
    }

    &[data-type*="select-one"].is-open:before {
      margin: 0;
      transform: rotate(-45deg);
    }

    &[data-type*="select-one"].is-open:after {
      margin: 0;
      transform: rotate(45deg);
    }

    &[data-type*="select-one"].is-open {
      .choices__inner {
        border-radius: 0;
      }

      .choices__list--single {
        border-color: $dark-blue-1;

        .choices__item {
          border-color: $dark-blue-1;
        }
      }
    }
  }
}