.catalog-amount {
  position: sticky;
  top: 110px;
  display: flex;
  flex-direction: column;
  background-color: $white-1;
  // box-shadow: 0 10px 30px rgba($color: $dark-blue-1, $alpha: 5%);
  filter: drop-shadow(0 10px 30px rgba($color: $dark-blue-1, $alpha: 5%));

  &:after {
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: inherit;
    /* stylelint-disable */
    -webkit-mask-box-image: url("../assets/images/mask.svg") 30% repeat;
    mask-border: url("../assets/images/mask.svg") 30% repeat;
    /* stylelint-enable */
    content: "";
  }

  &--hide {
    .catalog-amount {
      &__body {
        height: 0;
      }

      &__toggle {
        &:before {
          transform: rotate(45deg);
        }

        &:after {
          transform: rotate(-45deg);
        }
      }
    }
  }

  &__header {
    @include DЗаголовок16-заголовоктовара;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
    border-bottom: 1px solid $grey-6;
  }

  &__toggle {
    @include DТекст16inter-reg;
    position: relative;
    margin: 0;
    padding: 0;
    padding-right: 25px;
    border: 0;
    background: 0;
    color: inherit;
    transition: color 0.3s;
    cursor: pointer;

    &:hover {
      @media (min-width: $desktop-only) {
        color: $blue-1;
      }
    }
  }

  &__total {
    @include DЗаголовок20-Заголовок5;
    color: $dark-blue-1;
  }

  &__body {
    position: relative;
    height: 360px;
    padding-right: 20px;
    padding-left: 20px;
    flex-grow: 1;
    // transition: height 0.3s;
    overflow: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-track {
      margin-top: 0;
      margin-bottom: 0;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      height: 5px;
      border-radius: 0;
      background-color: #212121;
    }

    .catalog-amount-card {
      margin-top: 15px;
      margin-bottom: 15px;

      &:not(:last-child) {
        padding-bottom: 15px;
        border-bottom: 1px solid $grey-6;
      }
    }
  }

  &__empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    gap: 20px;
  }

  &__icon {
    margin: 0 auto;

    svg {
      display: block;
      margin: 0 auto;
      fill: currentcolor;
      stroke: currentcolor;
    }
  }

  &__title {
    @include DЗаголовок25-Заголовок4;
    margin: 0;
    text-align: center;

    a {
      text-decoration: none;
      color: $light-green-1;
      transition: color 0.3s;

      &:hover {
        @media (min-width: $desktop-only) {
          color: $blue-1;
        }
      }
    }
  }

  &__alert {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;

    b {
      @include DТекст18inter-med;
    }

    p {
      @include DТекст14inter-reg;
      margin: 0;

      b {
        @include DТекст14inter-med;
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    border-top: 1px solid $grey-6;
    color: $grey-8;
    gap: 10px;
  }

  &__min {
    @include DТекст14inter-reg;
    color: $grey-8;
  }
}
