div.back-nav
  ul.back-nav__list 
    li.back-nav__item
      a(href="#").back-nav__link На главную
        span ↗ 
    li.back-nav__item
      a(href="#").back-nav__link Каталог товаров
        span ↗
    li.back-nav__item
      a(href="#").back-nav__link Покупателю
        span ↗
    li.back-nav__item
      a(href="#").back-nav__link Контакты
        span ↗