.back-nav {
  margin-top: 20px;
  text-align: center;

  &__list {
    display: inline-grid;
    margin: 0;
    padding: 0;
    list-style: none;
    grid-auto-flow: column;
    column-gap: 30px;

    @media (max-width: $phone) {
      grid-auto-flow: row;
      row-gap: 10px;
    }
  }

  &__link {
    display: inline-grid;
    text-decoration: none;
    color: $light-green-1;
    transition: color 0.3s;
    grid-template-columns: auto 16px;
    column-gap: 5px;

    &:hover {
      @media (min-width: $desktop-only) {
        color: $blue-1;
      }
    }

    span {
      margin-top: 3px;
      font-family: $icon-font;
    }
  }
}
