.offer-details {
  &__control {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 15px;
    border: 1px solid $grey-4;
    column-gap: 30px;

    @media (max-width: $phone) {
      margin-top: 20px;
      margin-bottom: 20px;
      padding-right: 15px;
    }
    @media print {
      display: none;
    }

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    column-gap: 30px;

    @media (max-width: $phone) {
      flex-direction: column;
      row-gap: 10px;
    }
  }

  &__button {
    @include DТекст16inter-reg;
    display: inline-grid;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    color: $dark-blue-1;
    transition: color 0.3s;
    background: 0;
    grid-auto-flow: column;
    column-gap: 8px;
    flex-shrink: 0;
    cursor: pointer;

    @media (max-width: $phone) {
      column-gap: 4px;
    }

    &:hover {
      @media (min-width: $desktop-only) {
        color: $blue-1;
      }
    }

    svg {
      width: 28px;
      height: 28px;
      stroke: currentcolor;

      @media (max-width: $phone) {
        width: 24px;
        height: 24px;
      }
    }

    &--print {
      @media (max-width: $tablet) {
        display: none;
      }
    }
  }

  &__total {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
  }

  &__total-name {
    @include DТекст14inter-reg;
  }

  &__total-value {
    @include DЗаголовок25-Заголовок4;
  }

  &__thead {
    display: flex;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 2px dotted $grey-8;
    column-gap: 40px;

    @media (max-width: $phone) {
      margin-bottom: 20px;
      padding-bottom: 20px;
      column-gap: 20px;
    }
  }

  &__th {
    @include DТекст16inter-reg;
    min-width: 100px;
    margin: 0;
    text-align: right;
    color: $grey-8;
    flex-shrink: 0;

    @media (max-width: $phone) {
      min-width: unset;
    }

    &:first-of-type {
      text-align: left;
      flex-grow: 1;
    }
  }

  &__row {
    margin-bottom: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid $grey-4;

    @media (max-width: $phone) {
      margin-bottom: 15px;
      padding-bottom: 20px;
    }

    &:last-of-type {
      margin: 0;
      padding: 0;
      border-bottom: 0;
    }
  }

  &__type {
    @include DЗаголовок25-Заголовок4;
    margin: 0;
    margin-bottom: 20px;

    @media (max-width: $phone) {
      margin-bottom: 10px;
    }
  }
}
