.field {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &:has(.field__input:placeholder-shown) .field {

    &__label {
      @include DТекст18inter-reg;
      top: 0;
    }
  }

  &:has(.validator__input--error) {
    .field__label {
      color: $red-1;
    }
  }

  select {
    display: none;
  }

  &__label {
    @include MТекст14Inter-reg;
    position: absolute;
    top: -20px;
    left: 0;
    transition: all $transition-time;
    pointer-events: none;
    user-select: none;
  }

  &__inner {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;

    // &:has(input[type='search']) {

    //   &:after {
    //     position: absolute;
    //     top: calc(50% - 8px);
    //     left: 12px;
    //     width: 16px;
    //     height: 16px;
    //     background-repeat: no-repeat;
    //     background-size: contain;
    //     background-image: url('../assets/images/icon-search-1.svg');
    //     background-color: transparent;
    //     content: '';
    //   }

    //   .field {

    //     &__input[type='search'] {
    //       padding-left: 38px;
    //     }
    //   }
    // }

    // &:has(.field__clear) {
    //   .field {

    //     &__input {
    //       padding-right: 38px;
    //     }
    //   }
    // }

    // &:has(.field__input:placeholder-shown) {
    //   .field {

    //     &__clear {
    //       visibility: hidden;
    //       opacity: 0;
    //     }
    //   }
    // }
  }

  &__input {
    @include DТекст16inter-reg;
    width: 100%;
    min-height: 44px;
    margin: 0;
    padding: 0;
    padding-bottom: 12px;
    border: 0;
    border-bottom: 1px solid $dark-blue-1;
    color: $dark-blue-1;
    background-color: transparent;
    outline: none;
    resize: none;
    overflow: hidden;
    text-overflow: ellipsis;

    &::-webkit-datetime-edit &::-webkit-datetime-edit-fields-wrapper &::-webkit-datetime-edit-text &::-webkit-datetime-edit-month-field &::-webkit-datetime-edit-day-field &::-webkit-datetime-edit-year-field &::-webkit-inner-spin-button &::-webkit-calendar-picker-indicator {
      display: none;
    }

    &::placeholder {
      font: inherit;
      color: $grey-8;
    }

    &:disabled {
      color: $grey-8;
      background-color: $grey-3;
    }

    &:not(textarea) {
      white-space: nowrap;
    }

    &:placeholder-shown {}

    &[readonly] {
      color: $grey-8;
    }
  }

  &__checkbox-label {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }

  &__box {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    margin-bottom: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: $white-1;
    border: 1px solid $grey-6;
    transition:
      background-color 0.3s,
      box-shadow 0.3s,
      border-color 0.3s;
    flex-shrink: 0;
    order: -1;
  }

  input[type='checkbox'] {

    &:checked {

      &+.field__box {
        border-color: $blue-1;
        background-color: $blue-1;

        &:before {
          @include DЗаголовок25-Заголовок4;
          position: absolute;
          top: 0;
          left: 5px;
          color: $white-1;
          content: "✓";
        }
      }
    }

    &.validator__input--error {

      &+.field__box {
        border-color: $red-1;
        // outline: 1px solid $red-1;
      }
    }
  }

  // input[type='radio'] {

  //   &:checked {

  //     &+.field__box {

  //       &:before {
  //         position: absolute;
  //         top: 0;
  //         left: 0;
  //         width: 24px;
  //         height: 24px;
  //         background-repeat: no-repeat;
  //         background-size: contain;
  //         background-image: url('../assets/images/icon-radio--checked.svg');
  //         background-color: transparent;
  //         content: '';
  //       }
  //     }
  //   }

  //   & ~ .field__box {
  //     background-image: url('../assets/images/icon-radio.svg');
  //   }
  // }

  &__choices {
    @include select;
  }

  &__clear {
    position: absolute;
    top: calc(50% - 10px);
    right: 15px;
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: none;
    color: $grey-8;
    transition:
      visibility 0.3s,
      opacity 0.3s,
      color 0.3s;
    visibility: visible;
    opacity: 1;
    flex-shrink: 0;
    background: 0;
    cursor: pointer;
    outline: none;

    &:hover {
      @media(min-width: $desktop-only) {
        color: $blue-1;
      }
    }

    span {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 2px;
      vertical-align: top;
      background: 0 0;

      &:before {
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        transform-origin: 50% 50%;
        transform: rotate(45deg);
        background: currentColor;
        content: '';
      }

      &:after {
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        transform-origin: 50% 50%;
        transform: rotate(-45deg);
        background: currentColor;
        content: '';
      }
    }

    &--active {
      visibility: visible;
      opacity: 1;
    }
  }
}