.promotion-card {
  &__image {
    @include noimg;
    position: relative;
    display: block;
    // height: 215px;
    overflow: hidden;

    // @media(max-width: $phone) {
    //   height: 164px;
    // }

    &:hover {
      @media (min-width: $desktop-only) {
        &:before {
          visibility: initial;
          opacity: initial;
        }
      }
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      font-family: $icon-font;
      font-size: 72px;
      line-height: 96px;
      color: $white-1;
      background-color: rgba($color: $dark-blue-1, $alpha: 30%);
      transition:
        visibility 0.3s,
        opacity 0.3s;
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
      content: "↗";
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__stats {
    @include DТекст14inter-reg;
    display: flex;
    margin: 0;
    margin-top: 15px;
    padding: 0;
    list-style: none;
    column-gap: 25px;
  }

  &__stats-item {
    position: relative;

    &:not(:first-of-type) {
      &:before {
        position: absolute;
        left: -19px;
        content: "—";
      }
    }
  }

  &__title {
    @include DЗаголовок25-Заголовок4;
    margin: 0;
    margin-top: 10px;

    @media (max-width: $phone) {
      margin-top: 5px;
    }

    a {
      display: block;
      text-decoration: none;
      color: $dark-blue-1;
      transition: color 0.3s;

      &:hover {
        @media (min-width: $desktop-only) {
          color: $blue-1;
        }
      }
    }
  }
}
