.promotion-card {
  &__image {
    @include noimg;
    @include hover-banner;
    display: block;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__stats {
    @include DТекст14inter-reg;
    display: flex;
    margin: 0;
    margin-top: 15px;
    padding: 0;
    list-style: none;
    column-gap: 25px;
  }

  &__stats-item {
    position: relative;

    &:not(:first-of-type) {
      &:before {
        position: absolute;
        left: -19px;
        content: "—";
      }
    }
  }

  &__title {
    @include DЗаголовок25-Заголовок4;
    margin: 0;
    margin-top: 10px;

    @media (max-width: $phone) {
      margin-top: 5px;
    }

    a {
      display: block;
      text-decoration: none;
      color: $dark-blue-1;
      transition: color 0.3s;

      &:hover {
        @media (min-width: $desktop-only) {
          color: $blue-1;
        }
      }
    }
  }
}
