.header {
  z-index: 15;

  @media print {
    display: none;
  }

  // &:has(.header__item:hover .header__sub) .header__overlay {
  //   visibility: visible;
  //   opacity: 1;
  // }

  &__padding {
    padding-top: 80px;
    background-repeat: repeat;
    background-position: center top;
    background-color: $grey-3;
    background-image: url("../assets/images/pattern.jpg");

    @media (max-width: $tablet) {
      padding-top: 60px;
    }
  }

  &__fixed {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid $grey-6;
    background-color: $white-1;
    transition:
      transform 0.3s,
      background-color 0.3s,
      border-color 0.3s;
  }

  &__inner {
    background-color: $white-1;
  }

  &__wrapper {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $tablet) {
      height: 60px;
    }

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: -1;
      box-shadow: 0 0vh 0 110vh rgba(0, 0, 0, 0.3);
      transition:
        visibility $transition-time,
        opacity $transition-time;
      visibility: hidden;
      opacity: 0;
      content: '';
    }

    &:has(.header__item:hover .header__sub) {

      &:after {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__overlay {
    position: fixed;
    top: 80px;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    background-color: rgba($color: $dark-blue-1, $alpha: 80%);
    transition:
      visibility 0.3s,
      opacity 0.3s;
    visibility: hidden;
    opacity: 0;

    @media (max-width: $tablet) {
      display: none;
    }
  }

  &__logo {
    width: 120px;
    flex-shrink: 0;

    @media (max-width: $tablet) {
      width: 80px;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
      user-select: none;
    }
  }

  &__nav {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    gap: 20px;

    @media (max-width: $tablet) {}
  }

  &__list {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;

    @media (max-width: $tablet) {
      display: none;
    }
  }

  &__item {
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;

    &:hover {
      @media(min-width: $desktop-only) {

        .header {

          &__sub {
            visibility: visible;
            opacity: 1;

            &~a {

              &:before {
                transform: rotate(-45deg);
              }

              &:after {
                transform: rotate(45deg);
              }
            }
          }
        }
      }
    }
  }

  &__sub {
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
    border-top: 1px solid $grey-6;
    border-bottom: 1px solid $grey-6;
    background-color: $white-1;
    transition:
      visibility $transition-time,
      opacity $transition-time;
    visibility: hidden;
    opacity: 0;

    &~a {
      position: relative;
      padding-right: 20px;

      &:before {
        position: absolute;
        right: 8px;
        width: 6px;
        height: 2px;
        background-color: currentColor;
        transform: rotate(45deg);
        transition: transform $transition-time;
        content: '';
      }

      &:after {
        position: absolute;
        right: 4px;
        width: 6px;
        height: 2px;
        background-color: currentColor;
        transform: rotate(-45deg);
        transition: transform $transition-time;
        content: "";
      }
    }
  }

  &__sub-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 0;
    padding: 0;
    list-style: none;
    column-gap: 30px;
    row-gap: 10px
  }

  &__link {
    @include DТекст16inter-med;
    height: 100%;
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
    transition: color $transition-time;

    &:hover {
      @media(min-width: $desktop-only) {
        color: $blue-1;
      }
    }
  }

  &__actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 10px;

    @media (max-width: $phone) {
      gap: 5px;
    }
  }

  &__action {
    @include DТекст16inter-med;
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
    cursor: pointer;

    @media (max-width: $phone) {
      width: 35px;
      height: 35px;
    }

    &:hover {
      @media (min-width: $desktop-only) {
        color: $blue-1;
      }
    }

    svg {
      fill: currentcolor;
      stroke: currentcolor;

      @media (max-width: $phone) {
        width: 35px;
        height: 35px;
      }
    }

    &[data-count] {
      &:after {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 16px;
        height: 16px;
        padding: 4px;
        border-radius: 10px;
        font-size: 8px;
        font-weight: 500;
        line-height: 9px;
        text-align: center;
        color: #fff;
        background-color: $blue-1;
        content: attr(data-count)
      }
    }
  }

  &__burger {
    display: none;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-right: -10px;
    padding: 0;
    border: 0;
    color: inherit;
    background-color: transparent;
    transition: color 0.3s;
    transform-origin: 50% 50%;
    cursor: pointer;
    user-select: none;

    @media (max-width: $tablet) {
      display: flex;
    }

    @media (max-width: $phone) {
      width: 35px;
      height: 35px;
      margin-right: -5px;
    }

    &:hover {
      @media (min-width: $desktop-only) {
        color: $blue-1;
      }
    }

    span {
      position: relative;
      width: 20px;
      height: 2px;
      transition: width 0.3s 0.3s;

      &:before {
        position: absolute;
        top: 4px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: currentcolor;
        transition:
          top 0.3s 0.3s,
          transform 0.3s;
        content: "";

        @media (max-width: $phone) {
          top: 3px;
        }
      }

      &:after {
        position: absolute;
        bottom: 4px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: currentcolor;
        transition:
          bottom 0.3s 0.3s,
          transform 0.3s;
        content: "";

        @media (max-width: $phone) {
          bottom: 3px;
        }
      }
    }
  }

  &__dropdown {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    border-top: 1px solid $grey-6;
    border-bottom: 1px solid $grey-6;
    background-color: $white-1;
    transition:
      visibility 0.3s,
      opacity 0.3s;
    visibility: hidden;
    opacity: 0;
  }

  &__mobile-nav {
    position: fixed;
    top: 80px;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100 - 80px);
    flex-direction: column;
    border-top: 1px solid $grey-6;
    background-color: $white-1;
    transition:
      transform 0.1s,
      visibility 0.2s,
      opacity 0.2s;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    overflow-y: auto;
    transform: translateX(100%);

    @media (max-width: $phone) {
      top: 60px;
      height: calc(var(--vh, 1vh) * 100 - 60px);
    }
  }

  &__search {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: $white-1;
    transition: unset;
    visibility: hidden;
    opacity: 0;

    &--active {
      transition:
        visibility 0.3s,
        opacity 0.3s;
      visibility: visible;
      opacity: 1;
    }
  }

  &--dropdown {
    color: $dark-blue-1;
    background-color: $white-1;
    border-color: $grey-6;

    @media (min-width: $desktop-only) {
      .header {

        &__list {
          display: none;
        }

        &__dropdown {
          visibility: visible;
          opacity: 1;
        }

        &__overlay {
          visibility: initial;
          opacity: 1;
          transition-delay: 0.1s;
        }
      }
    }

    @media (max-width: $tablet) {
      .header__mobile-nav {
        transition:
          transform 0.5s,
          visibility 0.3s,
          opacity 0.3s;
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
      }
    }

    .header__burger span {
      width: 28px;

      @media (max-width: $phone) {
        width: 20px;
      }

      &:before {
        top: 0;
        transition:
          top 0.3s,
          transform 0.3s 0.3s;
        transform: rotate(45deg);
      }

      &:after {
        bottom: 0;
        transition:
          bottom 0.3s,
          transform 0.3s 0.3s;
        transform: rotate(-45deg);
      }
    }
  }

  &--hidden {
    .header__fixed {
      transform: translateY(-120%);
    }
  }
}