@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("../assets/fonts/Inter/Inter-400.woff2") format("woff2"),
    url("../assets/fonts/Inter/Inter-400.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url("../assets/fonts/Inter/Inter-700.woff2") format("woff2"),
    url("../assets/fonts/Inter/Inter-700.woff") format("woff");
}

@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/ibm/IBMPlexSans.woff") format("woff");
}

@font-face {
  font-family: "IBM Plex Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/ibm/IBMPlexSans-Italic.woff") format("woff");
}

@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../assets/fonts/ibm/IBMPlexSans-Medium.woff") format("woff");
}

@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../assets/fonts/ibm/IBMPlexSans-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/ibm/IBMPlexSans-Bold.woff") format("woff");
}

@font-face {
  font-family: "Circe";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../assets/fonts/Circe/Circe-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "Circe";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../assets/fonts/Circe/Circe-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/Circe/Circe-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/Circe/Circe-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Circe";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../assets/fonts/Circe/Circe-ExtraBold.woff2") format("woff2");
}