$main-font: "IBM Plex Sans";
$title-font: "Circe";
$icon-font: "Inter";

$white-1: #ffffff;

$grey-1: #fafafa;
$grey-2: #fafafa;
$grey-3: #faf9fa;
$grey-4: #d1d1d1;
$grey-5: #f0f0f0;
$grey-6: #f0f0f0;
$grey-7: #888888;
$grey-8: #888888;

$light-blue-1: #ceddf0;
$dark-blue-1: #212121;

$blue-1: #43626D;

$orange-1: #f8b814;

$red-1: #ea4410;
$light-red-1: #e45945;

$light-green-1: #0077c5;

$black-1: #212121;
$black-2: #353535;

$desktop: 1300px;
$tablet: 991px;
$desktop-only: $tablet + 1;
$phone: 767px;

$transition-time: 0.3s;
$article-width: auto;
$border-radius: 10px;

@mixin border {
  border-radius: 10px;
}

@mixin DЗаголовок50-Заголовок1 {
  font-family: $title-font;
  font-size: 80px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  text-transform: uppercase;

  @media (max-width: $desktop) {
    font-size: 50px;
    line-height: 55px;
  }

  @media (max-width: $phone) {
    font-size: 35px;
    line-height: 35px;
  }
}

@mixin DЗаголовок40-Заголовок2 {
  font-family: $title-font;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  text-transform: uppercase;

  @media (max-width: $phone) {
    font-size: 30px;
    line-height: 35px;
  }
}

@mixin DЗаголовок30-Заголовок3 {
  font-family: $title-font;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  text-transform: uppercase;

  @media (max-width: $phone) {
    font-size: 25px;
    line-height: 30px;
  }
}

@mixin DЗаголовок25-Заголовок4 {
  font-family: $title-font;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;

  @media (max-width: $phone) {
    font-size: 20px;
    line-height: 25px;
  }
}

@mixin DЗаголовок20-Заголовок5 {
  font-family: $title-font;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;

  @media (max-width: $phone) {
    font-size: 18px;
    line-height: 20px;
  }
}

@mixin DЗаголовок16-заголовоктовара {
  font-family: $title-font;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

@mixin DТекст30-Ценавкарточкетовара {
  font-family: $main-font;
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  line-height: 35px;

  @media (max-width: $phone) {
    font-size: 14px;
    line-height: 20px;
  }
}

@mixin DТекст18inter-bold {
  font-family: $main-font;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 28px;

  @media (max-width: $phone) {
    font-size: 16px;
    line-height: 25px;
  }
}

@mixin DТекст18inter-med {
  font-family: $main-font;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  line-height: 28px;

  @media (max-width: $phone) {
    font-size: 16px;
    line-height: 20px;
  }
}

@mixin DТекст18inter-reg {
  font-family: $main-font;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;

  @media (max-width: $phone) {
    font-size: 16px;
    line-height: 20px;
  }
}

@mixin DТекст16inter-bold {
  font-family: $main-font;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  line-height: 30px;

  @media (max-width: $phone) {
    font-size: 16px;
    line-height: 20px;
  }
}

@mixin DТекст16inter-med {
  font-family: $main-font;
  font-size: 17px;
  font-weight: 500;
  font-style: normal;
  line-height: 30px;

  @media (max-width: $phone) {
    font-size: 16px;
    line-height: 20px;
  }
}

@mixin DТекст16inter-reg {
  font-family: $main-font;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  line-height: 30px;

  @media (max-width: $phone) {
    font-size: 16px;
    line-height: 20px;
  }
}

@mixin DТекст15inter-med {
  font-family: $main-font;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  line-height: 20px;

  @media (max-width: $phone) {
    font-size: 14px;
    line-height: 20px;
  }
}

@mixin DТекст15inter-reg {
  font-family: $main-font;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;

  @media (max-width: $phone) {
    font-size: 14px;
    line-height: 20px;
  }
}

@mixin DТекст14inter-bold {
  font-family: $main-font;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 20px;

  @media (max-width: $phone) {
    font-size: 12px;
    line-height: 18px;
  }
}

@mixin DТекст14inter-med {
  font-family: $main-font;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 20px;

  @media (max-width: $phone) {
    font-size: 12px;
    line-height: 18px;
  }
}

@mixin DТекст14inter-reg {
  font-family: $main-font;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;

  @media (max-width: $phone) {
    font-size: 12px;
    line-height: 18px;
  }
}

@mixin DТекст13-Крошки {
  font-family: $main-font;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;

  @media (max-width: $phone) {
    font-size: 12px;
    line-height: 18px;
  }
}

@mixin DТекст12inter-reg {
  font-family: $main-font;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;

  @media (max-width: $phone) {
    font-size: 10px;
    line-height: 15px;
  }
}

@mixin DТекст9-Шильдик {
  font-family: $main-font;
  font-size: 9px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
  text-transform: uppercase;
}

@mixin slider-arrow {
  font-family: $icon-font;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;

  @media (max-width: $phone) {
    font-size: 20px;
    line-height: 20px;
  }
}

@mixin MЗаголовок18-Заголовок5 {
  font-family: $title-font;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

@mixin MТекст16Inter-reg {
  font-family: $main-font;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

@mixin MТекст16Inter-med {
  font-family: $main-font;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
}

@mixin MТекст14Inter-reg {
  font-family: $main-font;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

@mixin MТекст14Inter-med {
  font-family: $main-font;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

@mixin zero {
  margin: 0;
  padding: 0;
}

@mixin scroll {
  overflow: auto;
  overflow-x: hidden;
  scrollbar-width: thin;

  /* Chrome and Safari */

  &::-webkit-scrollbar {
    width: 14px;
  }

  &::-webkit-scrollbar-track {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    height: 4px;
    border: 5px solid #ffffff;
    border-radius: 8px;
    background-color: #212121;
  }
}

@mixin noimg {
  padding-top: 56.25%;
  // border: 1px solid $grey-7;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../assets/images/no-image.svg");

  &:has(img) {
    padding: 0;
    border: 0;
    background-image: unset;
  }
}

@mixin Shadow-cards {
  // box-shadow: 0 0 12px rgba(60, 60, 60, 0.18);
  // filter: drop-shadow(0 0 12px rgba(60, 60, 60, 0.18));
  filter: drop-shadow(0 -10px 30px rgba(0, 0, 0, 0.05));
}

@mixin Shadow {
  filter: drop-shadow(0 30px 30px rgba($color: #000000, $alpha: 10%));
}

@mixin hover-banner {
  position: relative;

  &:hover {
    @media (min-width: $desktop-only) {
      &:before {
        visibility: initial;
        opacity: initial;
      }
    }
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-family: $icon-font;
    font-size: 72px;
    line-height: 96px;
    color: $white-1;
    background-color: rgba($color: $blue-1, $alpha: 30%);
    transition:
      visibility 0.3s,
      opacity 0.3s;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    content: "↗";
  }
}

@mixin select {
  width: 100%;
  margin: 0;
  padding: 0;
  transition: color 0.3s;
  flex-shrink: 0;

  @media (max-width: $phone) {
    width: 100%;
  }

  &:hover {
    @media (min-width: $desktop-only) {
      color: $blue-1;
    }
  }

  &[data-type*="select-one"] .choices__input {
    @include DТекст16inter-reg;
    width: 100%;
    margin: 0;
    padding-top: 11px;
    padding-right: 14px;
    padding-bottom: 12px;
    padding-left: 14px;
    color: $dark-blue-1;
    background-color: $white-1;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;

    &::placeholder {
      @include DТекст16inter-reg;
      color: $grey-8;
    }
  }

  .choices__item {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .choices__list--single {
    @include DТекст16inter-reg;
    margin: 0;
    padding-top: 0;
    padding-right: 34px;
    padding-bottom: 12px;
    padding-left: 0;
    border: 0;
    border-bottom: 1px solid $dark-blue-1;
    text-align: left;
    color: currentcolor;
    background-color: transparent;
  }

  .choices__list--dropdown {
    top: calc(100% - 1px);
    z-index: 1;
    min-width: 100%;
    margin: 0;
    border: 1px solid $grey-8;
    border-radius: 0;
    background-color: $white-1;
    box-shadow: 0 30px 30px rgba($color: #000000, $alpha: 10%);
    word-break: initial;

    .choices__list {
      padding: 0;
    }

    .choices__item {
      @include DТекст16inter-reg;
      margin: 0;
      padding-top: 12px;
      padding-right: 12px;
      padding-bottom: 13px;
      padding-left: 10px;
      border-radius: 0;
      text-align: left;
      color: $black-1;
      transition:
        color 0.3s,
        background-color 0.3s;
      text-overflow: ellipsis;
      overflow: hidden;

      &:hover {
        @media (min-width: $desktop-only) {
          color: $blue-1;
          background-color: $grey-3;
        }
      }
    }

    .choices__placeholder {
      display: none;
    }

    .is-highlighted {
      background-color: $white-1;
    }

    .is-selected {
      display: none;
    }
  }

  .choices__placeholder {
    color: transparent;
    opacity: 1;
  }

  &[data-type*="select-one"] {
    .choices__inner {
      min-height: unset;
      margin: 0;
      padding: 0;
      border: 0;
      border-radius: 0;
      background-color: transparent;
    }

    .choices__button {
      display: none;
    }
  }

  &[data-type*="select-one"] .choices__inner {
    min-height: unset;
    display: flex;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background-color: transparent;
  }

  &[data-type*="select-one"]:before {
    position: absolute;
    top: calc(50% - 2px);
    right: 15px;
    width: 8px;
    height: 2px;
    margin: 0;
    border: 0;
    background-color: currentcolor;
    transition: transform 0.3s;
    transform: rotate(45deg);
    pointer-events: none;
    content: "";
  }

  &[data-type*="select-one"]:after {
    position: absolute;
    top: calc(50% - 2px);
    right: 10px;
    width: 8px;
    height: 2px;
    margin: 0;
    border: 0;
    background-color: currentcolor;
    transition: transform 0.3s;
    transform: rotate(-45deg);
    pointer-events: none;
    content: "";
  }

  &[data-type*="select-one"].is-open:before {
    margin: 0;
    transform: rotate(-45deg);
  }

  &[data-type*="select-one"].is-open:after {
    margin: 0;
    transform: rotate(45deg);
  }

  &[data-type*="select-one"].is-open .choices__inner {
    border-radius: 0;
  }

  .choices__list--multiple {
    .choices__item {
      @include DТекст15inter-med;
      position: relative;
      align-items: center;
      margin-right: 3px;
      margin-bottom: 3px;
      padding-top: 4px;
      padding-right: 10px;
      padding-bottom: 5px;
      padding-left: 10px;
      border-radius: 50px;
      border: 0;
      color: #ffffff;
      background-color: #212121;
      transition: background-color 0.3s;
      flex-shrink: 0;
    }
  }

  &[data-type*="select-multiple"] {
    .choices__inner {
      @include DТекст16inter-reg;
      margin: 0;
      padding-top: 0;
      padding-right: 34px;
      padding-bottom: 5px;
      padding-left: 0;
      border: 0;
      border-bottom: 1px solid $dark-blue-1;
      text-align: left;
      color: currentcolor;
      background-color: transparent;
    }

    .choices__input {
      @include DТекст16inter-reg;
      display: none;
      margin: 0;
      padding: 0;
      color: $grey-8;
      border: 0;
      text-align: left;
      background-color: transparent;

      @media (max-width: $phone) {
        height: 29px;
      }

      &::placeholder {
        color: inherit;
      }
    }
  }
}