.gallery {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @media (max-width: $desktop) {
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }

    @media (max-width: $tablet) {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    @media (max-width: $phone) {
      grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
      gap: 8px;
    }
  }

  &__item {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    padding-top: 100%;
    border-radius: 10px;
    overflow: hidden;

    @media (max-width: $phone) {
      border-radius: 8px;
    }

    img {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      cursor: zoom-in;
    }
  }
}
