section.gallery
  div.gallery__list
    <!-- В data-original пишем адрес для картинки в большом разрешении. -->
    figure.gallery__item
      img(src="./assets/images/image-1.jpg", alt="" data-original="./assets/images/image-1.jpg")
    figure.gallery__item
      img(src="./assets/images/image-2.jpg", alt="" data-original="./assets/images/image-2.jpg")
    figure.gallery__item
      img(src="./assets/images/image-12.jpg", alt="" data-original="./assets/images/image-12.jpg")
    figure.gallery__item
      img(src="./assets/images/image-14.jpg", alt="" data-original="./assets/images/image-14.jpg")
    figure.gallery__item
      img(src="./assets/images/image-17.jpg", alt="" data-original="./assets/images/image-17.jpg")
    figure.gallery__item
      img(src="./assets/images/item-background-1.jpg", alt="" data-original="./assets/images/item-background-1.jpg")
    figure.gallery__item
      img(src="./assets/images/promo-picture-5.jpeg", alt="" data-original="./assets/images/promo-picture-5.jpeg")