.request {

  .button {
    max-width: 100%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__fields {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
  }

  &__field {

    &--wide {
      grid-column: 1 / -1;
    }
  }

  &__legal {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    align-items: center;
    gap: 30px;
  }

  &__legal-check {
    @include DТекст15inter-reg;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    color: $grey-8;
    gap: 10px;
    grid-column: span 2;

    p {
      margin: 0;
    }

    a {
      color: $light-green-1;
      transition: text-decoration-color 0.3s;
      text-decoration-color: $light-green-1;

      &:hover {
        @media(min-width: $desktop-only) {
          text-decoration-color: transparent;
        }
      }
    }

    .field {
      margin-bottom: auto;
    }
  }

  &__footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid $grey-6;
    gap: 20px;

    @media(max-width: $phone) {
      flex-direction: column;
      margin-top: 20px;
      padding-top: 20px;
      gap: 10px;
    }
  }

  &__contact {
    display: inline-grid;
    align-items: center;
    text-decoration: none;
    color: $dark-blue-1;
    transition: color 0.3s;
    grid-auto-flow: column;
    column-gap: 5px;

    &:hover {
      @media(min-width: $phone) {
        color: $blue-1;
      }
    }

    svg {
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      stroke: currentcolor;
    }
  }
}