include ../item-card/item-card

mixin watched(props)  
  section.watched
    div.container
      div.watched__wrapper
        h2.watched__title=props.title
        div.swiper.watched__slider
          ul.swiper-wrapper.watched__slider-list
            li.swiper-slide.watched__slider-item
              +item-card({
                ver1: true,
              })
            li.swiper-slide.watched__slider-item
              +item-card({
                ver2: true,
              })
            li.swiper-slide.watched__slider-item
              +item-card({
                ver3: true,
              })
            li.swiper-slide.watched__slider-item
              +item-card({
                ver3: true,
              })
            li.swiper-slide.watched__slider-item
              +item-card({})
            li.swiper-slide.watched__slider-item
              +item-card({
                ver1: true,
              })
            li.swiper-slide.watched__slider-item
              +item-card({
                ver2: true,
              })
            li.swiper-slide.watched__slider-item
              +item-card({})
            li.swiper-slide.watched__slider-item
              +item-card({})
            li.swiper-slide.watched__slider-item
              +item-card({
                ver1: true,
              })
            li.swiper-slide.watched__slider-item
              +item-card({
                ver2: true,
              })
          div.watched__scrollbar
        div.watched__slider-buttons
          button(type='button' aria-label='Предыдущий слайд.').watched__slider-button.watched__slider-button--prev ←
          button(type='button' aria-label='Следующий слайд.').watched__slider-button.watched__slider-button--next →