section.intro
  div.container
    div.intro__wrapper
      div.intro__content
        h1.intro__title
          b Комплексный поставщик
          br
          span для баров и ресторанов
        div.intro__actions
          a(href="#").button.button--blue Сделать заказ 
          a(href="#").button Скачать прайс-лист

      figure.intro__banner
        img(src="./assets/images/intro-banner-1.png", alt="")