.intro {
  background: rgba(67, 98, 109, 0.20);

  &__wrapper {
    min-height: 500px;
    display: flex;
    align-items: center;
    gap: 80px;

    @media(max-width: $tablet) {
      gap: 40px;
    }

    @media(max-width: $phone) {
      flex-direction: column;
      gap: 24px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    flex-grow: 1;
    gap: 40px;

    @media(max-width: $phone) {
      padding-top: unset;
      gap: 24px;
    }
  }

  &__title {
    @include DЗаголовок40-Заголовок2;
    margin: 0;

    b {
      font-size: 50px;
      font-weight: 800;
      line-height: 62px;

      @media(max-width: $tablet) {
        @include DЗаголовок40-Заголовок2;
        font-weight: 800;
      }
    }
  }

  &__actions {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    .button {
      max-width: 300px;

      @media(max-width: $phone) {
        max-width: 100%;
      }
    }
  }

  &__banner {
    width: 100%;
    max-width: 500px;
    margin: 0;
    padding: 0;

    @media(max-width: $phone) {
      order: -1;
    }

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: contain;
    }
  }
}