.clear {
  &__button {
    @include DТекст18inter-med;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 0;
    color: $grey-7;
    background-color: transparent;
    transition: color 0.3s;
    column-gap: 5px;
    cursor: pointer;

    @media (max-width: $tablet) {
      font-size: 0;
      line-height: 0;
      color: $dark-blue-1;
      column-gap: 0;
    }

    &:hover {
      @media (min-width: $desktop-only) {
        color: $blue-1;
      }
    }

    svg {
      stroke: currentcolor;
      flex-shrink: 0;

      @media (max-width: $phone) {
        width: 25px;
        height: 25px;
      }
    }
  }
}
