.socials {
  &__list {
    display: grid;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    grid-auto-flow: column;
    column-gap: 10px;
  }

  &__link {
    display: block;
    width: 60px;
    height: 60px;
    color: $dark-blue-1;
    background-repeat: no-repeat;
    background-size: contain;
    transition: background-image 0.3s;
    cursor: pointer;

    @media (max-width: $phone) {
      width: 40px;
      height: 40px;
    }

    &--fb {
      background-image: url("../assets/images/icon-fb.svg");

      &:hover {
        @media (min-width: $desktop-only) {
          background-image: url("../assets/images/icon-fb--hover.svg");
        }
      }
    }

    &--vk {
      background-image: url("../assets/images/icon-vk.svg");

      &:hover {
        @media (min-width: $desktop-only) {
          background-image: url("../assets/images/icon-vk--hover.svg");
        }
      }
    }

    &--insta {
      background-image: url("../assets/images/icon-insta.svg");

      &:hover {
        @media (min-width: $desktop-only) {
          background-image: url("../assets/images/icon-insta--hover.svg");
        }
      }
    }

    &--you {
      background-image: url("../assets/images/icon-you.svg");

      &:hover {
        @media (min-width: $desktop-only) {
          background-image: url("../assets/images/icon-you--hover.svg");
        }
      }
    }

    &--tele {
      background-image: url("../assets/images/icon-tele.svg");

      &:hover {
        @media (min-width: $desktop-only) {
          background-image: url("../assets/images/icon-tele--hover.svg");
        }
      }
    }

    &--whats {
      background-image: url("../assets/images/icon-whats.svg");

      &:hover {
        @media (min-width: $desktop-only) {
          background-image: url("../assets/images/icon-whats--hover.svg");
        }
      }
    }

    &--wiber {
      background-image: url("../assets/images/icon-wiber.svg");

      &:hover {
        @media (min-width: $desktop-only) {
          background-image: url("../assets/images/icon-wiber--hover.svg");
        }
      }
    }
  }
}
