.header-search {
  .button {
    position: relative;
    max-width: 120px;
    padding-top: 12px;
    padding-bottom: 13px;
  }

  &__wrapper {
    position: relative;
    z-index: 15;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $white-1;

    @media (max-width: $phone) {
      height: calc(var(--vh, 1vh) * 100);
      padding-top: 15px;
      padding-right: 0 !important;
      padding-bottom: 15px;
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    background-color: rgba($color: $dark-blue-1, $alpha: 80%);
  }

  &__form {
    display: flex;
    align-items: center;

    @media (max-width: $phone) {
      margin-bottom: 5px;
    }
  }

  &__field {
    position: relative;
    flex-grow: 1;
  }

  &__input {
    @include DТекст16inter-reg;
    width: 100%;
    padding-top: 11px;
    padding-right: 50px;
    padding-bottom: 12px;
    padding-left: 14px;
    border: 1px solid $grey-6 !important;
    color: $dark-blue-1;
    background-color: $white-1;
    outline: 0;
    text-overflow: ellipsis;

    @media (max-width: $tablet) {
      padding-right: 0;
    }
    @media (max-width: $phone) {
      padding-right: 15px;
    }

    &::placeholder {
      @include DТекст16inter-reg;
      color: $grey-8;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:focus::placeholder {
      color: transparent;
    }
  }

  &__clear {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: none;
    color: $grey-8;
    transition:
      visibility 0.3s,
      opacity 0.3s,
      color 0.3s;
    visibility: hidden;
    opacity: 0;
    flex-shrink: 0;
    background: 0;
    cursor: pointer;
    outline: none;

    @media (max-width: $tablet) {
      display: none;
    }

    &:hover {
      @media (min-width: $desktop-only) {
        color: $blue-1;
      }
    }

    span {
      position: relative;
      display: inline-block;
      width: 15px;
      height: 1px;
      vertical-align: top;
      background: 0 0;

      &:before {
        position: absolute;
        left: 0;
        width: 100%;
        height: 1px;
        transform-origin: 50% 50%;
        transform: rotate(45deg);
        background: currentColor;
        content: "";
      }

      &:after {
        position: absolute;
        left: 0;
        width: 100%;
        height: 1px;
        transform-origin: 50% 50%;
        transform: rotate(-45deg);
        background: currentColor;
        content: "";
      }
    }

    &--active {
      visibility: visible;
      opacity: 1;
    }
  }

  &__submit {
    @media (max-width: $tablet) {
      display: flex;
      width: 55px;
      height: 55px;
      padding: 0;
      font-size: 0;
      line-height: 0;
    }
    @media (max-width: $phone) {
      width: 45px;
      height: 45px;
      min-height: unset;
    }

    &:before {
      @media (max-width: $tablet) {
        position: absolute;
        font-family: $icon-font;
        font-size: 25px;
        font-weight: 500;
        line-height: 30px;
        content: "→";

        @media (max-width: $phone) {
          font-size: 20px;
        }
      }
    }
  }

  &__close {
    @media (max-width: $tablet) {
      display: flex;
      width: 55px;
      height: 55px;
      padding: 0;
      font-size: 0;
      line-height: 0;
      order: -1;
    }
    @media (max-width: $phone) {
      width: 45px;
      height: 45px;
      min-height: unset;
    }

    &:before {
      @media (max-width: $tablet) {
        position: absolute;
        font-family: $icon-font;
        font-size: 25px;
        font-weight: 500;
        line-height: 30px;
        content: "←";

        @media (max-width: $phone) {
          font-size: 20px;
        }
      }
    }
  }

  &__history,
  &__result {
    max-height: calc(var(--vh, 1vh) * 100 - 80px);
    overflow: auto;

    @media (max-width: $tablet) {
      padding-left: 30px;
    }
    @media (max-width: $phone) {
      max-height: calc(var(--vh, 1vh) * 100 - 60px);
      margin-right: -15px;
      margin-left: -15px;
      padding-left: 0;
    }
  }

  &__block {
    display: grid;
    align-items: flex-start;
    padding-right: 5px;
    padding-left: 15px;
    grid-template-columns: 100px 1fr;
    column-gap: 15px;

    @media (max-width: $phone) {
      display: block;
      margin-top: 15px;
      margin-bottom: 15px;
      padding-right: 15px;
      padding-left: 15px;
    }

    &:first-of-type {
      padding-top: 5px;

      @media (max-width: $phone) {
        padding-top: 0;
      }
    }

    &:last-of-type {
      padding-bottom: 5px;

      @media (max-width: $phone) {
        padding-bottom: 0;
      }
    }

    &--last {
      @media (max-width: $phone) {
        margin-top: 20px;
        padding-top: 25px;
        padding-bottom: 25px !important;
        border-top: 1px solid $grey-6;
      }

      .header-search__list {
        margin-top: 0;
      }

      .header-search__link {
        color: $blue-1;
      }
    }
  }

  &__block-name {
    @include DТекст16inter-reg;
    padding-top: 15px;
    padding-bottom: 15px;
    color: $grey-7;

    @media (max-width: $phone) {
      padding: 0;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    flex-grow: 1;

    @media (max-width: $phone) {
      margin-top: 15px;
    }
  }

  &__item {
    @include DТекст16inter-reg;

    &:not(:first-of-type) {
      @media (max-width: $phone) {
        margin-top: 15px;
      }
    }
  }

  &__link {
    display: block;
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    text-decoration: none;
    color: $dark-blue-1;
    transition:
      color 0.3s,
      background-color 0.3s;

    @media (max-width: $phone) {
      padding: 0;
    }

    &:hover {
      @media (min-width: $desktop-only) {
        color: $blue-1;
        background-color: $grey-3;
      }
    }
  }
}
