@import 'src/utils/utils';

.Registration {
  @include zero;

  &__header {
    @include DЗаголовок30-Заголовок3;
    @include zero;
    color: $dark-blue-1;
  }

  &__input {
    margin-top: 15px;

    &--error {

      .Input__field {
        border-color: $red-1;
      }

      .Input__label {
        color: $red-1;
      }

    }
  }

  &__button {
    @include zero;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  &__link {
    @include DТекст14inter-reg;
    @include zero;
    color: $grey-8;

    @media(max-width: $phone) {
      text-align: center;
    }

    a {
      color: $light-green-1;
      transition: text-decoration-color 0.3s;
      text-decoration-color: $light-green-1;

      &:hover {
        @media(min-width: $desktop-only) {
          text-decoration-color: transparent;
        }
      }
    }
  }
}