include ../article/article

div.question.accordion.accordion--active
  div.question__container.accordion__container
    div.question__header.accordion__header
      p.question__title Текст вопроса, который может быть очень длинным
    div.question__inner.accordion__inner
      div.question__answer.accordion__answer
        +article({
          question: true,
        })

div.question.accordion
  div.question__container.accordion__container
    div.question__header.accordion__header
      p.question__title Текст вопроса
    div.question__inner.accordion__inner
      div.question__answer.accordion__answer
        +article({
          question: true,
        })

div.question.accordion
  div.question__container.accordion__container
    div.question__header.accordion__header
      p.question__title Текст вопроса, который может быть очень длинным
    div.question__inner.accordion__inner
      div.question__answer.accordion__answer
        +article({
          question: true,
        })