.up {
  @include slider-arrow;
  position: fixed;
  right: 25px;
  bottom: 60px;
  z-index: 25;
  width: 60px;
  height: 60px;
  border: none;
  color: $grey-8;
  background-color: $grey-6;
  transition:
    visibility 0.3s,
    opacity 0.3s,
    color 0.3s,
    background-color 0.3s;
  visibility: hidden;
  opacity: 0;
  outline: none;
  cursor: pointer;

  @media (max-width: $tablet) {
    right: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    color: $white-1;
    background-color: $blue-1;
  }

  &:hover {
    @media (min-width: $desktop-only) {
      color: $white-1;
      background-color: $blue-1;
    }
  }

  &--visible {
    visibility: visible;
    opacity: 1;
  }
}
