@import 'src/utils/utils';

.Login {
  @include zero;

  &__header {
    @include DЗаголовок30-Заголовок3;
    @include zero;
    margin-bottom: 20px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__input {

    &--error {

      .PhoneInput__field {
        border-color: $red-1;
      }

      .PhoneInput__label {
        color: $red-1;
      }
    }
  }

  &__link {
    @include DТекст14inter-reg;
    @include zero;
    color: $grey-8;

    @media(max-width: $phone) {
      text-align: center;
    }

    a {
      color: $light-green-1;
      transition: text-decoration-color 0.3s;
      text-decoration-color: $light-green-1;

      &:hover {
        @media(min-width: $desktop-only) {
          text-decoration-color: transparent;
        }
      }
    }
  }
}