article.cart-card
  div.cart-card__wrapper
    figure(data-id='3').request-modal-product.cart-card__banner
      img(src="./assets/images/promo-picture-1.jpeg" alt="1915 raspberry edition")
    div.cart-card__main
      p.cart-card__flag-name Brewlok
      p.cart-card__title 1915 raspberry edition
      p.cart-card__type Stout

    div.cart-card__action
      div.cart-card__amount
        p.cart-card__price 240 ₽
        div.cart-card__packaging
          include ../packaging/packaging
    button(type='button' arial-label='Удалить товар из корзины.').cart-card__delete
      span

article.cart-card
  div.cart-card__wrapper
    figure(data-id='3').request-modal-product.cart-card__banner
      img(src="./assets/images/promo-picture-2.jpeg" alt="Медовуха нефильтрованная, осветленная")
    div.cart-card__main
      p.cart-card__flag-name Brewlok
      p.cart-card__title Медовуха нефильтрованная, осветленная "СиВ 3"
      p.cart-card__type Mead

    div.cart-card__action
      div.cart-card__amount
        p.cart-card__price 240 ₽
        div.cart-card__packaging
          include ../packaging/packaging
    button(type='button' arial-label='Удалить товар из корзины.').cart-card__delete
      span

article.cart-card
  div.cart-card__wrapper
    figure(data-id='3').request-modal-product.cart-card__banner
      img(src="./assets/images/promo-picture-4.jpeg" alt="Гренадер")
    div.cart-card__main
      p.cart-card__flag-name Brewlok
      p.cart-card__title Гренадер
      p.cart-card__type Double Oatmeal Stout

    div.cart-card__action
      div.cart-card__amount
        p.cart-card__price 250 ₽
        div.cart-card__packaging
          include ../packaging/packaging
    button(type='button' arial-label='Удалить товар из корзины.').cart-card__delete
      span

article.cart-card
  div.cart-card__wrapper
    figure(data-id='3').request-modal-product.cart-card__banner
      img(src="./assets/images/promo-picture-3.jpeg" alt="Веневитинская дева")
    div.cart-card__main
      p.cart-card__flag-name Brewlok
      p.cart-card__title Веневитинская дева
      p.cart-card__type Russian Imperial Stout

    div.cart-card__action
      div.cart-card__amount
        p.cart-card__price 230 ₽
        div.cart-card__packaging
          include ../packaging/packaging
    button(type='button' arial-label='Удалить товар из корзины.').cart-card__delete
      span



