.cart-card {
  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-right: 40px;
    gap: 20px;

    @media (max-width: $phone) {
      flex-wrap: wrap;
      padding-right: 0;
      gap: 15px;
    }
  }

  &__banner {
    position: relative;
    display: block;
    width: 60px;
    height: 85px;
    margin: 0;
    padding: 0;
    background: 0;
    overflow: hidden;
    flex-shrink: 0;
    cursor: pointer;

    &:hover {
      @media (min-width: $desktop-only) {
        &:before {
          visibility: initial;
          opacity: initial;
        }
      }
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      font-family: $icon-font;
      font-size: 40px;
      line-height: 1;
      color: $white-1;
      background-color: rgba($color: $dark-blue-1, $alpha: 30%);
      transition:
        visibility 0.3s,
        opacity 0.3s;
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
      content: "↗";
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-grow: 1;

    @media (max-width: $phone) {
      max-width: calc(100% - 75px);
      padding-right: 30px;
    }
  }

  &__flag-name {
    @include DТекст14inter-reg;
    margin: 0;
    white-space: nowrap;
  }

  &__title {
    @include DЗаголовок20-Заголовок5;
    margin: 0;
  }

  &__type {
    @include DТекст14inter-reg;
    margin: 0;
    color: $grey-8;
  }

  &__action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    flex-shrink: 0;

    @media (max-width: $phone) {
      width: 100%;
      gap: 10px;
      order: 1;
    }
  }

  &__amount {
    display: grid;
    height: 40px;
    align-items: center;
    grid-template-columns: 1fr 170px;
    gap: 10px;

    @media (max-width: $phone) {
      height: unset;
      grid-template-columns: 1fr 100px;
    }
  }

  &__price {
    @include DЗаголовок30-Заголовок3;
    margin: 0;
  }

  &__delete {
    position: absolute;
    top: calc(50% - 15px);
    right: 0;
    display: flex;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 0;
    color: currentcolor;
    background-color: transparent;
    transition: color 0.3s;
    outline: none;
    align-self: center;
    cursor: pointer;

    @media (max-width: $phone) {
      top: 5px;
      width: 20px;
      height: 20px;
    }

    &:hover {
      @media (min-width: $desktop-only) {
        color: $blue-1;
      }
    }

    span {
      position: relative;
      display: inline-block;
      width: 25px;
      height: 1px;
      background: transparent;
      vertical-align: bottom;

      @media (max-width: $phone) {
        width: 20px;
      }

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: currentcolor;
        content: "";
        transform: rotate(45deg);
      }

      &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: currentcolor;
        content: "";
        transform: rotate(-45deg);
      }
    }
  }
}
