.personal-data {
  margin-bottom: 30px;

  .button {
    width: unset;
  }

  &__form {}

  &__fields {}

  &__field-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 20px;

    @media(max-width: $phone) {
      flex-direction: column;
      row-gap: 10px;
    }

    &:has([readonly]) {
      
      .personal-data__save,
      .personal-data__cancel {
        display: none;
      }

      .personal-data__change {
        display: inline-grid;
      }
    }
  }

  &__save,
  &__cancel {
    display: inline-grid;
  }

  &__change {
    display: none;
  }

  &__field {
    max-width: 420px;
    flex-grow: 1;
  }

  &__field-action {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;

    @media(max-width: $phone) {
      column-gap: 40px;
      row-gap: 20px;
    }
  }
}