div.breadcrumbs
  div.container
    ul.breadcrumbs__list
        li.breadcrumbs__item
          a(href='#') Главная
        li.breadcrumbs__item
          a(href='#') Каталог товаров
        li.breadcrumbs__item
          a(href='#') Солод
        li.breadcrumbs__item
          span Солод шишковой улучшенный свежий