div.about-nav
  <!-- Сюда выводится текущая страница -->
  span.about-nav__header Миссия и ценности
  ul.about-nav__list
    li.about-nav__item
      a(href="#").about-nav__button О нас
    li.about-nav__item.about-nav__item--active
      a(href="#").about-nav__button Миссия и ценности
    li.about-nav__item 
      a(href="#").about-nav__button Сотрудничество
    li.about-nav__item 
      a(href="#").about-nav__button Контакты