.about-nav {
  position: relative;

  &__header {
    position: relative;
    display: none;
    align-items: center;
    padding-top: 11px;
    padding-right: 33px;
    padding-bottom: 12px;
    padding-left: 14px;
    border: 1px solid $grey-6;
    background-color: $white-1;
    user-select: none;
    cursor: pointer;

    @media (max-width: $tablet) {
      display: flex;
    }

    &:before {
      position: absolute;
      top: calc(50% - 2px);
      right: 16px;
      width: 10px;
      height: 2px;
      background-color: currentColor;
      transition: transform 0.3s;
      transform: rotate(45deg);
      content: "";
    }

    &:after {
      position: absolute;
      top: calc(50% - 2px);
      right: 10px;
      width: 10px;
      height: 2px;
      background-color: currentColor;
      transition: transform 0.3s;
      transform: rotate(-45deg);
      content: "";
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    list-style: none;

    @media (max-width: $tablet) {
      position: absolute;
      right: 0;
      left: 0;
      z-index: 10;
      display: block;
      margin: 0;
      padding-top: 4px;
      padding-right: 4px;
      padding-bottom: 4px;
      padding-left: 4px;
      border: 1px solid $grey-6;
      border-top: 0;
      text-align: left;
      background-color: #ffffff;
      list-style: none;
      transition:
        visibility 0.3s,
        opacity 0.3s;
      visibility: hidden;
      opacity: 0;
      box-shadow: 0 20px 30px rgba(0 0 0 / 10%);
    }
  }

  &__item {
    position: relative;
    margin-bottom: 5px;

    @media (max-width: $tablet) {
      margin-bottom: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &--active {
      @media (max-width: $tablet) {
        display: none;
      }

      &:before {
        position: absolute;
        top: 10px;
        left: 0;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: currentcolor;
        content: "";

        @media (max-width: $tablet) {
          display: none;
          content: unset;
        }
      }

      .about-nav__button {
        color: $dark-blue-1 !important;
      }
    }
  }

  &__button {
    @include DТекст18inter-med;
    position: relative;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-left: 16px;
    border: 0;
    text-decoration: none;
    color: $grey-8;
    background-color: transparent;
    transition: color 0.3s;
    outline: 0;
    cursor: pointer;

    @media (max-width: $tablet) {
      width: 100%;
      padding-top: 11px;
      padding-right: 29px;
      padding-bottom: 12px;
      padding-left: 10px;
      font-weight: 400;
      text-align: left;
      color: $dark-blue-1;
    }

    &:hover {
      @media (min-width: $desktop-only) {
        color: $blue-1;
      }
    }
  }

  &--active {
    .about-nav__list {
      visibility: unset;
      opacity: unset;
    }

    .about-nav__header:before {
      transform: rotate(135deg);
    }

    .about-nav__header:after {
      transform: rotate(-135deg);
    }
  }
}
