@import "src/utils/utils.scss";

.notice {
  position: fixed;
  top: 0;
  right: 0;
  bottom: unset;
  left: 0;
  z-index: 15;
  width: 100%;
  height: unset;
  color: $dark-blue-1;
  background-color: $light-blue-1;
  overflow: initial;

  & > .container {
    width: 100%;
  }

  &__overlay {
    display: none;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    padding-right: 0;
    padding-bottom: 13px;
    padding-left: 0;

    @media (max-width: $phone) {
      margin-right: -15px;
      margin-left: -15px;
      padding-top: 10px;
      padding-right: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
    }
  }

  &__main {
    margin-right: 50px;

    @media (max-width: $phone) {
      margin-right: 20px;
    }
  }

  &__text {
    @include DТекст16inter-reg;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    text-decoration: none;

    &:first-of-type {
      margin-top: 0;
    }

    a {
      margin: 0;
      padding: 0;
      text-decoration: underline;
      color: $blue-1;

      &:hover {
        @media (min-width: $desktop-only) {
          text-decoration: none;
        }
      }
    }

    br {
      @media (max-width: $phone) {
        display: none;
      }
    }
  }

  &__close {
    display: flex;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 0;
    color: $dark-blue-1;
    background-color: transparent;
    transition: color 0.3s;
    outline: none;
    cursor: pointer;

    @media (max-width: $phone) {
      width: 24px;
      height: 24px;
    }

    &:hover {
      @media (min-width: $desktop-only) {
        color: $blue-1;
      }
    }

    span {
      position: relative;
      display: inline-block;
      width: 18px;
      height: 1px;
      background: transparent;
      vertical-align: bottom;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: currentcolor;
        content: "";
        transform: rotate(45deg);
      }

      &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: currentcolor;
        content: "";
        transform: rotate(-45deg);
      }
    }
  }
}
