section.notice
  div.popUp__overlay.notice__overlay
  div.container 
    div.popUp__wrapper.notice__wrapper
      div.notice__main
        p.notice__text Важное информационное сообщение! <a href="#" target="_blank" rel=" noopener noreferrer">Подробнее</a>

      button(type="button" aria-label="Закрыть").popUp__close.notice__close
        span