.map {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 56.25%;

  @media (max-width: $phone) {
    padding-top: 100%;
  }

  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__ymap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__balloon {
    position: absolute;
    z-index: 100;
    display: block;
    border-radius: 0;
    text-align: left;
    background-color: $white-1;
    box-shadow: 0 25px 40px rgba($color: #111111, $alpha: 20%);
    white-space: normal;
    background-clip: padding-box;
  }

  &__balloon-close {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 0;
    color: $grey-8;
    background-color: transparent;
    transition: color 0.3s;
    outline: none;
    cursor: pointer;

    &:hover {
      @media (min-width: $desktop-only) {
        color: $blue-1;
      }
    }

    span {
      position: relative;
      display: inline-block;
      width: 18px;
      height: 1px;
      background: transparent;
      vertical-align: bottom;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: currentColor;
        content: "";
        transform: rotate(45deg);
      }

      &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: currentColor;
        content: "";
        transform: rotate(-45deg);
      }
    }
  }

  &__balloon-arrow {
    position: absolute;
    bottom: -11px;
    left: 50%;
    display: block;
    width: 20px;
    height: 10px;
    border-bottom-width: 0;
    border-color: transparent;
    border-style: solid;
    transform: translateX(-50%);

    &:after {
      position: absolute;
      bottom: 1px;
      display: block;
      width: 0;
      height: 0;
      border-color: transparent;
      border-top-color: #ffffff;
      border-width: 10px;
      border-style: solid;
      border-bottom-width: 0;
      content: "";
    }
  }

  &__balloon-inner {
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;

    @media (max-width: $phone) {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  &__balloon-title {
    @include DЗаголовок20-Заголовок5;
    margin: 0;
    margin-bottom: 5px;
    user-select: none;
  }

  &__balloon-city {
    @include DТекст14inter-reg;
    position: relative;
    margin: 0;
    padding: 0;
    padding-left: 34px;
    color: $grey-8;

    &:before {
      position: absolute;
      left: 0;
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("../assets/images/icon-pin.svg");
      content: "";
    }
  }
}
