.promotion-alert {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 630px;
  min-height: 170px;
  margin-bottom: 20px;
  margin-left: auto;
  color: $dark-blue-1;
  background-color: $white-1;
  box-shadow: 0 10px 15px rgba($color: #111111, $alpha: 10%);
  overflow: hidden;
  order: 10;

  @media (max-width: 767px) {
    min-height: 100px;
  }

  a {
    text-decoration: none;
    color: $light-green-1;
    transition: color 0.3s;
    word-break: break-word;

    &:hover {
      @media (min-width: $desktop-only) {
        color: $blue-1;
      }
    }
  }

  &__banner {
    width: 170px;
    flex-shrink: 0;

    @media (max-width: 767px) {
      width: 100px;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__container {
    padding-top: 19px;
    padding-right: 49px;
    padding-bottom: 19px;
    padding-left: 19px;
    border-left: 0;

    @media (max-width: 767px) {
      padding-top: 14px;
      padding-right: 19px;
      padding-bottom: 17px;
      padding-left: 14px;
    }
  }

  &__close {
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 0;
    color: currentcolor;
    background-color: transparent;
    transition: color 0.3s;
    outline: none;
    cursor: pointer;

    &:hover {
      @media (min-width: $desktop-only) {
        color: $blue-1;
      }
    }

    span {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 1px;
      background: transparent;
      vertical-align: bottom;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: currentcolor;
        content: "";
        transform: rotate(45deg);
      }

      &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: currentcolor;
        content: "";
        transform: rotate(-45deg);
      }
    }
  }

  &__title {
    @include DЗаголовок30-Заголовок3;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;

    & + .alert__text {
      margin-top: 2px;
    }
  }

  &__text {
    @include DТекст18inter-reg;
    margin: 0;
    padding: 0;
  }

  &--bounce {
    animation: bounce 0.6s;
  }
}
