article.promotion-alert
  div.promotion-alert__banner 
    <!-- Рекомендуемые размеры 170/170. -->
    img(src="./assets/images/image-18.jpg" alt="")
  div.promotion-alert__container
    p.promotion-alert__title Заголовок акции
    p.promotion-alert__text
      a(href="#") Внезапно, сознание наших соотечественников не замутнено пропагандой
    p.promotion-alert__text Внезапно, сознание наших соотечественников не замутнено пропагандой
    br
    p.promotion-alert__text
      a(href="#") Подробнее
  button(type="button" arial-label="Закрыть всплывающее окно").promotion-alert__close
    span