.contacts {
  margin-top: 60px;
  margin-bottom: 60px;

  @media (max-width: $phone) {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .socials {
    margin-top: 20px;
  }

  & .contacts__text:last-child {
    margin-bottom: 0;
  }

  &__block {
    max-width: 800px;
    margin-top: 60px;
    margin-bottom: 60px;

    @media (max-width: $phone) {
      margin-top: 40px;
      margin-bottom: 40px;
    }

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &--sidebar {
      display: grid;
      max-width: unset;
      grid-template-columns: minmax(0, 800px) 360px;
      column-gap: 40px;

      @media (max-width: $tablet) {
        grid-template-columns: 1fr;
        row-gap: 30px;
      }
      @media (max-width: $phone) {
        row-gap: 15px;
      }
    }

    &--wide {
      max-width: unset;
    }
  }

  &__title {
    @include DЗаголовок40-Заголовок2;
    margin: 0;
    margin-bottom: 20px;

    @media (max-width: $phone) {
      margin-bottom: 15px;
    }

    em {
      font-style: normal;
      color: $blue-1;
    }
  }

  &__sidebar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 30px;

    @media (max-width: $tablet) {
      justify-content: unset;
    }
    @media (max-width: $phone) {
      flex-direction: column;
      row-gap: 15px;
    }
  }

  &__sidebar-title {
    @include DТекст18inter-med;
    margin: 0;
    margin-bottom: 5px;

    @media (max-width: $phone) {
      margin-bottom: unset;
    }
  }

  &__sidebar-link {
    color: $light-green-1;
    transition: text-decoration-color 0.3s;
    text-decoration-color: $light-green-1;

    &:hover {
      @media (min-width: $desktop-only) {
        text-decoration-color: transparent;
      }
    }
  }

  &__text {
    margin: 0;
    margin-bottom: 20px;

    @media (max-width: $phone) {
      margin-bottom: 15px;
    }
  }

  &__link {
    color: $light-green-1;
    transition: text-decoration-color 0.3s;
    text-decoration-color: $light-green-1;

    &:hover {
      @media (min-width: $desktop-only) {
        text-decoration-color: transparent;
      }
    }
  }

  &__plan {
    margin-bottom: 20px;

    @media (max-width: $phone) {
      margin-bottom: 15px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__plan-title {
    @include DТекст18inter-med;
    margin: 0;
    margin-bottom: 15px;

    @media (max-width: $phone) {
      margin-bottom: 10px;
    }
  }

  &__plan-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__plan-item {
    display: grid;
    margin-bottom: 10px;
    grid-template-columns: 8px 1fr;
    column-gap: 5px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__circle {
    width: 8px;
    height: 8px;
    margin-top: 10px;
    border-radius: 50%;

    @media (max-width: $phone) {
      margin-top: 6px;
    }
  }

  &__map {
    margin-top: 60px;
    margin-bottom: 60px;

    @media (max-width: $phone) {
      margin-top: 40px;
      margin-bottom: 40px;
    }

    .map {
      background-color: $grey-3;
      overflow: hidden;

      @media (max-width: $phone) {
        padding-top: 345px;
      }
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    margin-top: 20px;

    @media (max-width: $tablet) {
      flex-direction: column;
      align-items: unset;
    }
    @media (max-width: $phone) {
      flex-direction: row;
      align-items: center;
      margin-top: 10px;
    }
  }

  &__nav-title {
    @include DТекст18inter-med;
    margin: 0;
    margin-right: 30px;

    @media (max-width: $tablet) {
      margin-right: unset;
      margin-bottom: 15px;
    }
    @media (max-width: $phone) {
      margin-right: 10px;
      margin-bottom: unset;
    }
  }

  &__nav-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    column-gap: 20px;
    flex-grow: 1;
  }

  &__nav-item {
    position: relative;

    &:last-of-type {
      margin-left: auto;
    }

    &--mobile {
      display: none;

      @media (max-width: $tablet) {
        display: block;
      }
    }
  }

  &__nav-link {
    display: grid;
    align-items: center;
    text-decoration: none;
    color: $dark-blue-1;
    transition: color 0.3s;
    grid-template-columns: min-content auto;
    column-gap: 5px;
    cursor: pointer;

    @media (max-width: $phone) {
      column-gap: unset;
    }

    &:hover {
      @media (min-width: $desktop-only) {
        color: $blue-1;
      }
    }

    svg {
      stroke: currentcolor;

      @media (max-width: $phone) {
        width: auto;
        height: 20px;
      }
    }

    span {
      @media (max-width: $phone) {
        display: none;
      }
    }
  }

  &__message {
    @include DТекст14inter-reg;
    position: absolute;
    right: 0;
    margin-top: 6px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    border: 1px solid $dark-blue-1;
    background-color: $white-1;
    transition:
      visibility 0.3s,
      opacity 0.3s;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 25px 40px rgba(17 17 17 / 20%);
    white-space: nowrap;
    pointer-events: none;
    user-select: none;

    &--active {
      visibility: initial;
      opacity: unset;
    }
  }

  &__requisites {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    background: $grey-2;
    column-gap: 20px;
    row-gap: 20px;

    @media (max-width: $phone) {
      flex-direction: column;
      padding-top: 15px;
      padding-right: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
      row-gap: 10px;
    }
  }

  &__requisites-block {
    flex-basis: 0;

    @media (max-width: $phone) {
      flex-basis: initial;
    }
  }

  &__requisites-name {
    @include DТекст14inter-reg;
    margin: 0;
    margin-bottom: 5px;
    color: $grey-8;
    white-space: nowrap;

    @media (max-width: $phone) {
      margin-bottom: unset;
    }
  }

  &__requisites-value {
    @include DТекст15inter-reg;
    margin: 0;
  }
}
