.accordion {
  &__inner {
    max-height: 0;
    transition: max-height 0.3s ease-in;
    overflow: hidden;
  }

  &--active {
    border-color: $blue-1 !important;

    .accordion__header {
      color: $blue-1;
    }

    .accordion__header:after {
      transform: rotate(45deg);
    }

    .accordion__header:before {
      transform: rotate(-45deg);
    }
  }
}
