.offer-card {
  margin-bottom: 15px;
  padding-right: 19px;
  padding-left: 19px;
  border: 1px solid $grey-6;
  background-color: $white-1;
  transition: border-color 0.3s;

  @media (max-width: $phone) {
    margin-bottom: 10px;
    padding-right: 14px;
    padding-left: 14px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &__header {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 14px;
    padding-right: 40px;
    padding-bottom: 14px;
    color: $dark-blue-1;
    transition: color 0.3s;
    cursor: pointer;

    @media (max-width: $phone) {
      flex-direction: column;
      align-items: unset;
      padding-right: 30px;
    }

    &:hover {
      .offer-card__header-title {
        @media (min-width: $desktop-only) {
          color: $blue-1;
        }
      }
    }

    &:after {
      position: absolute;
      top: calc(50% - 2px);
      right: 0;
      width: 10px;
      height: 2px;
      background-color: currentcolor;
      transition:
        transform 0.3s,
        background-color 0.3s;
      transform-origin: 50% 50%;
      transform: rotate(-45deg);
      content: "";
    }

    &:before {
      position: absolute;
      top: calc(50% - 2px);
      right: 6px;
      width: 10px;
      height: 2px;
      background-color: currentcolor;
      transition:
        transform 0.3s,
        background-color 0.3s;
      transform-origin: 50% 50%;
      transform: rotate(45deg);
      content: "";
    }
  }

  &__status {
    @include DТекст14inter-med;
    position: relative;
    display: flex;
    align-items: center;
    color: $grey-8;

    &:before {
      position: relative;
      width: 8px;
      height: 8px;
      margin-right: 5px;
      border-radius: 50%;
      background-color: currentcolor;
      content: "";
    }

    &--formed {
      color: $grey-8;
    }

    &--delivery {
      color: $orange-1;
    }

    &--awaiting {
      color: $orange-1;
    }

    &--finished {
      color: $light-green-1;
    }

    &--canceled {
      color: $light-red-1;
    }
  }

  &__header-title {
    @include DЗаголовок20-Заголовок5;
    margin: 0;
    transition: color 0.3s;

    b {
      font-weight: 400;
      white-space: nowrap;
    }
  }

  &__name {
    @include DТекст14inter-reg;

    @media (max-width: $phone) {
      margin-top: 5px;
    }
  }

  &__inner {
    max-height: 0;
    transition: max-height 0.3s ease-in;
    overflow: hidden;
  }

  &__answer {
    display: grid;
    padding-top: 15px;
    padding-bottom: 19px;
    border-top: 1px solid $grey-6;
    transition:
      visibility 0.3s,
      opacity 0.3s;
    visibility: hidden;
    opacity: 0;
    grid-template-columns: 1fr 400px;
    column-gap: 20px;

    @media (max-width: $tablet) {
      grid-template-columns: 1fr;
      row-gap: 10px;
    }
  }

  &__block {
    &:not(:first-of-type) {
      margin-top: 10px;
    }
  }

  &__block-title {
    @include DТекст16inter-reg;
    margin: 0;
  }

  &__block-text {
    @include DТекст16inter-reg;
    margin: 0;
    color: $grey-8;

    a {
      color: $light-green-1;
      transition: text-decoration-color 0.3s;
      text-decoration-color: $light-green-1;

      &:hover {
        @media (min-width: $desktop-only) {
          text-decoration-color: transparent;
        }
      }
    }
  }

  &__block-footer {
    display: grid;
    align-items: center;
    margin-top: 20px;
    grid-template-columns: 1fr 400px;
    column-gap: 20px;
    grid-column: 1 / -1;

    @media (max-width: $tablet) {
      margin-top: 10px;
      grid-template-columns: 1fr;
      row-gap: 10px;
    }
  }

  &__button {
    justify-self: flex-start;

    @media (max-width: $phone) {
      width: 100%;
      margin-top: 10px;
      justify-self: inherit;
    }
  }

  &__links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 30px;

    @media (max-width: $tablet) {
      order: -1;
    }
    @media (max-width: $phone) {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 10px;
    }
  }

  &__qr {
    img {
      display: block;
      width: 100px;
      height: 100px;

      @media (max-width: $tablet) {
        display: none;
      }
    }

    .offer-card__block-text {
      margin-top: 10px;

      @media (max-width: $tablet) {
        display: none;
      }
    }

    .offer-card__button {
      display: none;

      @media (max-width: $tablet) {
        display: grid;
      }
    }
  }

  &--active {
    border-color: $dark-blue-1 !important;

    .offer-card {
      &__header-title {
        color: $blue-1;
      }

      &__header:after {
        transform: rotate(45deg);
      }

      &__header:before {
        transform: rotate(-45deg);
      }

      &__answer {
        visibility: unset;
        opacity: unset;
      }
    }
  }
}
