.header-dropdown {
  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $grey-6;
  }

  &__left {
    margin-right: 60px;
  }

  &__user {
    @include DТекст16inter-med;
    display: grid;
    align-items: center;
    border: 0;
    text-decoration: none;
    color: $dark-blue-1;
    background-color: transparent;
    transition: color 0.3s;
    column-gap: 5px;
    grid-auto-flow: column;
    cursor: pointer;

    &:hover {
      @media (min-width: $desktop-only) {
        color: $blue-1;
      }
    }

    svg {
      stroke: currentcolor;
    }
  }

  &__main {
    width: 600px;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-shrink: 0;
  }

  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    column-gap: 20px;
  }

  &__item {
    @include DТекст16inter-med;

    &:first-of-type {
      .header-dropdown__link {
        padding-left: 0;
      }
    }

    &:last-of-type {
      .header-dropdown__link {
        padding-right: 0;
      }
    }

    &--language {
      margin-left: auto;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $dark-blue-1;
    transition: color 0.3s;

    &:hover {
      @media (min-width: $desktop-only) {
        color: $blue-1;
      }
    }

    svg {
      margin-right: 5px;
      fill: currentcolor;
      stroke: currentcolor;
    }

    sup {
      @include DТекст14inter-med;
      color: $grey-8;
      transform: translateY(-5px);
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $grey-6;
    gap: 10px;

    @media (max-width: $phone) {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    a {
      text-decoration: none;
      color: $light-green-1;
      transition: color 0.3s;

      &:hover {
        @media (min-width: $desktop-only) {
          color: $blue-1;
        }
      }
    }
  }

  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 50px;
  }

  &__tel {
    text-decoration: none;
    color: $light-green-1;
    transition: color 0.3s;

    &:hover {
      @media (min-width: $desktop-only) {
        color: $blue-1;
      }
    }
  }

  &__desc {
    @include DТекст16inter-med;
    margin: 0;
    margin-top: 5px;
    color: $grey-8;
  }

  &__socials {
    margin-top: 15px;
  }

  &__payment {
    margin-top: 60px;
  }

  &__payment-text {
    @include DТекст16inter-med;
    margin: 0;
    color: $grey-8;
  }

  &__payment-list {
    display: grid;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    margin-top: 15px;
    padding: 0;
    list-style: none;
    grid-auto-flow: column;
    column-gap: 30px;
  }

  &__nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__nav-item {
    @include DЗаголовок25-Заголовок4;

    &:not(:first-of-type) {
      margin-top: 15px;
    }
  }

  &__nav-link {
    display: block;
    text-decoration: none;
    color: $dark-blue-1;
    transition: color 0.3s;

    &:hover {
      @media (min-width: $desktop-only) {
        color: $blue-1;
      }
    }
  }
}
