.form-lk {
  position: relative;
  max-width: 420px;
  margin: 0;

  @media (max-width: $phone) {
    max-width: 100%;
  }

  &__title {
    @include DЗаголовок40-Заголовок2;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    color: $grey-8;

    @media (max-width: $phone) {
      margin-bottom: 15px;
    }
  }

  &__fieldset {
    position: relative;
    min-width: auto;
    max-width: 460px;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    border: none;

    @media (max-width: $phone) {
      max-width: 100%;
      margin: 0;
    }

    &--wide {
      max-width: 100%;
    }
  }

  &__field {
    display: flex;
    flex-direction: column;

    &--narrow {
      width: 50%;

      @media (max-width: $tablet) {
        width: 100%;
      }
    }
  }

  &__legend {
    @include DЗаголовок25-Заголовок4;
    margin-bottom: 15px;
    padding: 0;

    @media (max-width: $phone) {
      margin: 15px 0;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;

    @media (max-width: $tablet) {
      display: block;
    }
  }

  &__label {
    @include DТекст14inter-reg;
    display: block;
    margin-bottom: 3px;

    span {
      color: $light-red-1;
    }

    &.error {
      color: $red-1;
    }
  }

  &__item {
    display: block;
    width: 100%;
    margin: 0 0 20px;
    padding: 12px 15px 11px;
    border: 1px solid $grey-6;
    font: inherit;
    color: $dark-blue-1;
    background-color: $white-1;
    text-overflow: ellipsis;
    outline: none;

    &::placeholder {
      color: $grey-8;
    }

    &--select {
      padding: 0;
      border: none;
    }

    &--limited {
      padding: 12px 115px 11px 15px;

      @media (max-width: $phone) {
        padding: 12px 45px 11px 15px;
      }

      &:read-only {
        padding: 12px 45px 11px 15px;
      }
    }

    &.error {
      border: 1px solid $red-1;
      color: $grey-8;
    }
  }

  &__add-contact {
    display: flex;
    max-width: 460px;
    flex-direction: column;
    margin-bottom: 30px;
    gap: 20px;

    @media (max-width: $phone) {
      flex-direction: column;
      margin-bottom: 20px;
    }

    p {
      @include DТекст14inter-reg;
      margin: 0;
      color: $grey-8;

      @media (max-width: $phone) {
        text-align: center;
      }
    }
  }

  &__button-personal {
    @include DТекст15inter-reg;
    position: absolute;
    top: 23px;
    right: 10px;
    display: flex;
    width: auto;
    min-height: 50px;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    text-decoration: underline;
    color: $blue-1;
    background-color: transparent;
    transition: color 0.3s;
    cursor: pointer;

    @media (max-width: $phone) {
      top: 20px;
      min-height: 45px;
    }

    &:hover {
      @media (min-width: $desktop-only) {
        color: $blue-1;
        background-color: none;
      }
    }

    svg {
      stroke: currentcolor;
    }

    &--edit {
      right: 0;
      width: 50px;
      color: $dark-blue-1;

      @media (max-width: $phone) {
        position: absolute;
        width: 45px;
      }
    }

    &--save {
      top: 40px;
      right: 20px;
      min-height: auto;
      padding: 0;
      text-decoration: none;
      color: $light-green-1;

      @media (max-width: $phone) {
        @include DЗаголовок25-Заголовок4;
        position: relative;
        top: 0;
        right: 0;
        width: 100%;
        min-height: 45px;
        margin-bottom: 20px;
        padding-top: 10px;
        padding-right: 5px;
        padding-bottom: 10px;
        padding-left: 5px;
        text-decoration: none;
        color: $dark-blue-1;
        background-color: $grey-3;
        transition:
          background-color 0.3s,
          color 0.3s,
          border-color 0.3s;
        outline: none;
        cursor: pointer;
        user-select: none;
      }

      &:disabled {
        @media (max-width: $phone) {
          color: #7f8899;
          cursor: not-allowed;
        }
      }

      &:not(:disabled):hover {
        @media (min-width: $desktop-only) {
          color: $blue-1;
        }
      }

      span {
        @media (min-width: $phone) {
          display: none;
        }
      }
    }
  }

  &__button-delete {
    @include DТекст14inter-reg;
    position: absolute;
    top: -53px;
    right: 0;
    width: auto;
    min-height: 50px;
    padding: 0;
    padding-left: 25px;
    border: none;
    text-decoration: none;
    color: $grey-8;
    background-color: transparent;
    transition: color 0.3s;
    cursor: pointer;

    @media (max-width: $phone) {
      top: -45px;
      right: -6px;
      width: 40px;
      min-height: 40px;
      font-size: 0;
    }

    & svg {
      position: absolute;
      top: 15px;
      left: 0;
      stroke: currentcolor;

      @media (max-width: $phone) {
        top: 7px;
        left: 8px;
        width: 25px;
        height: 25px;
      }
    }

    &:hover {
      @media (min-width: $desktop-only) {
        color: $blue-1;
        background-color: none;
      }
    }
  }

  &__button-add {
    @media (max-width: $phone) {
      width: 100%;
      min-height: 45px;
    }
  }

  &__button-cancel {
    min-width: 150px;

    @media (max-width: $phone) {
      min-width: calc(50% - 5px);
    }

    &--mobile {
      @media (max-width: $tablet) {
        display: none;
      }
    }
  }

  &__button-forward {
    min-width: 150px;

    @media (max-width: $phone) {
      min-width: calc(50% - 5px);
    }
  }

  &__button-back {
    min-width: 150px;
    margin-right: auto;

    @media (max-width: $tablet) {
      margin: 0;
      margin-left: auto;
    }
    @media (max-width: $phone) {
      min-width: calc(50% - 5px);
    }
  }

  &__button-save {
    min-width: 150px;

    @media (max-width: $phone) {
      min-width: calc(50% - 5px);
    }
  }

  &__control {
    display: flex;
    justify-content: end;
    align-items: flex-start;
    margin-top: 50px;
    padding-top: 50px;
    border-top: 2px dotted $grey-8;
    column-gap: 20px;

    @media (max-width: $phone) {
      justify-content: space-between;
      margin-top: 30px;
      padding-top: 30px;
      column-gap: 10px;
    }

    .button {
      width: unset;
    }
  }

  &__add-organization {
    display: none;

    @media (max-width: $phone) {
      position: relative;
      display: flex;
      width: auto;
      min-height: 60px;
      align-items: center;
      margin-right: -15px;
      margin-bottom: 20px;
      margin-left: -15px;
      padding-right: 15px;
      padding-left: 15px;
      border-bottom: 1px solid $grey-6;
      background-color: $white-1;
    }
  }

  &__back {
    @include DЗаголовок25-Заголовок4;
    display: none;

    @media (max-width: $phone) {
      display: initial;
      text-decoration: none;
      color: inherit;
    }
  }

  &__back-arrow {
    font-family: $icon-font;
    font-size: 20px;
    line-height: 20px;
  }
}
