.mobile-nav {
  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid $grey-6;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-shrink: 0;
    gap: 10px;

    &--big {
      gap: 15px;

      .mobile-nav {
        &__item {
          @include MЗаголовок18-Заголовок5;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
        }
      }
    }
  }

  &__item {
    @include MТекст16Inter-med;

    &--sup {
      .mobile-nav__link {
        padding-right: 40px;
      }
    }

    &--active {
      .mobile-nav__sub-toggle:before {
        transform: rotate(-45deg);
      }

      & > .mobile-nav__link {
        color: $blue-1;
      }
    }
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $dark-blue-1;

    &:hover {
      @media (min-width: $desktop-only) {
        color: $blue-1;
      }
    }

    sup {
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      color: $grey-8;
      transform: translateY(-5px);

      @media (max-width: $tablet) {
        font-size: 12px;
      }
    }
  }

  &__language-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-decoration: none;
    color: $dark-blue-1;
  }

  &__main {
    padding-top: 15px;
    padding-bottom: 40px;
  }

  &__sub-toggle {
    position: relative;
    display: flex;
    width: 30px;
    height: 20px;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-right: -5px;
    padding: 0;
    border: 0;
    color: $dark-blue-1;
    background-color: transparent;

    &:before {
      position: absolute;
      width: 9px;
      height: 9px;
      border-top: 2px solid currentcolor;
      border-right: 2px solid currentcolor;
      transform: rotate(135deg);
      content: "";
    }
  }

  &__sub-list {
    width: 100%;
    max-height: 0;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    list-style: none;
    transition: max-height 0.3s;
    overflow: hidden;
  }

  &__sub-item {
    @include MТекст16Inter-reg;
    margin-top: 8px;
    text-transform: capitalize;
  }

  &__contacts {
    margin-top: 25px;
  }

  &__tel {
    @include MТекст14Inter-reg;
    text-decoration: underline;
    color: $blue-1;
  }

  &__desc {
    @include MТекст14Inter-med;
    margin: 0;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: $grey-8;
  }

  &__socials {
    margin-top: 20px;
  }

  &__payment {
    margin-top: 25px;
  }

  &__payment-text {
    margin: 0;
    color: $grey-8;
  }

  &__payment-list {
    display: grid;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    margin-top: 15px;
    padding: 0;
    list-style: none;
    grid-auto-flow: column;
    column-gap: 20px;
  }
}
