mixin request-wrapper(props)
  
  div.request-wrapper
    if props.title
      div.request-wrapper__header
        h2.request-wrapper__title=props.title
        div.request-wrapper__content
          if props.text
            div.article
              p!=props.text

    div.request-wrapper__main
      block