.request-wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 80px;

  @media(max-width: $tablet) {
    gap: 40px;
  }

  @media(max-width: $phone) {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &:has(.request-wrapper__header) {
    .request {

      &__fields {
        display: flex;
        flex-direction: column;
        gap: 30px;
      }

      &__legal-check {
        grid-column: unset;
      }
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media(max-width: $phone) {
      flex-direction: column;
      gap: 24px;
    }
  }

  &__title {
    @include DЗаголовок40-Заголовок2;
    margin: 0;

    em {
      font-style: normal;
      color: $blue-1;
    }
  }
}