.top-filters {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__top {}

  &__bot {
    display: flex;
    align-items: center;
    padding-top: 30px;
    border-top: 2px dotted $grey-8;
    gap: 30px;
  }

  &__result {
    @include DТекст18inter-med;

    p {
      margin: 0;
    }
  }

  &__sort {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    gap: 15px;

    @media (max-width: $desktop) {
      flex-direction: column;
      align-items: initial;
      gap: 10px;
    }
  }

  &__select {
    display: none;
  }

  &__choices {
    @include select;
  }

  &__view {
    display: flex;

    @media (max-width: $phone) {
      margin-bottom: 20px;
      align-self: flex-end;
    }
  }

  &__view-button {
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    border: 0;
    color: $grey-7;
    background-color: transparent;
    transition: color 0.3s;
    cursor: pointer;

    &:hover {
      @media (min-width: $desktop-only) {
        color: $blue-1;
      }
    }

    svg {
      stroke: currentcolor;
    }

    &--active {
      color: $dark-blue-1;
    }
  }
}