.top-filters {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__top {}

  &__bot {
    display: flex;
    align-items: center;
    padding-top: 30px;
    border-top: 2px dotted $grey-8;
    gap: 30px;

    @media(max-width: $phone) {
      flex-direction: column;
      align-items: unset;
      gap: 15px;
    }
  }

  &__result {
    @include DТекст18inter-med;

    p {
      margin: 0;
    }
  }

  &__sort {
    margin-left: auto;

    @media(max-width: $phone) {
      margin-left: unset;
    }


  }

  &__select {
    display: none;
  }

  &__choices {
    @include select;

    .choices__list--single {
      @include DТекст18inter-med;
      min-height: unset;
      margin: 0;
      padding: 0;
      border: 0;
      border-radius: 0;
      background-color: transparent;
      padding-right: 30px;
    }

    .choices__list--dropdown {
      top: calc(100% + 5px);
    }
  }

  &__view {
    display: flex;
  }

  &__view-button {
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    border: 0;
    color: $grey-7;
    background-color: transparent;
    transition: color 0.3s;
    cursor: pointer;

    &:hover {
      @media (min-width: $desktop-only) {
        color: $blue-1;
      }
    }

    svg {
      stroke: currentcolor;
    }

    &--active {
      color: $dark-blue-1;
    }
  }
}