.find {
  margin-top: 40px;
  margin-bottom: 60px;

  @media (max-width: $phone) {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 280px minmax(0, 1fr);
    grid-template-rows: min-content 1fr;
    column-gap: 30px;
    row-gap: 20px;
    grid-template-areas:
      "region map"
      "location map";

    @media (max-width: $phone) {
      grid-template-columns: minmax(0, 1fr);
      grid-template-rows: unset;
      grid-template-areas:
        "region"
        "map"
        "location";
    }
  }

  &__region {
    grid-area: region;
  }

  &__select {
    display: none;
  }

  &__location {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-area: location;
  }

  &__location-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__location-item {
    margin-bottom: 15px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__location-link {
    @include DТекст16inter-reg;
    text-decoration: none;
    color: $dark-blue-1;
    transition: color 0.3s;

    &:hover {
      @media (min-width: $desktop-only) {
        color: $blue-1;
      }
    }

    sup {
      @include DТекст14inter-med;
      color: $grey-8;
      transform: translateY(-5px);
      text-shadow: initial;
    }

    &--active {
      color: $blue-1;
      text-shadow:
        0.5px 0 0,
        -0.5px 0 0;
    }

    &--big {
      text-shadow:
        0.5px 0 0,
        -0.5px 0 0;
    }
  }

  &__choices {
    margin: 0;
    padding: 0;
    transition: color 0.3s;
    flex-shrink: 0;

    &:hover {
      @media (min-width: $desktop-only) {
        color: $blue-1;
      }
    }

    .choices__item {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .choices__list--single {
      @include DТекст16inter-reg;
      margin: 0;
      padding: 0;
      padding-top: 11px;
      padding-right: 34px;
      padding-bottom: 12px;
      padding-left: 14px;
      border: 1px solid $grey-6;
      text-align: left;
      color: currentcolor;
      background-color: $white-1;
    }

    .choices__list--dropdown {
      z-index: 15;
      min-width: 100%;
      margin: 0;
      border: 1px solid $grey-6;
      border-top: 0;
      border-radius: 0;
      background-color: $white-1;
      box-shadow: 0 30px 30px rgba($color: #000000, $alpha: 10%);
      word-break: initial;

      .choices__list {
        padding-top: 4px;
        padding-right: 4px;
        padding-bottom: 4px;
        padding-left: 4px;
      }

      .choices__item {
        @include DТекст16inter-reg;
        margin: 0;
        padding-top: 12px;
        padding-right: 12px;
        padding-bottom: 13px;
        padding-left: 10px;
        border-radius: 0;
        text-align: left;
        color: $black-1;
        transition:
          color 0.3s,
          background-color 0.3s;
        text-overflow: ellipsis;
        overflow: hidden;

        &:hover {
          @media (min-width: $desktop-only) {
            color: $blue-1;
            background-color: $grey-3;
          }
        }
      }

      .choices__placeholder {
        display: none;
      }

      .is-highlighted {
        background-color: $white-1;
      }

      .is-selected {
        display: none;
      }
    }

    .choices__placeholder {
      opacity: 1;
    }

    &[data-type*="select-one"] .choices__inner {
      min-height: unset;
      margin: 0;
      padding: 0;
      border: 0;
      border-radius: 0;
      background-color: transparent;
    }

    &[data-type*="select-one"]:before {
      position: absolute;
      top: calc(50% - 2px);
      right: 21px;
      width: 10px;
      height: 2px;
      margin: 0;
      border: 0;
      background-color: currentcolor;
      transition: transform 0.3s;
      transform: rotate(45deg);
      pointer-events: none;
      content: "";
    }

    &[data-type*="select-one"]:after {
      position: absolute;
      top: calc(50% - 2px);
      right: 15px;
      width: 10px;
      height: 2px;
      margin: 0;
      border: 0;
      background-color: currentcolor;
      transition: transform 0.3s;
      transform: rotate(-45deg);
      pointer-events: none;
      content: "";
    }

    &[data-type*="select-one"].is-open:before {
      margin: 0;
      transform: rotate(-45deg);
    }

    &[data-type*="select-one"].is-open:after {
      margin: 0;
      transform: rotate(45deg);
    }

    &[data-type*="select-one"].is-open .choices__inner {
      border-radius: 0;
    }
  }

  &__map {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 56.25%;
    background-color: $grey-3;
    overflow: hidden;
    grid-area: map;

    @media (max-width: $tablet) {
      height: 430px;
      padding: 0;
    }
    @media (max-width: $phone) {
      height: 350px;
    }
  }

  &__ymap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__balloon {
    position: absolute;
    z-index: 100;
    display: block;
    border-radius: 0;
    text-align: left;
    background-color: $white-1;
    box-shadow: 0 25px 40px rgba($color: #111111, $alpha: 20%);
    white-space: normal;
    background-clip: padding-box;
  }

  &__balloon-close {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 0;
    color: #aaaaaa;
    background-color: transparent;
    transition: color 0.3s;
    outline: none;
    cursor: pointer;

    &:hover {
      @media (min-width: $desktop-only) {
        color: $black-1;
      }
    }

    span {
      position: relative;
      display: inline-block;
      width: 18px;
      height: 1px;
      background: transparent;
      vertical-align: bottom;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: currentcolor;
        content: "";
        transform: rotate(45deg);
      }

      &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: currentcolor;
        content: "";
        transform: rotate(-45deg);
      }
    }
  }

  &__balloon-arrow {
    position: absolute;
    bottom: -11px;
    left: 50%;
    display: block;
    width: 20px;
    height: 10px;
    border-bottom-width: 0;
    border-color: transparent;
    border-style: solid;
    transform: translateX(-50%);

    &:after {
      position: absolute;
      bottom: 1px;
      display: block;
      width: 0;
      height: 0;
      border-color: transparent;
      border-top-color: #ffffff;
      border-width: 10px;
      border-style: solid;
      border-bottom-width: 0;
      content: "";
    }
  }

  &__balloon-inner {
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;

    @media (max-width: $phone) {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  &__balloon-title {
    @include DЗаголовок20-Заголовок5;
    margin: 0;
    margin-bottom: 5px;
    user-select: none;
  }

  &__balloon-content {
    @include DТекст14inter-reg;
    position: relative;
    margin: 0;
    padding: 0;
    color: $grey-8;

    p {
      margin: 0;
      margin-bottom: 5px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    a {
      text-decoration: none;
      color: inherit;

      &:hover {
        @media (min-width: $desktop-only) {
          color: $blue-1;
        }
      }
    }
  }
}
