section.find
  div.container
    div.find__wrapper
      div.find__region
        select(name="city").find__select

      div.find__location
        ul.find__location-list

      div.find__map
        div.find__ymap


